<div class="container">
  <div class="row">
    <pageheader headertitle="jsp.settings.h1" cols="12">
    </pageheader>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form name="settingsForm" class="form-horizontal"
        ng-submit="$ctrl.save(settingsForm.$valid, settingsForm.$dirty)"
        novalidate>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{"jsp.language.form.selectLanguage.label" | translate}}</label>
          <div class="col-sm-8">
            <languageselect applyonchange="false" onselectlanguage="$ctrl.selectLanguage(selectedLanguage)"></languageselect>
          </div>
        </div>

        <projectsdirectoryselect
          field="settingsForm.projectsDirectory"
          model="$ctrl.selectedProjectsDirectory" name="projectsDirectory"
          label="jsp.changeProjectsDirectory.label"
          labelcols="3" inputcols="8"
          onselectprojectsdirectory="$ctrl.selectProjectsDirectory(directory)"
          forbiddenDirectory="$ctrl.forbiddenDirectory">
        </projectsdirectoryselect>

        <formbuttons form="settingsForm" backfunction="$ctrl.back()"
          offsetcols="3" sizecols="8">
        </formbuttons>

      </form>
    </div>
  </div>
</div>
