<div class="timeline-element">
<li class="timeline-inverted">
    <div class="scene-time-badge list-item-color-{{$ctrl.index}}"></div>
    <div class="scene-time-timestamp">
        <h2>23/04/1975 <small>10:23:23 PM</small></h2>
    </div>
    <div class="timeline-panel timeline-panel-scene">
        <div class="timeline-heading">
            <p><b>{{$ctrl.scene.title}}</b></p>
        </div>
        <div class="timeline-body top10">
            <p><i>Characters</i>: Pippo, Pluto, Paperino</p>
            <p><i>Location</i>: Paladozza, Bologna</p>
        </div>
    </div>
</li>
</div>