<div class="detail-header">
  <div class="container">
    <div class="row">
      <pageheader headertitle="Timeline" buttonshow="false">
      </pageheader>
    </div>
  </div>
</div>
<div class="timeline-container timeline-container-scenes">
  <div class="container">
    <div class="row">
      <ul class="timeline timeline-scenes">
        <timelineelement ng-repeat="timelineelement in $ctrl.timeline track by $index" 
          index="($index % 12)" element="timelineelement"></timelineelement>
      </ul>
    </div>
  </div>
</div>