<div class="container">

  <!-- MAIN CHARACTERS -->
  <cardgrid
    carddimension="small"
    dndenabled="true"
    dropfunction="$ctrl.mainCharacterMove(draggedObjectId, destinationObjectId)"
    family="maincharacters"
    jumbotronbuttontext="jsp.characters.bibiscoEmptyThumbnailListBox.text.main"
    jumbotronbuttonbuttonlabel="jsp.characters.a.createFirstMainCharacter"
    jumbotronbuttonbuttonfunction="$ctrl.createMainCharacter()"
    items="$ctrl.maincharacterscardgriditems"
    pageheaderbuttonlabel="jsp.characters.a.createMainCharacter"
    pageheaderbuttonfunction="$ctrl.createMainCharacter()"
    pageheadertitle="jsp.characters.h1.main"
    pageheadersubtitle="jsp.characters.h1.small.main"
    selectfunction="$ctrl.mainCharacterSelect(id)"
    type="half-top"></cardgrid>

  <!-- SECONDARY CHARACTERS -->
  <cardgrid
    carddimension="small"
    dndenabled="true"
    dropfunction="$ctrl.secondaryCharacterMove(draggedObjectId, destinationObjectId)"
    family="secondarycharacters"
    jumbotronbuttontext="jsp.characters.bibiscoEmptyThumbnailListBox.text.secondary"
    jumbotronbuttonbuttonlabel="jsp.characters.a.createFirstSecondaryCharacter"
    jumbotronbuttonbuttonfunction="$ctrl.createSecondaryCharacter()"
    items="$ctrl.secondarycharacterscardgriditems"
    pageheaderbuttonlabel="jsp.characters.a.createSecondaryCharacter"
    pageheaderbuttonfunction="$ctrl.createSecondaryCharacter()"
    pageheadertitle="jsp.characters.h1.secondary"
    pageheadersubtitle="jsp.characters.h1.small.secondary"
    selectfunction="$ctrl.secondaryCharacterSelect(id)"
    type="half-bottom"></cardgrid>
</div>
