<detailcontent autosaveenabled="$ctrl.autosaveenabled" 
  characters="$ctrl.characters" 
  content="$ctrl.content" 
  disableemptymessage="false"
  editfunction="$ctrl.editfunction()"
  editmode="$ctrl.editmode" 
  headersubtitle="$ctrl.headersubtitle" 
  previouselementlabel="{{$ctrl.previouselementlabel}}"
  previouselementlink="$ctrl.previouselementlink"
  previouselementtooltip="{{$ctrl.previouselementtooltip}}"
  nextelementlabel="{{$ctrl.nextelementlabel}}"
  nextelementlink="$ctrl.nextelementlink"
  nextelementtooltip="{{$ctrl.nextelementtooltip}}"
  showprojectexplorer="$root.showprojectexplorer"
  words="$ctrl.words">
</detailcontent>