<div class="detail-content-no-header-subtitle">
  <div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-sm-8" ng-class="{
        'col-sm-offset-2': !$ctrl.showprojectexplorer,
        'col-sm-offset-4': $ctrl.showprojectexplorer}" style="height: 100%;">
        <interviewviewer ng-if="!$ctrl.editmode"
          maincharacter="$ctrl.maincharacter" 
          type="$ctrl.type"></interviewviewer>
        <intervieweditor ng-if="$ctrl.editmode" 
          autosaveenabled="$ctrl.autosaveenabled"
          content="$ctrl.content"
          dirty="$ctrl.dirty"
          maincharacter="$ctrl.maincharacter" 
          questionselected="$ctrl.questionselected"
          type="$ctrl.type"></intervieweditor>
      </div>
    </div>
  </div>
</div>