<div class="btn-group">
    <button type="button" class="btn btn-default" 
        ng-click="$ctrl.interview()" 
        uib-tooltip="{{'jsp.characterInfo.a.interview.popover' | translate}}"
        ng-class="{ 'active' : $ctrl.freetextenabled === false }">
        {{'jsp.characterInfo.a.interview' | translate}}
    </button>
    <button type="button" class="btn btn-default" 
        ng-click="$ctrl.freetext()" 
        uib-tooltip="{{'jsp.characterInfo.a.freeText.popover' | translate}}"
        ng-class="{ 'active' : $ctrl.freetextenabled === true }">
        {{'jsp.characterInfo.a.freeText' | translate}}
    </button>
</div>