<div class="detail-content-with-header-subtitle">
  <div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-sm-8" ng-class="{
        'col-sm-offset-2': !$ctrl.showprojectexplorer,
        'col-sm-offset-4': $ctrl.showprojectexplorer}" style="height: 100%;">
        <div ng-if="!$ctrl.editmode">
          <div ng-if="$ctrl.freetext">

          </div>
          <div ng-if="!$ctrl.freetext">

          </div>
        </div>


        <richtexteditor ng-if="$ctrl.editmode"
          autosaveenabled="$ctrl.autosaveenabled"
          characters="$ctrl.characters"
          content="$ctrl.content"
          dirty="$ctrl.dirty"
          savefunction="$ctrl.savefunction()"
          words="$ctrl.words"></richtexteditor>
      </div>
    </div>
  </div>
</div>
