<detailheader breadcrumbitems="$ctrl.breadcrumbitems"
  editmode="$ctrl.editmode"
  headertitle="{{$ctrl.headertitle}}"
  taskstatus="$ctrl.taskstatus"
  taskstatuschangefunction="$ctrl.taskstatuschangefunction({status})">
</detailheader>

<maincharacterquestions
  content="$ctrl.content"
  dirty="$ctrl.dirty"
  editmode="$ctrl.editmode"
  freetext="$ctrl.freetext"
  maincharacterid="$ctrl.maincharacter.$loki"
  type="$ctrl.type">
</maincharacterquestions>

<detailfooter
  autosaveenabled="$ctrl.autosaveenabled"
  backfunction="$ctrl.back()"
  changetitleenabled="false"
  deleteenabled="false"
  dirty="$ctrl.dirty"
  editmode="$ctrl.editmode"
  imagesenabled="false"
  lastsave="$ctrl.lastsave"
  savefunction="$ctrl.save()"
  showprojectexplorer="true"
  words="1"
  wordscharactersenabled="false">
</detailfooter>
