<detailheader breadcrumbitems="$ctrl.breadcrumbitems"
  editmode="false"
  headertitle="{{$ctrl.maincharacter.name}}"
  taskstatus="$ctrl.maincharacter.status"
  taskstatuschangefunction="$ctrl.changeStatus(status)">
</detailheader>


<detailfooter
  autosaveenabled="false"
  backfunction="$ctrl.back()"
  changetitleenabled="true"
  changetitlefunction="$ctrl.changeTitle()"
  changetitlelabel="jsp.character.button.updateTitle"
  deleteconfirmmessage="jsp.characters.delete.confirm"
  deleteenabled="true"
  deleteforbidden="false"
  deleteforbiddenmessage="jsp.characters.delete.ko"
  deletefunction="$ctrl.delete()"
  editmode="false"
  imagesenabled="true"
  showimagesfunction="$ctrl.showimagesfunction()"
  showprojectexplorer="false"
  wordscharactersenabled="false">
</detailfooter>
