<elementdetail
  breadcrumbitems="$ctrl.breadcrumbitems" 
  characters="$ctrl.maincharacter[$ctrl.type].characters"
  changetitleenabled="false" 
  content="$ctrl.maincharacter[$ctrl.type].text"
  custombuttonenabled="true"
  custombuttonfunction="$ctrl.managegroupsmembership()"
  custombuttonlabel="groups_button",
  custombuttontooltip="{{'groups_memberships_tooltip'+$root.os}}",
  deleteenabled="false"
  editmode="$ctrl.mode === 'edit'"
  editfunction="$ctrl.edit()"
  eventname="SHOW_ELEMENT_DETAIL" 
  eventsenabled="true"
  headersubtitle="{{$ctrl.headersubtitle}}"
  headertitle="{{$ctrl.headertitle}}" 
  imagesenabled="true"
  lastsave="$ctrl.maincharacter.lastsave" 
  nextelementlabel="{{$ctrl.nextelementlabel}}"
  nextelementlink="$ctrl.nextelementlink"
  nextelementtooltip="{{$ctrl.nextelementtooltip}}"
  noprofileimageicon="user"
  previouselementlabel="{{$ctrl.previouselementlabel}}"
  previouselementlink="$ctrl.previouselementlink"
  previouselementtooltip="{{$ctrl.previouselementtooltip}}"
  profileimage="{{$ctrl.maincharacter.profileimage}}"
  profileimageenabled="true"
  profileimagefunction="$ctrl.addprofileimage()"
  readfunction="$ctrl.read()"
  savefunction="$ctrl.save()" 
  showeventsfunction="$ctrl.showeventsfunction()"
  showeventslabel="{{'character_events_tooltip'+$root.os}}"
  showimagesfunction="$ctrl.showimagesfunction()"
  showimageslabel="{{'location_images_tooltip'+$root.os}}"
  taskstatus="$ctrl.maincharacter[$ctrl.type].status" 
  taskstatuschangefunction="$ctrl.changestatus(status)"
  words="$ctrl.maincharacter[$ctrl.type].words"
  wordscharactersenabled="true">
</elementdetail>