<detailheader breadcrumbitems="$ctrl.breadcrumbitems" editmode="false" 
  headertitle="{{$ctrl.maincharacter.name}}" 
  taskstatus="$ctrl.maincharacter.status" 
  taskstatusreadonly="true">
</detailheader>

<div class="detail-content-no-header-subtitle">
  <div class="container" style="height: 100%;">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
        <h4 class="page-header">{{'jsp.character.h3.whois' | translate}}</h4>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-6">
        <h4 class="page-header">{{'jsp.character.h3.seems' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
        <card cardid="'personaldata'" cardtitle="jsp.character.thumbnail.personaldata.title"
          dimension="normal"
          dndenabled="false"
          family="maincharacterspersonaldata"
          selectfunction="$ctrl.showInfoWithQuestion(id)"
          text="jsp.character.thumbnail.personaldata.description"
          status="$ctrl.maincharacter.personaldata.status"></card>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-3">
        <card cardid="'physionomy'" cardtitle="jsp.character.thumbnail.physionomy.title"
          dimension="normal"
          dndenabled="false"
          family="maincharactersphysionomy"
          selectfunction="$ctrl.showInfoWithQuestion(id)"
          text="jsp.character.thumbnail.physionomy.description"
          status="$ctrl.maincharacter.physionomy.status"></card>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-3">
        <card cardid="'behaviors'" cardtitle="jsp.character.thumbnail.behaviors.title"
          dimension="normal"
          dndenabled="false"
          family="maincharactersbehaviors"
          selectfunction="$ctrl.showInfoWithQuestion(id)"
          text="jsp.character.thumbnail.behaviors.description"
          status="$ctrl.maincharacter.behaviors.status"></card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-6">
        <h4 class="page-header">{{'jsp.character.h3.think' | translate}}</h4>
      </div>
      <div class="hidden-sm hidden-md col-lg-6">
        <h4 class="page-header">{{'jsp.character.h3.comesfrom' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
        <card cardid="'psychology'" cardtitle="jsp.character.thumbnail.psychology.title"
          dimension="normal"
          dndenabled="false"
          family="maincharacterspsychology"
          selectfunction="$ctrl.showInfoWithQuestion(id)"
          text="jsp.character.thumbnail.psychology.description"
          status="$ctrl.maincharacter.psychology.status"></card>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-3">
        <card cardid="'ideas'" cardtitle="jsp.character.thumbnail.ideas.title"
          dimension="normal"
          dndenabled="false"
          family="maincharactersideas"
          selectfunction="$ctrl.showInfoWithQuestion(id)"
          text="jsp.character.thumbnail.ideas.description"
          status="$ctrl.maincharacter.ideas.status"></card>
      </div>
      <div class="hidden-sm hidden-md col-lg-3">
        <card cardid="'sociology'" cardtitle="jsp.character.thumbnail.sociology.title"
          dimension="normal"
          dndenabled="false"
          family="maincharacterssociology"
          selectfunction="$ctrl.showInfoWithQuestion(id)"
          text="jsp.character.thumbnail.sociology.description"
          status="$ctrl.maincharacter.sociology.status"></card>
      </div>
      <div class="hidden-sm hidden-md col-lg-3">
        <card cardid="'lifebeforestorybeginning'" cardtitle="jsp.character.thumbnail.lifebeforestorybeginning.title"
          dimension="normal"
          dndenabled="false"
          family="maincharacterslifebeforestorybeginning"
          selectfunction="$ctrl.showInfoWithoutQuestion(id)"
          text="jsp.character.thumbnail.lifebeforestorybeginning.description"
          status="$ctrl.maincharacter.lifebeforestorybeginning.status"></card>
      </div>
    </div>
    <div class="row hidden-lg">
      <div class="col-sm-8 col-md-8">
        <h4 class="page-header">{{'jsp.character.h3.comesfrom' | translate}}</h4>
      </div>
    </div>
    <div class="row hidden-lg">
      <div class="col-sm-4 col-md-4">
        <card cardid="'sociology'" cardtitle="jsp.character.thumbnail.sociology.title"
          dimension="normal"
          dndenabled="false"
          family="maincharacterssociology"
          selectfunction="$ctrl.showInfoWithQuestion(id)"
          text="jsp.character.thumbnail.sociology.description"
          status="$ctrl.maincharacter.sociology.status"></card>
      </div>
      <div class="col-sm-4 col-md-4">
        <card cardid="'lifebeforestorybeginning'" cardtitle="jsp.character.thumbnail.lifebeforestorybeginning.title"
          dimension="normal"
          dndenabled="false"
          family="maincharacterslifebeforestorybeginning"
          selectfunction="$ctrl.showInfoWithoutQuestion(id)"
          text="jsp.character.thumbnail.lifebeforestorybeginning.description"
          status="$ctrl.maincharacter.lifebeforestorybeginning.status"></card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-6">
        <h4 class="page-header">{{'jsp.character.h3.go' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-3">
        <card cardid="'conflict'" cardtitle="jsp.character.thumbnail.conflict.title"
          dimension="normal"
          dndenabled="false"
          family="maincharactersconflict"
          selectfunction="$ctrl.showInfoWithoutQuestion(id)"
          text="jsp.character.thumbnail.conflict.description"
          status="$ctrl.maincharacter.conflict.status"></card>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-3">
        <card cardid="'evolutionduringthestory'" cardtitle="jsp.character.thumbnail.evolutionduringthestory.title"
          dimension="normal"
          dndenabled="false"
          family="maincharactersevolutionduringthestory"
          selectfunction="$ctrl.showInfoWithoutQuestion(id)"
          text="jsp.character.thumbnail.evolutionduringthestory.description"
          status="$ctrl.maincharacter.evolutionduringthestory.status"></card>
      </div>
    </div>
  </div>
</div>
</div>

<detailfooter 
  actionitems="$ctrl.actionitems"
  autosaveenabled="false" 
  backfunction="$ctrl.back()" 
  editmode="false" 
  imagesenabled="true" 
  showimagesfunction="$ctrl.showimagesfunction()" 
  showprojectexplorer="false" 
  wordscharactersenabled="false">
</detailfooter>
