<elementdetail backfunction="$ctrl.back()" 
  breadcrumbitems="$ctrl.breadcrumbitems" 
  characters="1"
  changetitleenabled="false" 
  content="$ctrl.maincharacter[$ctrl.type].text"
  deleteenabled="false"
  disableemptymessage="true"
  eventname="SHOW_ELEMENT_DETAIL" 
  headersubtitle="{{$ctrl.headersubtitle}}"
  headertitle="{{$ctrl.headertitle}}" 
  imagesenabled="false"
  lastsave="$ctrl.maincharacter.lastsave" 
  savefunction="$ctrl.save()" 
  taskstatus="$ctrl.maincharacter[$ctrl.type].status" 
  taskstatuschangefunction="$ctrl.changestatus(status)"
  words="1"
  wordscharactersenabled="false">
</elementdetail>