<detailheader breadcrumbitems="$ctrl.breadcrumbitems"
  editmode="$ctrl.editmode"
  headertitle="{{$ctrl.headertitle}}"
  headersubtitle="{{$ctrl.headersubtitle}}"
  taskstatus="$ctrl.maincharacter[$ctrl.type].status"
  taskstatuschangefunction="$ctrl.changestatus(status)">
</detailheader>

<interview ng-if="$ctrl.maincharacter[$ctrl.type].freetextenabled === false"
  autosaveenabled="$ctrl.autosaveenabled"
  characters="$ctrl.characters"
  content="$ctrl.content"
  dirty="$ctrl.dirty"
  editmode="$ctrl.editmode"
  maincharacter="$ctrl.maincharacter"
  questionselected="$ctrl.questionselected"
  showprojectexplorer="$ctrl.showprojectexplorer"
  type="$ctrl.type"
  words="$ctrl.words">
</interview>

<freetext ng-if="$ctrl.maincharacter[$ctrl.type].freetextenabled === true"
  autosaveenabled="$ctrl.autosaveenabled"
  characters="$ctrl.characters"
  content="$ctrl.content" 
  dirty="$ctrl.dirty"
  editmode="$ctrl.editmode" 
  headersubtitle="$ctrl.headersubtitle" 
  maincharacter="$ctrl.maincharacter"
  savedcharacters="$ctrl.savedcharacters"
  savedcontent="$ctrl.savedcontent"
  savedwords="$ctrl.savedwords"
  showprojectexplorer="$ctrl.showprojectexplorer"
  type="$ctrl.type"
  words="$ctrl.words">
</freetext>

<div class="detail-footer bibiscoNotSelectableText">
  <div class="container">
    <detailfootertop autosaveenabled="$ctrl.autosaveenabled" 
      characters="$ctrl.characters"
      editmode="$ctrl.editmode" 
      lastsave="$ctrl.maincharacter.lastsave" 
      words="$ctrl.words"
      wordscharactersenabled="true">
    </detailfootertop>
    <div class="row">
      <span class="pull-left">
        <projectexplorerbutton showprojectexplorer="$ctrl.showprojectexplorer" visible="true"></projectexplorerbutton>
        <interviewswitch ng-if="$ctrl.editmode"
          dirty="$ctrl.dirty"
          freetextenabled="$ctrl.maincharacter[$ctrl.type].freetextenabled">
        </interviewswitch>
      </span>
      <span class="pull-right">
        <dropdownmenu buttonlabel="jsp.common.button.more" 
          items="$ctrl.actionitems" 
          open="up"
          visible="!$ctrl.editmode && $ctrl.actionitems && $ctrl.actionitems.length > 0">
        </dropdownmenu>
        <editsavebackbuttonbar autosaveenabled="$ctrl.autosaveenabled" 
          backfunction="$ctrl.back()" 
          characters="$ctrl.characters"
          content="$ctrl.content"
          dirty="$ctrl.dirty" 
          editbuttonvisible="true" 
          editmode="$ctrl.editmode" 
          savedcharacters="$ctrl.savedcharacters" 
          savedcontent="$ctrl.savedcontent" 
          savedwords="$ctrl.savedwords"
          savefunction="$ctrl.save()"
          showprojectexplorer="$ctrl.showprojectexplorer"
          words="$ctrl.words">
        </editsavebackbuttonbar>
      </span>
    </div>
  </div>
</div>
