<detailheader breadcrumbitems="$ctrl.breadcrumbitems" editmode="false" headertitle="{{$ctrl.maincharacter.name}}" taskstatus="$ctrl.maincharacter.status" taskstatuschangefunction="$ctrl.changeStatus(status)">
</detailheader>

<div class="detail-content-no-header-subtitle">
  <div class="container" style="height: 100%;">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="page-header">{{'jsp.character.h3.whois' | translate}}</h4>
      </div>
      <div class="col-sm-9">
        <h4 class="page-header">{{'jsp.character.h3.seems' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <card cardid="1" cardtitle="jsp.character.thumbnail.psychology.title"
          dimension="normal"
          dndenabled="false"
          family="maincharacterspsychology"
          selectfunction="$ctrl.selectfunction({id})"
          text="jsp.architecture.thumbnail.premise.description"
          status="todo">
      </div>
      <div class="col-sm-9">

      </div>
    </div>
  </div>
</div>
</div>

<detailfooter autosaveenabled="false" backfunction="$ctrl.back()" changetitleenabled="true" changetitlefunction="$ctrl.changeTitle()" changetitlelabel="jsp.character.button.updateTitle" deleteconfirmmessage="jsp.characters.delete.confirm" deleteenabled="true"
deleteforbidden="false" deleteforbiddenmessage="jsp.characters.delete.ko" deletefunction="$ctrl.delete()" editmode="false" imagesenabled="true" showimagesfunction="$ctrl.showimagesfunction()" showprojectexplorer="false" wordscharactersenabled="false">
</detailfooter>
