<detailheader breadcrumbitems="$ctrl.breadcrumbitems"
  editmode="$ctrl.editmode"
  headertitle="{{$ctrl.headertitle}}"
  headersubtitle="{{$ctrl.headersubtitle}}"
  image="{{$ctrl.maincharacter.profileimage}}"
  imageaddenabled="true"
  imageenabled="true"
  imageaddfunction="$ctrl.addprofileimage()"
  imageseditfunction="$ctrl.showimagesfunction()"
  noimageicon="user"
  taskstatus="$ctrl.maincharacter[$ctrl.type].status"
  taskstatuschangefunction="$ctrl.changestatus(status)">
</detailheader>

<interview ng-if="$ctrl.maincharacter[$ctrl.type].freetextenabled === false"
  autosaveenabled="$ctrl.autosaveenabled"
  characters="$ctrl.characters"
  content="$ctrl.content"
  editmode="$ctrl.editmode"
  maincharacter="$ctrl.maincharacter"
  nextelementlabel="{{$ctrl.nextelementlabel}}"
  nextelementlink="$ctrl.nextelementlink"
  previouselementlabel="{{$ctrl.previouselementlabel}}"
  previouselementlink="$ctrl.previouselementlink"
  questionselected="$ctrl.questionselected"
  showprojectexplorer="$root.showprojectexplorer"
  type="$ctrl.type"
  words="$ctrl.words">
</interview>

<freetext ng-if="$ctrl.maincharacter[$ctrl.type].freetextenabled === true"
  autosaveenabled="$ctrl.autosaveenabled"
  characters="$ctrl.characters"
  content="$ctrl.content" 
  editfunction="$ctrl.edit()"
  editmode="$ctrl.editmode" 
  headersubtitle="$ctrl.headersubtitle" 
  maincharacter="$ctrl.maincharacter"
  nextelementlabel="{{$ctrl.nextelementlabel}}"
  nextelementlink="$ctrl.nextelementlink"
  previouselementlabel="{{$ctrl.previouselementlabel}}"
  previouselementlink="$ctrl.previouselementlink"
  showprojectexplorer="$root.showprojectexplorer"
  type="$ctrl.type"
  words="$ctrl.words">
</freetext>

<div class="detail-footer bibiscoNotSelectableText">
  <detailfootertop 
    autosaveenabled="$ctrl.autosaveenabled" 
    characters="$ctrl.characters"
    content="$ctrl.content" 
    editmode="$ctrl.editmode"
    lastsave="$ctrl.maincharacter.lastsave" 
    words="$ctrl.words"
    wordscharactersenabled="true">
  </detailfootertop>
  <div class="row">
    <span class="pull-left">
      <projectexplorerbutton></projectexplorerbutton>
      <div class="character-info-question-images-events-groups-block">
        <imagesbutton showimagesfunction="$ctrl.showimagesfunction()" showimageslabel="{{'character_images_tooltip'+$root.os}}" visible="true"></imagesbutton>
        <eventsbutton showeventsfunction="$ctrl.showeventsfunction()" showeventslabel="{{'character_events_tooltip'+$root.os}}" visible="true"></eventsbutton>
        <button type="button" class="btn btn-default" ng-click="$ctrl.managegroupsmembership()"
          uib-tooltip="{{'groups_memberships_tooltip'+$root.os | translate}}">
          {{'groups_button' | translate}}<sefeaturemarker ng-if="$root.ed==='ce'"></sefeaturemarker>
        </button>
      </div>
      <button ng-if="$ctrl.type === 'custom' && $ctrl.maincharacter[$ctrl.type].questions.length > 0" 
        type="button" class="btn btn-default"   
        ng-click="$ctrl.manageCustomQuestions()"
        uib-tooltip="{{'custom_question_edit_tooltip' | translate}}">
        {{'edit_custom_questions' | translate}}
      </button>
      <interviewswitch ng-if="$ctrl.editmode && $ctrl.type !== 'custom'"
        autosaveenabled="$ctrl.autosaveenabled" 
        freetextenabled="$ctrl.maincharacter[$ctrl.type].freetextenabled"
        savefunction="$ctrl.save()">
      </interviewswitch>
    </span>
    <span class="pull-right">
      <contextualtipbutton ng-if="$ctrl.editmode && $ctrl.maincharacter[$ctrl.type].freetextenabled === false && $ctrl.questionselected > 0" 
        tipcode="interviewfreetextTip"></contextualtipbutton>
      <dropdownmenu buttonlabel="jsp.common.button.more" class="character-info-question-images-events-groups-dropdown"
        items="$ctrl.actionitems" 
        open="up"
        visible="$ctrl.actionitems && $ctrl.actionitems.length > 0">
      </dropdownmenu>
      <editsavebackbuttonbar 
        autosaveenabled="$ctrl.autosaveenabled" 
        characters="$ctrl.characters"
        editbuttonvisible="$ctrl.editbuttonenabled" 
        editfunction="$ctrl.edit()"
        editmode="$ctrl.editmode"
        readfunction="$ctrl.read()"
        savefunction="$ctrl.save()"
        showprojectexplorer="$root.showprojectexplorer"
        words="$ctrl.words">
      </editsavebackbuttonbar>
    </span>
  </div>
</div>
