<elementdetail backfunction="$ctrl.back()" 
  breadcrumbitems="$ctrl.breadcrumbitems" 
  characters="$ctrl.maincharacter[$ctrl.type].characters"
  changetitleenabled="false" 
  content="$ctrl.maincharacter[$ctrl.type].text"
  deleteenabled="false"
  editmode="$ctrl.mode === 'edit'"
  editfunction="$ctrl.edit()"
  eventname="SHOW_ELEMENT_DETAIL" 
  headersubtitle="{{$ctrl.headersubtitle}}"
  headertitle="{{$ctrl.headertitle}}" 
  imagesenabled="false"
  lastsave="$ctrl.maincharacter.lastsave" 
  savefunction="$ctrl.save()" 
  taskstatus="$ctrl.maincharacter[$ctrl.type].status" 
  taskstatuschangefunction="$ctrl.changestatus(status)"
  words="$ctrl.maincharacter[$ctrl.type].words"
  wordscharactersenabled="true">
</elementdetail>