<div class="row">
  <div class="col-sm-6">
    <span class="pull-right">
      <button ng-disabled="$ctrl.questionselected == 0" type="button" class="btn btn-default btn-lg" ng-click="$ctrl.previousQuestion()"
        uib-tooltip="{{'maincharacterquestionbuttonbar.previous.tooltip'+$ctrl.os | translate}}" tooltip-placement="bottom">
        {{"jsp.characterInfo.a.previousQuestion" | translate}}</button>
    </span>
  </div>
  <div class="col-sm-6">
    <span class="pull-left">
      <button ng-disabled="$ctrl.questionselected == ($ctrl.questioncount - 1)" type="button" class="btn btn-default btn-lg" ng-click="$ctrl.nextQuestion()"
        uib-tooltip="{{'maincharacterquestionbuttonbar.next.tooltip'+$ctrl.os | translate}}" tooltip-placement="bottom">
        {{"jsp.characterInfo.a.nextQuestion" | translate}}</button>
    </span>
  </div>
</div>