<div class="container">
  <elementtitleform
    breadcrumbitems="[{
      labelkey: 'jsp.projectFromScene.nav.li.characters'
    }, {
      labelkey: 'jsp.characters.dialog.title.createSecondaryCharacter'
    }]"
    eventname="SHOW_SECONDARY_CHARACTER_TITLE"
    exitpath="/project/characters"
    insertfunction="$ctrl.save(title)"
    pageheadertitle="jsp.characters.dialog.title.createSecondaryCharacter"
    titlelabel="jsp.characterTitle.form.title"
    titlemaxlength="100">
  </elementtitleform>
</div>
