<elementdetail
  backfunction="$ctrl.back()"
  breadcrumbitems="$ctrl.breadcrumbitems"
  changetitleenabled="true"
  changetitlefunction="$ctrl.changeTitle()"
  changetitlelabel="jsp.character.button.updateTitle"
  characters="3676772"
  content="{{$ctrl.secondarycharacter.description}}"
  contentstyle="bibiscoRichTextEditor-bodyClass-couriersmall"
  deleteconfirmmessage="jsp.characters.delete.confirm"
  deleteenabled="true"
  deleteforbidden="false"
  deleteforbiddenmessage="jsp.characters.delete.ko"
  deletefunction="$ctrl.delete()"
  editmode="$ctrl.editmode"
  headertitle="{{$ctrl.secondarycharacter.name}}"
  headersubtitle="jsp.chapter.thumbnail.reason.description"
  imagesenabled="true"
  savefunction="$ctrl.savefunction()"
  showimagesfunction="$ctrl.showimagesfunction()"
  taskstatus="$ctrl.secondarycharacter.status"
  taskstatuschangefunction="$ctrl.changeStatus(status)"
  words="349"
  wordscharactersenabled="true">
</elementdetail>
