<elementcreateform
  breadcrumbitems="$ctrl.breadcrumbitems"
  elementbasepath='{{$ctrl.elementbasepath}}'
  eventname="SHOW_ELEMENT_TITLE"
  groupenabled="true"
  groupids="$ctrl.groupids"
  noprofileimageicon="user"
  pageheadertitle="{{$ctrl.pageheadertitle}}"
  profileimage="{{$ctrl.profileimage}}"
  profileimageenabled="$ctrl.profileimageenabled"
  savefunction="$ctrl.save(title, groups)"
  showdetailaftercreation="$ctrl.showdetailaftercreation"
  titlelabel="jsp.characterTitle.form.title"
  titlemandatory="true"
  titlemaxlength="50">
</elementcreateform>
