<div class="container">
  <cardgrid
    carddimension="normal"
    dndenabled="true"
    dropfunction="$ctrl.move(draggedObjectId, destinationObjectId)"
    emptylisttext="object_emptylist"
    emptylistbuttonlabel="object_create_first"
    emptylistbuttonfunction="$ctrl.create()"
    emptylistbuttontooltip="{{'object_firstcreate_tooltip'+$root.os}}"
    family="objects"
    items="$ctrl.cardgriditems"
    pageheaderbuttonhotkey="$ctrl.hotkeys"
    pageheaderbuttonlabel="object_create"
    pageheaderbuttonfunction="$ctrl.create()"
    pageheaderbuttontooltip="{{'object_create_tooltip'+$root.os}}"
    pageheadersubtitle="object_description"
    pageheadertitle="objects"
    selectfunction="$ctrl.select(id)"
    type="full"></cardgrid>
</div>
