<elementdetail
  backfunction="$ctrl.back()"
  breadcrumbitems="$ctrl.breadcrumbitems"
  changetitleenabled="true"
  changetitlefunction="$ctrl.changeTitle()"
  changetitlelabel="object_change_name_label"
  characters="$ctrl.object.characters"
  content="$ctrl.object.description"
  deleteconfirmmessage="object_delete_confirm"
  deleteenabled="true"
  deleteforbidden="$ctrl.deleteforbidden"
  deleteforbiddenmessage="object_delete_ko"
  deletefunction="$ctrl.delete()"
  editmode="$ctrl.mode === 'edit'"
  editfunction="$ctrl.edit()"
  eventname="SHOW_ELEMENT_DETAIL"
  headertitle="{{$ctrl.object.name}}"
  imagesenabled="true"
  lastsave="$ctrl.object.lastsave"
  savefunction="$ctrl.savefunction()"
  showimagesfunction="$ctrl.showimagesfunction()"
  showimageslabel="object_display_images"
  taskstatus="$ctrl.object.status"
  taskstatuschangefunction="$ctrl.changeStatus(status)"
  words="$ctrl.object.words"
  wordscharactersenabled="true">
</elementdetail>
