<elementdetail
  backfunction="$ctrl.back()"
  breadcrumbitems="$ctrl.breadcrumbitems"
  changetitleenabled="false"
  characters="$ctrl.architectureitem.characters"
  content="$ctrl.architectureitem.text"
  deleteenabled="false"
  editmode="$ctrl.editmode"
  eventname="SHOW_ELEMENT_DETAIL"
  headersubtitle="{{$ctrl.architectureitem.subtitle}}"
  headertitle="{{$ctrl.architectureitem.title}}"
  imagesenabled="false"
  lastsave="$ctrl.architectureitem.lastsave"
  savefunction="$ctrl.savefunction()"
  tagsenabled="false"
  taskstatus="$ctrl.architectureitem.status"
  taskstatuschangefunction="$ctrl.changeStatus(status)"
  words="$ctrl.architectureitem.words"
  wordscharactersenabled="true">
</elementdetail>
