<elementdetail
  backpath="$ctrl.backpath"
  breadcrumbitems="$ctrl.breadcrumbitems"
  changetitleenabled="false"
  characters="$ctrl.architectureitem.characters"
  content="$ctrl.architectureitem.text"
  deleteenabled="false"
  editmode="$ctrl.mode === 'edit'"
  editfunction="$ctrl.edit()"
  eventname="SHOW_ELEMENT_DETAIL"
  eventsenabled="$ctrl.eventsenabled"
  headersubtitle="{{$ctrl.architectureitem.subtitle}}"
  headertitle="{{$ctrl.architectureitem.title}}"
  imagesenabled="false"
  lastsave="$ctrl.architectureitem.lastsave"
  savefunction="$ctrl.savefunction()"
  showeventsfunction="$ctrl.showeventsfunction()"
  showeventslabel="{{'architecture_events_tooltip'+$root.os}}"
  taskstatus="$ctrl.architectureitem.status"
  taskstatuschangefunction="$ctrl.changeStatus(status)"
  words="$ctrl.architectureitem.words"
  wordscharactersenabled="true">
</elementdetail>
