<button type="button" ng-if="$ctrl.editmode || $ctrl.words > 0" ng-class="{ 'btn-info': $ctrl.showprojectexplorer }"
  uib-tooltip="{{'jsp.scene.button.viewProjectFromScene' | translate}}"
  class="btn" ng-click="$ctrl.toggleProjectExplorer()">
  {{'detailfooterleftbuttonbar.projectexplorer.button' | translate}}
</button>
<button ng-if="!$ctrl.editmode && $ctrl.imagesenabled" type="button" class="btn btn-default"
  uib-tooltip="{{'jsp.secondaryCharacter.button.images' | translate}}"
  ng-click="$ctrl.showimagesfunction()">{{'jsp.character.thumbnail.images.title' | translate}}</button>
<button ng-if="!$ctrl.editmode && $ctrl.tagsenabled && $ctrl.words > 0" type="button" class="btn btn-default"
  uib-tooltip="{{'jsp.scene.button.tags.tooltip' | translate}}"
  ng-click="$ctrl.tagsfunction()">{{'jsp.scene.button.tags' | translate}}</button>
<div ng-if="!$ctrl.editmode && $ctrl.revisionenabled && $ctrl.words > 0" class="btn-group revision-select">
  <ui-select ng-model="$ctrl.revisionselected" on-select="$ctrl.selectRevision()">
    <ui-select-match>
        <span ng-if="$select.selected.key != 'new' && $select.selected.key != 'delete'" ng-bind="$select.selected.description"></span>
        <span><i ng-if="$select.selected.key == 'new' || $select.selected.key == 'delete'" ng-bind="$select.selected.description"></i></span>
    </ui-select-match>
    <ui-select-choices repeat="revision in $ctrl.revisions | filter: {'description':$select.search}">
      <span ng-if="revision.key != 'new' && revision.key != 'delete'" ng-bind-html="revision.description"></span>
      <span><i ng-if="revision.key == 'new' || revision.key == 'delete'" ng-bind-html="revision.description"></i></span>
    </ui-select-choices>
  </ui-select>
</div>
