<projectexplorerbutton showprojectexplorer="$ctrl.showprojectexplorer"
  visible="$ctrl.editmode || $ctrl.words > 0"
></projectexplorerbutton>
<button ng-if="!$ctrl.editmode && $ctrl.imagesenabled" type="button" class="btn btn-default"
  uib-tooltip="{{'jsp.secondaryCharacter.button.images' | translate}}"
  ng-click="$ctrl.showimagesfunction()">{{'jsp.character.thumbnail.images.title' | translate}}</button>
<button ng-if="!$ctrl.editmode && $ctrl.tagsenabled" type="button" class="btn btn-default"
  uib-tooltip="{{'jsp.scene.button.tags.tooltip' | translate}}"
  ng-click="$ctrl.tagsfunction()">{{'jsp.scene.button.tags' | translate}}</button>
<revisionselect ng-if="!$ctrl.editmode && $ctrl.revisionenabled"
  class="btn-group"
  revisionactive="$ctrl.revisionactive"
  revisioncount="$ctrl.revisioncount"
  revisionenabled="$ctrl.revisionenabled"
  revisionfunction="$ctrl.revisionfunction({action,revision})">
</revisionselect>
