<div ng-if="!$ctrl.editmode" class="btn-group dropup" uib-dropdown is-open="status.isopen">
  <button id="single-button" type="button" class="btn btn-default btn-sm"
    uib-dropdown-toggle ng-disabled="disabled"
    ng-if="$ctrl.changetitleenabled || $ctrl.deleteenabled">
    {{'jsp.common.button.more' | translate}}... <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown role="menu" aria-labelledby="single-button">
    <li role="menuitem" ng-if="$ctrl.changetitleenabled">
      <a href="" ng-click="$ctrl.changetitlefunction()">
        {{$ctrl.changetitlelabel | translate}}
      </a>
    </li>
    <li role="menuitem" ng-if="$ctrl.deleteenabled">
      <a href="" ng-click="$ctrl.delete()">
        {{ 'jsp.common.button.delete' | translate }}
      </a></li>
  </ul>
</div>

<editsavebackbuttonbar
  backfunction="$ctrl.backfunction()" 
  backtoviewfunction="$ctrl.backtoview()"
  dirty="$ctrl.dirty" 
  editbuttonvisible="$ctrl.words > 0" 
  editmode="$ctrl.editmode"
  savefunction="$ctrl.savefunction()">
</editsavebackbuttonbar>