<div class="row">
  <span class="pull-left">
    <span ng-if="$ctrl.editmode && $ctrl.autosaveenabled == true" class="label label-primary"
      uib-tooltip="{{'tag.bibiscoRichTextEditor.autosave.enabled' | translate}}"
      tooltip-placement="right">AUTO</span>
    <span ng-if="$ctrl.editmode && $ctrl.autosaveenabled == false" class="label label-default"
      uib-tooltip="{{'tag.bibiscoRichTextEditor.autosave.disabled' | translate}}"
      tooltip-placement="right">AUTO</span>
    <span ng-if="$ctrl.editmode || $ctrl.words > 0" class="label label-primary">{{"tag.bibiscoRichTextEditor.span.lastsave" | translate}}: {{'timestamp_format' | translate:{date:$ctrl.lastsave} }}</span>
  </span>
  <span class="pull-right" ng-if="$ctrl.wordscharactersenabled">
    <span ng-if="$ctrl.editmode || $ctrl.words > 0" class="label label-info">{{"jsp.common.span.words" | translate}}: {{$ctrl.words}}</span>
    <span ng-if="$ctrl.editmode || $ctrl.words > 0" class="label label-info">{{"jsp.common.span.characters" | translate}}: {{$ctrl.characters}}</span>
  </span>
</div>
<div class="row">
  <hr />
</div>
