<div class="bibiscoCard" draggable="true" droppable id="{{$ctrl.cardid}}"
	drop="$ctrl.drop({draggedObjectId, destinationObjectId})">
	<div class="row">
		<div class="col-sm-12">
			<span class="pull-left"><strong class="bibiscoCardHeading">{{$ctrl.cardtitle}}</strong></span>
			<span class="pull-right"><strong class="bibiscoCardHeading">
				<wordscharacterscounter words="$ctrl.words" characters="$ctrl.characters"></wordscharacterscounter>
				<taskstatus status="$ctrl.status"></taskstatus></strong>
			</span>
		</div>
	</div>
	<div class="row top10">
		<div class="col-sm-12">
			<p class="bibiscoCardText">{{$ctrl.text}}</p>
		</div>
	</div>
</div>
