<div class="relations-tip-container">
    <h4>{{'relations_instructions_title' | translate}}</h4>
    <hr>
    <ul>
        <li><b>{{'relations_add_element' | translate}}</b>: {{'relations_add_element_instructions' | translate}}</li>
        <li><b>{{'relations_add_relation' | translate}}</b>: {{'relations_add_relation_instructions' | translate}}</li>
        <li><b>{{'relations_move_element' | translate}}</b>: {{'relations_move_element_instructions' | translate}}</li>
        <li><b>{{'relations_edit_delete_element_label' | translate}}</b>: {{'relations_edit_delete_element_instructions' | translate}}</li>
        <li><b>{{'relations_edit_delete_relation_label' | translate}}</b>: {{'relations_edit_delete_relation_instructions' | translate}}</li>
    </ul>
</div>