<div class="row">
    <div class="col-sm-3 text-right">
        <button class="btn btn-default btn-sm">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
    </div>
    <div class="col-sm-9">
         <p class="text-justify">{{"jsp.tip.richTextEditorTip.1" | translate}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-right">
        <button type="button" class="btn btn-unselected btn-sm">
            {{'detailfooterleftbuttonbar.projectexplorer.button' | translate}}
        </button>
    </div>
    <div class="col-sm-9">
         <p class="text-justify">{{"jsp.tip.richTextEditorTip.2" | translate}}</p>
    </div>
</div>