<p>{{"jsp.tip.socialMediaTip.1" | translate}}</p>
<p>{{"jsp.tip.socialMediaTip.2" | translate}}</p>
<p class="social-media-button">
    <imageexternallink url="https://www.facebook.com/bibisco.official.page" dimension="4x"
        src="facebook-official"></imageexternallink>
    <imageexternallink url="https://twitter.com/bibiscotweet" dimension="4x"
        src="twitter"></imageexternallink>
    <imageexternallink url="https://www.youtube.com/channel/UCoqMydJQ8Ql_vzlaYSVjXMw" dimension="4x" 
        src="youtube"></imageexternallink>
    <imageexternallink url="https://www.instagram.com/bibiscoapp" dimension="4x" 
        src="instagram"></imageexternallink>
</p>