<p>{{"jsp.tip.socialMediaTip.1" | translate}}</p>
<p>{{"jsp.tip.socialMediaTip.2" | translate}}</p>
<p class="social-media-button">
    <imageexternallink url="https://www.facebook.com/bibisco.official.page" 
        src="images/facebook.png"
        class="social-media-button-facebook"></imageexternallink>
    <imageexternallink url="https://twitter.com/bibiscotweet" 
        src="images/twitter.png" 
        class="social-media-button-twitter"></imageexternallink>
    <imageexternallink url="https://www.youtube.com/channel/UCoqMydJQ8Ql_vzlaYSVjXMw" 
        src="images/youtube.png" 
        class="social-media-button-youtube">
        </imageexternallink>
</p>