/.DS_Store
bibisco/bin/ApplicationResources.properties
bibisco/bin/ApplicationResources_cs.properties
bibisco/bin/ApplicationResources_de.properties
bibisco/bin/ApplicationResources_en_CA.properties
bibisco/bin/ApplicationResources_en_UK.properties
bibisco/bin/ApplicationResources_en_US.properties
bibisco/bin/ApplicationResources_es.properties
bibisco/bin/ApplicationResources_fr.properties
bibisco/bin/ApplicationResources_it.properties
bibisco/bin/ApplicationResources_pl.properties
bibisco/bin/ApplicationResources_pt.properties
bibisco/bin/bibiscoConfig.xml
bibisco/bin/dbConfiguration.xml
bibisco/bin/log4j.dtd
bibisco/bin/log4j.xml
bibisco/bin/com/bibisco/BibiscoException.class
bibisco/bin/com/bibisco/Constants.class
bibisco/bin/com/bibisco/bean/ArchitectureDTO.class
bibisco/bin/com/bibisco/bean/ArchitectureItem.class
bibisco/bin/com/bibisco/bean/ChapterDTO.class
bibisco/bin/com/bibisco/bean/CharacterDTO.class
bibisco/bin/com/bibisco/bean/CharacterInfoQuestionsDTO.class
bibisco/bin/com/bibisco/bean/CharacterInfoWithoutQuestionsDTO.class
bibisco/bin/com/bibisco/bean/CharacterSceneDTO.class
bibisco/bin/com/bibisco/bean/CharacterWordCount.class
bibisco/bin/com/bibisco/bean/IAnalysisChapterPresenceItem.class
bibisco/bin/com/bibisco/bean/ImageDTO.class
bibisco/bin/com/bibisco/bean/ImportProjectArchiveDTO.class
bibisco/bin/com/bibisco/bean/LocationDTO.class
bibisco/bin/com/bibisco/bean/MainCharacterDTO.class
bibisco/bin/com/bibisco/bean/PointOfView4AnalysisDTO.class
bibisco/bin/com/bibisco/bean/ProjectDTO.class
bibisco/bin/com/bibisco/bean/ProjectFromSceneArchitectureDTO.class
bibisco/bin/com/bibisco/bean/ProjectFromSceneChapterDTO.class
bibisco/bin/com/bibisco/bean/ProjectFromSceneLocationDTO.class
bibisco/bin/com/bibisco/bean/ProjectFromSceneMainCharacterDTO.class
bibisco/bin/com/bibisco/bean/ProjectFromSceneSecondaryCharacterDTO.class
bibisco/bin/com/bibisco/bean/RichTextEditorSettings.class
bibisco/bin/com/bibisco/bean/RichTextEditorTaskStatusBean.class
bibisco/bin/com/bibisco/bean/SceneDTO.class
bibisco/bin/com/bibisco/bean/SceneRevisionDTO.class
bibisco/bin/com/bibisco/bean/SecondaryCharacterDTO.class
bibisco/bin/com/bibisco/bean/StrandDTO.class
bibisco/bin/com/bibisco/bean/TipSettings.class
bibisco/bin/com/bibisco/bean/WebMessage.class
bibisco/bin/com/bibisco/dao/SqlSessionFactoryManager.class
bibisco/bin/com/bibisco/dao/client/ChaptersMapper.class
bibisco/bin/com/bibisco/dao/client/CharacterInfosMapper.class
bibisco/bin/com/bibisco/dao/client/CharactersMapper.class
bibisco/bin/com/bibisco/dao/client/ImagesMapper.class
bibisco/bin/com/bibisco/dao/client/LocationsMapper.class
bibisco/bin/com/bibisco/dao/client/MessagesMapper.class
bibisco/bin/com/bibisco/dao/client/ProjectMapper.class
bibisco/bin/com/bibisco/dao/client/ProjectsMapper.class
bibisco/bin/com/bibisco/dao/client/PropertiesMapper.class
bibisco/bin/com/bibisco/dao/client/SceneRevisionCharactersMapper.class
bibisco/bin/com/bibisco/dao/client/SceneRevisionsMapper.class
bibisco/bin/com/bibisco/dao/client/SceneRevisionStrandsMapper.class
bibisco/bin/com/bibisco/dao/client/ScenesMapper.class
bibisco/bin/com/bibisco/dao/client/StrandsMapper.class
bibisco/bin/com/bibisco/dao/client/VChaptersMapper.class
bibisco/bin/com/bibisco/dao/client/VCharacterOccurencesMapper.class
bibisco/bin/com/bibisco/dao/client/VCharacterSceneMapper.class
bibisco/bin/com/bibisco/dao/client/VPointOfView4AnalysisMapper.class
bibisco/bin/com/bibisco/dao/client/VScenesMapper.class
bibisco/bin/com/bibisco/dao/client/VSceneTagsMapper.class
bibisco/bin/com/bibisco/dao/client/VSelectedSceneRevisionsMapper.class
bibisco/bin/com/bibisco/dao/model/Chapters.class
bibisco/bin/com/bibisco/dao/model/ChaptersExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/ChaptersExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/ChaptersExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/ChaptersExample.class
bibisco/bin/com/bibisco/dao/model/ChaptersWithBLOBs.class
bibisco/bin/com/bibisco/dao/model/CharacterInfos.class
bibisco/bin/com/bibisco/dao/model/CharacterInfosExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/CharacterInfosExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/CharacterInfosExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/CharacterInfosExample.class
bibisco/bin/com/bibisco/dao/model/CharacterInfosKey.class
bibisco/bin/com/bibisco/dao/model/Characters.class
bibisco/bin/com/bibisco/dao/model/CharactersExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/CharactersExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/CharactersExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/CharactersExample.class
bibisco/bin/com/bibisco/dao/model/CharactersWithBLOBs.class
bibisco/bin/com/bibisco/dao/model/Images.class
bibisco/bin/com/bibisco/dao/model/ImagesExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/ImagesExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/ImagesExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/ImagesExample.class
bibisco/bin/com/bibisco/dao/model/Locations.class
bibisco/bin/com/bibisco/dao/model/LocationsExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/LocationsExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/LocationsExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/LocationsExample.class
bibisco/bin/com/bibisco/dao/model/Messages.class
bibisco/bin/com/bibisco/dao/model/MessagesExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/MessagesExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/MessagesExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/MessagesExample.class
bibisco/bin/com/bibisco/dao/model/Project.class
bibisco/bin/com/bibisco/dao/model/ProjectExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/ProjectExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/ProjectExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/ProjectExample.class
bibisco/bin/com/bibisco/dao/model/Projects.class
bibisco/bin/com/bibisco/dao/model/ProjectsExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/ProjectsExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/ProjectsExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/ProjectsExample.class
bibisco/bin/com/bibisco/dao/model/ProjectWithBLOBs.class
bibisco/bin/com/bibisco/dao/model/Properties.class
bibisco/bin/com/bibisco/dao/model/PropertiesExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/PropertiesExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/PropertiesExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/PropertiesExample.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionCharacters.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionCharactersExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionCharactersExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionCharactersExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionCharactersExample.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionCharactersKey.class
bibisco/bin/com/bibisco/dao/model/SceneRevisions.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionsExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionsExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionsExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionsExample.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionStrandsExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionStrandsExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionStrandsExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionStrandsExample.class
bibisco/bin/com/bibisco/dao/model/SceneRevisionStrandsKey.class
bibisco/bin/com/bibisco/dao/model/Scenes.class
bibisco/bin/com/bibisco/dao/model/ScenesExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/ScenesExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/ScenesExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/ScenesExample.class
bibisco/bin/com/bibisco/dao/model/Strands.class
bibisco/bin/com/bibisco/dao/model/StrandsExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/StrandsExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/StrandsExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/StrandsExample.class
bibisco/bin/com/bibisco/dao/model/VChapters.class
bibisco/bin/com/bibisco/dao/model/VChaptersExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/VChaptersExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/VChaptersExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/VChaptersExample.class
bibisco/bin/com/bibisco/dao/model/VChaptersWithBLOBs.class
bibisco/bin/com/bibisco/dao/model/VCharacterOccurences.class
bibisco/bin/com/bibisco/dao/model/VCharacterOccurencesExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/VCharacterOccurencesExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/VCharacterOccurencesExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/VCharacterOccurencesExample.class
bibisco/bin/com/bibisco/dao/model/VCharacterScene.class
bibisco/bin/com/bibisco/dao/model/VCharacterSceneExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/VCharacterSceneExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/VCharacterSceneExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/VCharacterSceneExample.class
bibisco/bin/com/bibisco/dao/model/VPointOfView4Analysis.class
bibisco/bin/com/bibisco/dao/model/VPointOfView4AnalysisExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/VPointOfView4AnalysisExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/VPointOfView4AnalysisExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/VPointOfView4AnalysisExample.class
bibisco/bin/com/bibisco/dao/model/VScenes.class
bibisco/bin/com/bibisco/dao/model/VScenesExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/VScenesExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/VScenesExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/VScenesExample.class
bibisco/bin/com/bibisco/dao/model/VSceneTags.class
bibisco/bin/com/bibisco/dao/model/VSceneTagsExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/VSceneTagsExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/VSceneTagsExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/VSceneTagsExample.class
bibisco/bin/com/bibisco/dao/model/VSelectedSceneRevisions.class
bibisco/bin/com/bibisco/dao/model/VSelectedSceneRevisionsExample$Criteria.class
bibisco/bin/com/bibisco/dao/model/VSelectedSceneRevisionsExample$Criterion.class
bibisco/bin/com/bibisco/dao/model/VSelectedSceneRevisionsExample$GeneratedCriteria.class
bibisco/bin/com/bibisco/dao/model/VSelectedSceneRevisionsExample.class
bibisco/bin/com/bibisco/dao/sqlMap/ChaptersMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/CharacterInfosMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/CharactersMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/ImagesMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/LocationsMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/MessagesMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/ProjectMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/ProjectsMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/PropertiesMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/SceneRevisionCharactersMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/SceneRevisionsMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/SceneRevisionStrandsMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/ScenesMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/StrandsMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/VChaptersMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/VCharacterOccurencesMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/VCharacterSceneMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/VPointOfView4AnalysisMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/VScenesMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/VSceneTagsMapper.xml
bibisco/bin/com/bibisco/dao/sqlMap/VSelectedSceneRevisionsMapper.xml
bibisco/bin/com/bibisco/enums/CharacterInfoQuestions.class
bibisco/bin/com/bibisco/enums/CharacterInfoWithoutQuestions.class
bibisco/bin/com/bibisco/enums/ElementType.class
bibisco/bin/com/bibisco/enums/ExportType.class
bibisco/bin/com/bibisco/enums/PointOfView.class
bibisco/bin/com/bibisco/enums/TaskStatus.class
bibisco/bin/com/bibisco/export/HTMLParser.class
bibisco/bin/com/bibisco/export/IExporter.class
bibisco/bin/com/bibisco/export/ITextExporter.class
bibisco/bin/com/bibisco/export/ListType.class
bibisco/bin/com/bibisco/export/ParagraphAligment.class
bibisco/bin/com/bibisco/export/TextFormatting.class
bibisco/bin/com/bibisco/filters/CharsetFilter.class
bibisco/bin/com/bibisco/filters/FileFilter.class
bibisco/bin/com/bibisco/filters/MultipartWrapper.class
bibisco/bin/com/bibisco/hunspell/Hunspell$Dictionary.class
bibisco/bin/com/bibisco/hunspell/Hunspell.class
bibisco/bin/com/bibisco/hunspell/HunspellLibrary.class
bibisco/bin/com/bibisco/log/Log.class
bibisco/bin/com/bibisco/log/LoggingOutputStream.class
bibisco/bin/com/bibisco/manager/ArchitectureItemManager$ArchitectureItemType.class
bibisco/bin/com/bibisco/manager/ArchitectureItemManager.class
bibisco/bin/com/bibisco/manager/ChapterManager.class
bibisco/bin/com/bibisco/manager/CharacterManager.class
bibisco/bin/com/bibisco/manager/ConfigManager.class
bibisco/bin/com/bibisco/manager/ContextManager.class
bibisco/bin/com/bibisco/manager/HtmlParsingResult.class
bibisco/bin/com/bibisco/manager/HttpManager.class
bibisco/bin/com/bibisco/manager/ImageManager.class
bibisco/bin/com/bibisco/manager/JettyManager.class
bibisco/bin/com/bibisco/manager/JettyThread.class
bibisco/bin/com/bibisco/manager/LocaleManager.class
bibisco/bin/com/bibisco/manager/LocationManager.class
bibisco/bin/com/bibisco/manager/ProjectFromSceneManager.class
bibisco/bin/com/bibisco/manager/ProjectManager$DIRECTORY_STATUS.class
bibisco/bin/com/bibisco/manager/ProjectManager$ExportResult.class
bibisco/bin/com/bibisco/manager/ProjectManager$SET_PROJECTS_DIRECTORY_RESULT.class
bibisco/bin/com/bibisco/manager/ProjectManager.class
bibisco/bin/com/bibisco/manager/PropertiesManager.class
bibisco/bin/com/bibisco/manager/ResourceBundleManager.class
bibisco/bin/com/bibisco/manager/RichTextEditorSettingsManager.class
bibisco/bin/com/bibisco/manager/SceneManager.class
bibisco/bin/com/bibisco/manager/SceneTagsManager.class
bibisco/bin/com/bibisco/manager/SpellCheckManager.class
bibisco/bin/com/bibisco/manager/StrandManager.class
bibisco/bin/com/bibisco/manager/TextEditorManager.class
bibisco/bin/com/bibisco/manager/TipManager.class
bibisco/bin/com/bibisco/manager/VersionManager.class
bibisco/bin/com/bibisco/rcp/Activator.class
bibisco/bin/com/bibisco/rcp/Application$1.class
bibisco/bin/com/bibisco/rcp/Application.class
bibisco/bin/com/bibisco/rcp/ApplicationActionBarAdvisor.class
bibisco/bin/com/bibisco/rcp/ApplicationWorkbenchAdvisor.class
bibisco/bin/com/bibisco/rcp/ApplicationWorkbenchWindowAdvisor.class
bibisco/bin/com/bibisco/rcp/BibiscoCopy.class
bibisco/bin/com/bibisco/rcp/BibiscoOpenDirectoryDialog.class
bibisco/bin/com/bibisco/rcp/Perspective.class
bibisco/bin/com/bibisco/rcp/View$1.class
bibisco/bin/com/bibisco/rcp/View.class
bibisco/bin/com/bibisco/servlet/BibiscoServlet$1.class
bibisco/bin/com/bibisco/servlet/BibiscoServlet$2.class
bibisco/bin/com/bibisco/servlet/BibiscoServlet.class
bibisco/bin/com/bibisco/test/AllTests.class
bibisco/bin/com/bibisco/test/ContextManagerTest.class
bibisco/bin/com/bibisco/test/DBTest.class
bibisco/bin/com/bibisco/test/HunspellTest.class
bibisco/bin/com/bibisco/test/ImageManagerTest.class
bibisco/bin/com/bibisco/test/ITextTest.class
bibisco/bin/com/bibisco/test/LocaleManagerTest.class
bibisco/bin/com/bibisco/test/MSWordExporterTest.class
bibisco/bin/com/bibisco/test/POITest.class
bibisco/bin/com/bibisco/test/ProjectManagerTest.class
bibisco/bin/com/bibisco/test/PropertiesManagerTest.class
bibisco/bin/com/bibisco/test/ReplaceCharsTest.class
bibisco/bin/com/bibisco/test/RestTest.class
bibisco/bin/com/bibisco/test/RichTextEditorSettingsManagerTest.class
bibisco/bin/com/bibisco/test/SqlSessionFactoryManagerTest.class
bibisco/bin/com/bibisco/test/TipManagerTest.class
bibisco/bin/com/bibisco/test/VersionManagerTest.class
bibisco/bin/com/bibisco/test/WebMessageManagerTest.class
bibisco/app/logs
bibisco_test.json
bibisco/.vscode
