<div class="container">
  <div class="row">
    <div class="col-sm-12 page-header">
      <h1>{{"jsp.projects.dialog.title.createProject" | translate}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form name="createProjectForm" class="form-horizontal" novalidate>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="bibiscoCreateProjectNameLabel">{{"jsp.createProject.form.label.name" | translate}}</label>
          <div class="col-sm-8" ng-class="{ 'has-error': createProjectForm.$submitted && createProjectForm.projectName.$invalid }">
            <input class="form-control" type="text" name="projectName" ng-model="$ctrl.projectName" id="bibiscoCreateProjectNameLabel" required autofocus>
          </div>
          <div class="col-sm-8 col-sm-offset-3">
            <validationmessages field="createProjectForm.projectName"></validationmessages>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="bibiscoCreateProjectSelectLanguage">{{"jsp.createProject.form.label.language" | translate}}</label>
          <div class="col-sm-8" ng-class="{ 'has-error': createProjectForm.$submitted && createProjectForm.projectLanguage.$invalid }">
            <!-- How does it work? Take a look here:
            https://stackoverflow.com/questions/39032484/how-to-repeat-object-properties-in-angular-ui-select-choices/39035468#39035468 -->
            <ui-select ng-model="$ctrl.projectLanguage">
              <ui-select-match>
                <span ng-bind="$select.selected.value"></span>
              </ui-select-match>
              <ui-select-choices repeat="language.key as (key, language) in $ctrl.projectLocales | filter: {'value':$select.search}">
                <span ng-bind-html="language.value"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="top30 col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-primary"
          mwl-confirm message="{{'jsp.createProject.save.confirm' | translate}}"
          is-disabled="{{!createProjectForm.$valid}}"
          confirm-text="{{ 'js.bibisco.confirm.ok' | translate }}"
          cancel-text="{{ 'js.bibisco.confirm.cancel' | translate }}"
          placement="top"
          on-confirm="$ctrl.save(createProjectForm.$valid)"
          on-cancel="">
            {{"jsp.common.button.save" | translate}}
          </button>
          <button ng-click="$ctrl.back()" class="btn btn-default">{{"jsp.common.button.back" | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
