<pageheader headertitle="jsp.info.h1"></pageheader>

<div class="scrollable-box-full-height-page-with-header bibiscoNotSelectableText">
  <div class="col-sm-4">
    <h3>
      {{"jsp.info.h3.about" | translate}} 
    </h3>
    <h5>
      {{"jsp.info.h5.version" | translate}}
    </h5>
    <p>{{$ctrl.version}} <span ng-bind-html="$ctrl.trialstatus"></span></p>
    <button class="btn btn-download btn-xs button-wrap-text" type="button" ng-if="$ctrl.isCommunityEdition"
      ng-click="$ctrl.download()">{{"se_download_button" | translate}}</button>
    <h5>
      {{"jsp.info.h5.author" | translate}}
    </h5>
    <p>
      {{"jsp.info.p.author" | translate}}
    </p>
    <h5>
      {{"jsp.info.h5.credits" | translate}}
    </h5>
    <p>Valentina Forni <a ng-click="$ctrl.gotoValeIGProfile()" class="external-url">@cloudsandcowfish</a> (visual)</p>
    <p>
      {{"jsp.info.p.credits.3" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.18" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.4" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.5" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.6" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.7" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.8" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.9" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.10" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.11" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.12" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.13" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.14" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.17" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.19" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.20" | translate}}
    </p>
    <p>
      {{"jsp.info.p.credits.21" | translate}}
    </p>
  </div>
  <div class="col-sm-4">
      <h3>
        {{"jsp.info.h3.license" | translate}}
      </h3>
      <p>
        {{"jsp.info.p.license" | translate}}
      </p>
      <p>
        {{"jsp.info.p.license.copyright" | translate}}
      </p>
      <p>
        {{"jsp.info.p.license.warranty" | translate}}
      </p>
      <button id="bibiscoInfoLicense" class="btn btn-default button-wrap-text" 
        ng-click="$ctrl.showLicense()">
        {{"jsp.info.a.seelicense" | translate}}
      </button>
  </div>
  <div class="col-sm-4">
      <h3>
        {{"jsp.info.h3.project" | translate}}
      </h3>
      <p>
        {{"jsp.info.p.project.1" | translate}}
      </p>
      <p>
        {{"jsp.info.p.project.2" | translate}}
      </p>
      <h5>
        {{"jsp.info.h5.website" | translate}}
      </h5>
      <p>
        <a ng-click="$ctrl.gotoWebsite()" class="external-url">
           {{"jsp.info.p.websiteurl" | translate}}
        </a>
      </p>
      <h5>Email</h5>
      <p class="bibiscoDefaultBrowserUrl">
        <a ng-click="$ctrl.writeEmail()" class="external-url">
           info@bibisco.com
        </a>
      </p>
      <h5>Social media</h5>
      <p>
        <imageexternallink url="https://www.facebook.com/bibisco.official.page" dimension="3x" 
        src="facebook-official"></imageexternallink>
      <imageexternallink url="https://twitter.com/bibiscotweet" dimension="3x"  
          src="twitter"></imageexternallink>
      <imageexternallink url="https://www.youtube.com/channel/UCoqMydJQ8Ql_vzlaYSVjXMw" dimension="3x"  
          src="youtube"></imageexternallink>
      <imageexternallink url="https://www.instagram.com/bibiscoapp" dimension="3x"  
          src="instagram"></imageexternallink>
      </p>
  </div>
</div>

<pagefooter></pagefooter>