<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.bibisco.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.bibisco.rcp.Perspective"
            id="bibisco.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.bibisco.rcp.View"
            id="bibisco.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="bibisco.view">
         </view>
      </perspectiveExtension>
   </extension>
      <extension
            id="product"
            point="org.eclipse.core.runtime.products">
         <product
               application="bibisco.application"
               name="bibisco">
            <property
                  name="windowImages"
                  value="icons/branding/logo16x16.png,icons/branding/logo32x32.png,icons/branding/logo48x48.png,icons/branding/logo64x64.png,icons/branding/logo128x128.png">
            </property>
            <property
                  name="preferenceCustomization"
                  value="plugin_customization.ini">
            </property>
            <property
                  name="appName"
                  value="bibisco">
            </property>
            <property
                  name="startupForegroundColor"
                  value="FFFFFF">
            </property>
            <property
                  name="startupMessageRect"
                  value="0,0,0,0">
            </property>
            <property
                  name="startupProgressRect"
                  value="0,0,0,0">
            </property>
         </product>
      </extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               schemeId="bibisco"
               sequence="M1+N">
         </key>
      </extension>

</plugin>
