<div class="page-header" ng-class="{ 'page-subheader' : $ctrl.subheader}">
  <h1>
      <span ng-if="$ctrl.imageenabled && $ctrl.image" class="page-header-profile"> 
        <img src="{{$ctrl.fullpathimage}}" class="img-rounded">
      </span> 

      <span ng-if="$ctrl.imageenabled && !$ctrl.image" class="page-header-no-profile">
        <div class="page-header-no-profile-bg"></div>
        <span class="page-header-no-profile-icon">
          <i class="fa fa-{{$ctrl.noimageicon}}" ng-class="{'fa-inverse': $ctrl.theme === 'dark'}"></i>
        </span>
        <button class="btn btn-default btn-sm page-header-no-profile-button" 
          ng-if="$ctrl.imageaddenabled"
          ng-click="$ctrl.executeimagefunction()"
          uib-tooltip="{{'add_profile_image_tooltip' | translate}}">+</button>
      </span>

      <span class="page-header-truncate-title" style="width: calc(100% - {{$ctrl.statusandbuttonsspace}}px)">
        {{$ctrl.headertitle | translate}}
      </span>
      <span class="pull-right page-header-buttonbar">
        <small>
          <taskstatusselector ng-if="$ctrl.taskstatus" 
            status="$ctrl.taskstatus" 
            readonly="$ctrl.taskstatusreadonly" 
            changefunction="$ctrl.taskstatuschangefunction({status})"></taskstatusselector>
          <wordscharacterscounter ng-if="$ctrl.words != null" 
            words="$ctrl.words" characters="$ctrl.characters">
          </wordscharacterscounter>
          <wordsgoalcounter ng-if="$ctrl.showwordsgoalcounter"></wordsgoalcounter>
        </small>
      </span>
  </h1>
</div>
<div ng-if="$ctrl.headersubtitle">
  <blockquote>
    <i>
      <span class="page-header-subtitle page-subheader-truncate-title bibiscoNotSelectableText">
        {{$ctrl.headersubtitle | translate}}
      </span>
    </i>
  </blockquote>
</div>
