<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top bibiscoNotSelectableText">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-right">
      <button type="button" class="navbar-toggle collapsed" ng-click="$ctrl.toggleCollapse()" ng-show="$ctrl.visible">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" src="images/bibisco-brand-menu.png" />
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="$ctrl.collapsed" ng-show="$ctrl.visible">
      <ul class="nav navbar-nav" ng-show="$ctrl.visible">
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.projecthomeActive}"><a ng-click="$ctrl.selectItem('projecthome')">{{ 'jsp.menu.project' | translate}}</a></li>
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.architectureActive}"><a ng-click="$ctrl.selectItem('architecture')">{{ 'jsp.menu.architecture' | translate}}</a></li>
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.charactersActive}"><a ng-click="$ctrl.selectItem('characters')">{{ 'jsp.menu.characters' | translate}}</a></li>
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.locationsActive}"><a ng-click="$ctrl.selectItem('locations')">{{ 'jsp.menu.locations' | translate}}</a></li>
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.objectsActive}"><a ng-click="$ctrl.selectItem('objects')">{{ 'jsp.menu.objects' | translate}}</a></li>
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.chaptersActive}"><a ng-click="$ctrl.selectItem('chapters')">{{ 'jsp.menu.chapters' | translate}}</a></li>
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.timelineActive}"><a ng-click="$ctrl.selectItem('timeline')">{{ 'timeline' | translate}}</a></li>
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.analysisActive}"><a ng-click="$ctrl.selectItem('analysis')">{{ 'jsp.menu.analysis' | translate}}</a></li>
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.exportActive}"><a ng-click="$ctrl.selectItem('export')">{{ 'jsp.menu.export' | translate}}</a></li>
        <li ng-class="{'disabled': $ctrl.disabled, 'active': !$ctrl.disabled && $ctrl.infoActive}"><a ng-click="$ctrl.selectItem('info')">{{ 'jsp.menu.info' | translate}}</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</div>
<!-- /.container-fluid -->
