<div class="jumbotron bibiscoEmptyListBox">
	<h3>{{$ctrl.text | translate}}</h3>
	<button ng-if="$ctrl.buttonlabel" ng-click="$ctrl.buttonfunction()" type="button"
		uib-tooltip="{{$ctrl.buttontooltip | translate}}"
		tooltip-placement="bottom"
		class="btn btn-primary">{{$ctrl.buttonlabel  | translate}}</button>
</div>
<div class="jumbotronsiblingelementsnavigator bibiscoEmptyListBox">
	<siblingelementsnavigator ng-if="$ctrl.previouselementlink || $ctrl.nextelementlink"
		previouselementlabel="{{$ctrl.previouselementlabel}}"
		previouselementlink="$ctrl.previouselementlink"
		previouselementtooltip="{{$ctrl.previouselementtooltip}}"
		nextelementlabel="{{$ctrl.nextelementlabel}}"
		nextelementlink="$ctrl.nextelementlink"
		nextelementtooltip="{{$ctrl.nextelementtooltip}}">
	</siblingelementsnavigator>
</div>