<pageheader headertitle="jsp.analysis.h1">
</pageheader>

<div class="scrollable-box-full-height-page-with-header">
  <fullpageloader ng-if="$ctrl.loading"></fullpageloader>
  <div ng-if="!$ctrl.loading">
    <div class="col-sm-12">
      <analysischapterlength></analysischapterlength>
    </div>
    <div class="col-sm-12">
      <analysischaracterdistribution></analysischaracterdistribution>
    </div>
    <div class="col-sm-12">
      <analysischaractersappearances></analysischaractersappearances>
    </div>
    <div class="col-sm-12">
      <analysislocationdistribution></analysislocationdistribution>
    </div>
    <div ng-if="$ctrl.showSupporterEditionItems" class="col-sm-12">
      <analysisobjectdistribution></analysisobjectdistribution>
    </div>
    <div ng-if="$ctrl.showSupporterEditionItems" class="col-sm-12">
      <analysisobjectappearances></analysisobjectappearances>
    </div>
    <div class="col-sm-12">
      <analysisstranddistribution></analysisstranddistribution>
    </div>
    <div class="col-sm-12">
      <analysispovdistribution></analysispovdistribution>
    </div>
  </div>
</div>

<pagefooter tipcode="analysisTip" tipenabled="true">
</pagefooter>
