<div class="container">
  <div class="row">
    <pageheader headertitle="jsp.analysis.h1">
    </pageheader>
  </div>
</div>
<div class="analysis">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <analysischapterlength></analysischapterlength>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <analysischaracterdistribution></analysischaracterdistribution>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <analysislocationdistribution></analysislocationdistribution>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <analysisstranddistribution></analysisstranddistribution>
      </div>
    </div>
  </div>
</div>


