<modal-component modal-instance="$uibModalInstance" class="ng-scope ng-isolate-scope">
  <div class="modal-header ng-scope">
      <h3 class="modal-title" id="modal-title">{{'tag.bibiscoRichTextEditor.dialog.richTextEditorSettings.title' | translate}}</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <form name="richTextEditorSettingsForm" ng-submit="$ctrl.save(elementTitleForm.$valid)"
          class="form-horizontal" novalidate>
          <buttongroupfield group="$ctrl.fontgroup" label="jsp.richTextEditorSettings.font"
            model="$ctrl.font" labelcols="4" inputcols="7"></buttongroupfield>
          <buttongroupfield group="$ctrl.fontsizegroup" label="jsp.richTextEditorSettings.fontSize"
            model="$ctrl.fontsize" labelcols="4" inputcols="7"></buttongroupfield>
          <buttongroupfield group="$ctrl.indentgroup" label="jsp.richTextEditorSettings.indentParagraph"
            model="$ctrl.indent" labelcols="4" inputcols="7"></buttongroupfield>
          <buttongroupfield group="$ctrl.spellcheckgroup" label="jsp.richTextEditorSettings.spellCheck"
            model="$ctrl.spellcheck" labelcols="4" inputcols="7"></buttongroupfield>
          <buttongroupfield group="$ctrl.autosavegroup" label="jsp.richTextEditorSettings.autoSave"
            model="$ctrl.autosave" labelcols="4" inputcols="7"></buttongroupfield>
      </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 bibiscoNotSelectableText">
      <div class="well richtexteditor-settings-sample bibiscoRichTextEditor-bodyClass-{{$ctrl.font}}{{$ctrl.fontsize}} bibiscoRichTextEditor-bodyClass-indent-{{$ctrl.indent}}">
        {{'jsp.richTextEditorSettings.sampletext' | translate}}
      </div>
    </div>
  </div>
  <div class="modal-footer bibiscoNotSelectableText">
    <button class="btn btn-primary" type="button" 
      uib-tooltip="{{'js.bibisco.confirm.ok.tooltip'+$root.os | translate}}"
      ng-click="$ctrl.ok()">{{"js.bibisco.confirm.ok" | translate}}</button>
    <button class="btn btn-default" type="button" 
      uib-tooltip="{{'js.bibisco.confirm.cancel.tooltip'+$root.os | translate}}"
      ng-click="$ctrl.cancel()">{{"js.bibisco.confirm.cancel" | translate}}</button>
  </div>
</modal-component>
