<elementcreateform
  breadcrumbitems="$ctrl.breadcrumbitems"
  colorenabled="true"
  elementbasepath='{{$ctrl.elementbasepath}}'
  eventname="SHOW_ELEMENT_TITLE"
  noprofileimageicon="group"
  pageheadertitle="{{$ctrl.pageheadertitle}}"
  profileimage="{{$ctrl.profileimage}}"
  profileimageenabled="$ctrl.profileimageenabled"
  savefunction="$ctrl.save(title, group, color)"
  showdetailaftercreation="$ctrl.showdetailaftercreation"
  titlelabel="group_title_form_name"
  titlemandatory="true"
  titlemaxlength="50">
</elementcreateform>

