// JavaFX runtime get all permissions by default
grant codeBase "file:${javafx.runtime.home}/lib/jfxrt.jar" {
    permission java.security.AllPermission;
}; 
