<div class="container bibiscoOpenProject">
  <div class="row">
    <pageheader title="jsp.projects.dialog.title.openProject" cols="12">
    </pageheader>
  </div>

  <div class="row">
    <div class="col-sm-9 col-sm-offset-1">
      <h4>{{"jsp.projects.h1 " | translate}}</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in $ctrl.getProjects()">
            <td class="col-sm-8">{{ project.name }}</td>
            <td class="col-sm-2 text-right">
              <button ng-click="$ctrl.open(project.id)" class="btn btn-sm btn-primary">{{"jsp.selectProject.button.open" | translate}}</button>
            </td>
            <td class="col-sm-2 text-left">
              <button class="btn btn-sm btn-default" mwl-confirm message="{{ 'jsp.selectProject.delete.confirm' | translate}}" confirm-text="{{ 'js.bibisco.confirm.ok' | translate }}" cancel-text="{{ 'js.bibisco.confirm.cancel' | translate }}" placement="top" on-confirm="$ctrl.delete((project.id))"
              on-cancel=" ">
                {{"jsp.selectProject.button.delete " | translate}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row top15 ">
    <div class="col-sm-offset-1">
      <button ng-click="$ctrl.back() " class="btn btn-default ">{{"jsp.common.button.back " | translate}}</button>
    </div>
  </div>
</div>
