.thumbnailTagHover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.thumbnailTagMove {
	background-color: #FCF8E3;
	cursor: move;
}

.loading { 
	background: url(../img/bibisco-spinner.gif) center no-repeat !important;
}

.loadingImage { 
	background: #555555 url(../img/bibisco-spinner-gray.gif) center no-repeat !important;
}

.carouselImageBackground { 
	background-color: #555555 !important;
}


.sceneTagsExplains {
	font-size: 13px;
	font-style: italic;
	margin-bottom: 5px;
}

.page-header, .thumbnail, .navbar, .btn, label, th, td, a, .carousel-control, .ui-dialog-title, div.emptyThumbnailListElements, .notSelectableText, .bibiscoSuggestions, .bibiscoTip {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.btn:focus {
	outline: 0;
}

.defaultBrowserUrl {
    text-decoration: underline;
    cursor: pointer;
}

.dialog-no-close .ui-dialog-titlebar-close {
  display: none;
}  

.bibiscoHeaderButton {
	margin-top: 2px;
}

.notEmptyThumbnailListElements {
	width: 100%; 
	overflow: scroll;
}

/* RICH TEXT EDITOR */

.bibiscoRichTextEditor-bodyClass-courierbig {
	font-family: courier new, courier, monospace; 
	font-size: 20px; 
}

.bibiscoRichTextEditor-bodyClass-couriermedium {
	font-family: courier new, courier, monospace; 
	font-size: 18px; 
}

.bibiscoRichTextEditor-bodyClass-couriersmall {
	font-family: courier new, courier, monospace; 
	font-size: 16px; 
}

.bibiscoRichTextEditor-bodyClass-timesbig {
	font-family: Times New Roman, Times, serif; 
	font-size: 20px; 
}

.bibiscoRichTextEditor-bodyClass-timesmedium {
	font-family: Times New Roman, Times, serif; 
	font-size: 18px; 
}

.bibiscoRichTextEditor-bodyClass-timessmall {
	font-family: Times New Roman, Times, serif; 
	font-size: 16px; 
}

.bibiscoRichTextEditor-bodyClass-arialbig {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 20px; 
}

.bibiscoRichTextEditor-bodyClass-arialmedium {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 18px; 
}

.bibiscoRichTextEditor-bodyClass-arialsmall {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 16px; 
}

/* SUGGESTIONS */

.bibiscoSuggestions {
	margin-top: 10px; 
	margin-left: 10px; 
	width: 450px;
}

div.bibiscoSuggestions p {
	text-align: justify;
}

div.bibiscoSuggestions h4 {
	margin-bottom: 10px;
}

.bibiscoTip {
    margin-top: 10px; 
    margin-left: 10px; 
    width: 450px;
}

div.bibiscoTip p {
    text-align: justify;
}

div.bibiscoTip h4 {
    margin-bottom: 10px;
}

/* PROJECT */

.bibiscoProjectMotivational {
	margin-top: 60px; 
	margin-left: 30px; 
	margin-right: 150px; 
	padding-top: 30px; 
	padding-bottom: 35px; 
	padding-left: 40px; 
	height: 200px;"
}

/* ARCHITECTURE */

.bibiscoStrandsNotEmptyStrands {
	height: 350px; 
}

.bibiscoStrandsSectionTitle {
	margin-top: 50px;
}

/* CHARACTERS */
.bibiscoMainCharactersNotEmpty {
	height: 180px; 
}

.bibiscoMainCharactersEmpty {
	height: 180px;
}

.bibiscoSecondaryCharactersSectionTitle {
    margin-top: 20px;
}

.bibiscoSecondaryCharactersNotEmpty {
    height: 270px; 
}

/* ANALYSIS */

.bibiscoAnalysisNoInfoAvailable {
	margin-top: 10px; 
	margin-left: 10px; 
	font-size: 16px;
	line-height: 1.5em;
}


.bibiscoAnalysisItemsRow0 {
    background-color: #0084D1 !important;
}

.bibiscoAnalysisItemsRow1 {
	background-color: #004586 !important;
}

.bibiscoAnalysisItemsRow2 {
   background-color: #FF420E !important;
}

.bibiscoAnalysisItemsRow3 {
    background-color: #FFD320 !important;
}

.bibiscoAnalysisItemsRow4 {
    background-color: #579D1C !important;
}

.bibiscoAnalysisItemsRow5 {
    background-color: #7E0021 !important;
}

.bibiscoAnalysisItemsRow6 {
    background-color: #83CAFF !important;
}

.bibiscoAnalysisItemsRow7 {
    background-color: #314004 !important;
}

.bibiscoAnalysisItemsRow8 {
    background-color: #AECF00 !important;
}

.bibiscoAnalysisItemsRow9 {
    background-color: #4B1F6F !important;
}

.bibiscoAnalysisItemsRow10 {
    background-color: #FF950E !important;
}

.bibiscoAnalysisItemsRow11 {
    background-color: #C5000B !important;
}


/* SETTINGS */

.bibiscoSettingsButtonArea {
	margin-top: 30px; 
	margin-left: 30px; 
	margin-right: 150px; 
	padding-top: 20px; 
	padding-bottom: 35px; 
	padding-left: 40px;
}

.bibiscoSettingsButtonArea p {
	margin-top: 16px;
}

.bibiscoSettingsButtonArea a {
    margin-right: 10px;
}


/* INFO */

.bibiscoDonationsButton {
	text-align: center;
}

.bibiscoDonationsButton img {
    cursor: pointer;
}

.bibiscoDonationButtonPaypal {

}

.bibiscoDonationButtonFlattr {
    margin-top: 10px;
}

.bibiscoSocialMediaButton {
    margin-top: 5px;
    text-align: center:
}

.bibiscoSocialMediaButton img {
	cursor: pointer;
}

.bibiscoSocialMediaButtonFacebook {
    margin-left: 2px;
}

.bibiscoSocialMediaButtonTwitter {
    margin-left: 5px;
}
