<div class="form-group">
  <label class="col-sm-{{$ctrl.labelcols}} control-label">{{$ctrl.label | translate}}</label>
  <div class="col-sm-{{$ctrl.inputcols}}">
    <div class="btn-group pull-left">
        <button ng-repeat="item in $ctrl.group"
          type="button" class="btn btn-default {{item.buttonclass}}"
          ng-click="$ctrl.change(item.value)"
          ng-class="{ 'active' : $ctrl.model == item.value }">
          {{item.label | translate}}
        </button>
    </div>
  </div>
</div>
