<div class="detail-header">
  <div class="container">
    <div class="row">
      <pageheader headertitle="{{'search_title' | translate}}" buttonshow="false">
      </pageheader>
    </div>
  </div>
</div>

<div class="search-form-container">
  <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" data-toggle="buttons-checkbox" uib-tooltip="{{'common_case_sensitive' | translate}}"
                  ng-click="$ctrl.toggleCaseSensitive()" ng-class="{ 'active': $ctrl.casesensitiveactive == true }">
                  <strong id="searchcasesensitiveicon">Aa</strong>
                </button>
                <button class="btn btn-default" data-toggle="buttons-checkbox" uib-tooltip="{{'common_whole_word' | translate}}"
                  ng-click="$ctrl.toggleWholeWord()" ng-class="{ 'active': $ctrl.wholewordactive == true }">
                  <strong id="searchwholewordicon">|ab|</strong>
                </button>
              </span>
              <input type="text" class="form-control" maxlength="50" id="searchtext" 
                placeholder="{{'text_to_search' | translate}}"
                ng-model="$ctrl.text2search">
              </input>
              <span class="input-group-btn">
                <button class="btn btn-default" uib-tooltip="{{'search_only_scenes' | translate}}"
                  ng-click="$ctrl.toggleSearchOnlyScenes()" ng-class="{ 'active': $ctrl.onlyscenes == true }">
                  <strong id="searchonlyscenes">{{'common_scenes_low' | translate}}</strong>
                </button>
                <button class="btn btn-default" uib-tooltip="{{'search_whole_project' | translate}}"
                  ng-click="$ctrl.toggleSearchAll()" ng-class="{ 'active': $ctrl.onlyscenes == false }">
                  <strong id="searchall">{{'jsp.menu.project' | translate}}</strong>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-1 pull-left">
          <button class="btn btn-primary search-inline-button"
          ng-click="$ctrl.search()">{{'search_button' | translate}}</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4 class="search-results-title"><b>{{$ctrl.results.occurrences}}</b> {{'search_results' | translate}}</h4>
        </div>
      </div>  
    </div>
  </div>

  <div class="search-results-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-sm-1"></th>
                <th class="col-sm-10"></th>
                <th class="col-sm-1"></th>
              </tr>
            </thead>

            <tbody ng-repeat="chapter in $ctrl.results.chapters track by $index">
              <tr>
                <td rowspan="{{chapter.elements}}" class="text-right"><span class="label label-primary bibiscoBadge text-uppercase">{{'jsp.analysisCharacterScene.th.chapter' | translate}}</span></td>
                <td>{{chapter.description}}</td>
                <td></td>
              </tr>
              <tr ng-repeat="scene in chapter.scenes track by $index">
                <td><i>{{'jsp.analysisCharacterScene.th.scene' | translate}} #{{scene.position}}: </i><a>{{scene.title}}</a></td>
                <td class="text-right"><span class="label label-info search-results-occurrences">{{scene.occurrences}}</span></td>
              </tr>
              <tr ng-if="chapter.reason">
                <td><a><i>{{'common_chapter_reason' | translate}}</i></a></td>
                <td class="text-right"><span class="label label-info search-results-occurrences">{{chapter.reason.occurrences}}</span></td>
              </tr>
              <tr ng-if="chapter.notes">
                <td><a><i>{{'common_chapter_notes' | translate}}</i></a></td>
                <td class="text-right"><span class="label label-info search-results-occurrences">{{chapter.notes.occurrences}}</span></td>
              </tr>
            </tbody>
            <tbody>
              <tr ng-if="$ctrl.results.architecture.premise">
                <td class="text-right"><span class="label label-default bibiscoBadge text-uppercase">{{'common_architecture' | translate}}</span></td>
                <td><a><i>{{'common_premise' | translate}}</i></a></td>
                <td class="text-right"><span class="label label-info search-results-occurrences">{{$ctrl.results.architecture.premise}}</span></td>
              </tr>
              <tr ng-if="$ctrl.results.architecture.fabula">
                <td class="text-right"><span class="label label-default bibiscoBadge text-uppercase">{{'common_architecture' | translate}}</span></td>
                <td><a><i>{{'common_fabula' | translate}}</i></a></td>
                <td class="text-right"><span class="label label-info search-results-occurrences">{{$ctrl.results.architecture.fabula}}</span></td>
              </tr>
              <tr ng-if="$ctrl.results.architecture.setting">
                <td class="text-right"><span class="label label-default bibiscoBadge text-uppercase">{{'common_architecture' | translate}}</span></td>
                <td><a><i>{{'common_setting' | translate}}</i></a></td>
                <td class="text-right"><span class="label label-info search-results-occurrences">{{$ctrl.results.architecture.setting}}</span></td>
              </tr>
              <tr ng-if="$ctrl.results.architecture.globalnotes">
                <td class="text-right"><span class="label label-default bibiscoBadge text-uppercase">{{'common_architecture' | translate}}</span></td>
                <td><a><i>{{'common_notes_title' | translate}}</i></a></td>
                <td class="text-right"><span class="label label-info search-results-occurrences">{{$ctrl.results.architecture.globalnotes}}</span></td>
              </tr>
            </tbody>
            <tbody ng-repeat="location in $ctrl.results.locations track by $index">
                <tr>
                  <td class="text-right"><span class="label label-default bibiscoBadge text-uppercase">{{'jsp.scene.location.title' | translate}}</span></td>
                  <td><a>{{location.description}}</a></td>
                  <td class="text-right"><span class="label label-info search-results-occurrences">{{location.occurrences}}</span></td>
                </tr>
            </tbody>
            <tbody ng-repeat="object in $ctrl.results.objects track by $index">
              <tr>
                <td class="text-right"><span
                    class="label label-default bibiscoBadge text-uppercase">{{'object' | translate}}</span></td>
                <td><a>{{object.name}}</a></td>
                <td class="text-right"><span class="label label-info search-results-occurrences">{{object.occurrences}}</span>
                </td>
              </tr>
            </tbody>
            <!--
              <tr>
                <td rowspan="2" class="text-right"><span class="label label-default bibiscoBadge">CHARACTER</span></td>
                <td>Emma Woodhouse</td>
                <td></td>
              </tr>
              <tr>
                <td><a><i>Physical Feature</i>: #5 how is his/her neck?</a></td>
                <td class="text-right"><span class="label label-info search-results-occurrences">14</span></td>
              </tr>
              -->
          </table>
          </div>
        </div>
      </div>
  </div>
</div>