<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>bibiscoWeb</display-name>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>ApplicationResources</param-value>
	</context-param>
	<context-param>
		<param-name>applicationVersion</param-name>
		<param-value>1.1.0</param-value>
	</context-param>
	<filter id="CharsetFilter">
		<filter-name>CharsetFilter</filter-name>
		<filter-class>com.bibisco.filters.CharsetFilter</filter-class>
		<init-param>
			<description>Encoding setted on incoming request</description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter id="FileFilter">
		<filter-name>FileFilter</filter-name>
		<filter-class>com.bibisco.filters.FileFilter</filter-class>
		<init-param>
			<description>Max size of uploaded file</description>
			<param-name>REJECT_THRESHOLD</param-name>
			<param-value>50000000</param-value>
		</init-param>
		<init-param>
			<description>Limit beyond which the file is not held in memory</description>
			<param-name>DISK_THRESHOLD</param-name>
			<param-value>5000000</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/BibiscoServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FileFilter</filter-name>
		<url-pattern>/BibiscoServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>BibiscoServlet</display-name>
		<servlet-name>BibiscoServlet</servlet-name>
		<servlet-class>com.bibisco.servlet.BibiscoServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BibiscoServlet</servlet-name>
		<url-pattern>/BibiscoServlet</url-pattern>
	</servlet-mapping>
	<session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
	<jsp-config>
		<taglib>
			<taglib-uri>/jstl/core</taglib-uri>
			<taglib-location>c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/jstl/xml</taglib-uri>
			<taglib-location>x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/jstl/fmt</taglib-uri>
			<taglib-location>fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/jstl/functions</taglib-uri>
			<taglib-location>fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/jstl/sql</taglib-uri>
			<taglib-location>sql.tld</taglib-location>
		</taglib>
	</jsp-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
