<elementdetail
  breadcrumbitems="$ctrl.breadcrumbitems"
  changetitleenabled="true"
  changetitlefunction="$ctrl.changeTitle()"
  changetitlelabel="jsp.strand.button.updateTitle"
  characters="$ctrl.strand.characters"
  content="$ctrl.strand.description"
  custombuttonenabled="true",
  custombuttonfunction="$ctrl.managegroupsmembership()",
  custombuttonlabel="groups_button",
  custombuttontooltip="{{'groups_memberships_tooltip'+$root.os}}",
  deleteconfirmmessage="jsp.architecture.strand.delete.confirm"
  deleteenabled="true"
  deleteforbidden="$ctrl.deleteforbidden"
  deleteforbiddenmessage="jsp.architecture.strand.delete.ko"
  deletefunction="$ctrl.delete()"
  editmode="$ctrl.mode === 'edit'"
  editfunction="$ctrl.edit()"
  eventname="SHOW_ELEMENT_DETAIL"
  eventsenabled="false"
  groupsmembershipfunction="$ctrl.managegroupsmembership()"
  headertitle="{{$ctrl.strand.name}}"
  imagesenabled="false"
  lastsave="$ctrl.strand.lastsave"
  readfunction="$ctrl.read()"
  savefunction="$ctrl.savefunction()"
  tags="$ctrl.tags"
  taskstatus="$ctrl.strand.status"
  taskstatuschangefunction="$ctrl.changeStatus(status)"
  words="$ctrl.strand.words"
  wordscharactersenabled="true">
</elementdetail>
