<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li>{{ 'jsp.menu.locations' | translate}}</li>
      <li class="active">{{"jsp.locations.dialog.title.createLocation" | translate}}</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-12 page-header">
      <h1>{{"jsp.locations.dialog.title.createLocation" | translate}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form name="locationTitleForm" ng-submit="$ctrl.save(locationTitleForm.$valid)" class="form-horizontal" novalidate>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="bibiscoLocationTitleNationLabel">{{"jsp.locationsTitleForm.label.nation" | translate}}</label>
          <div class="col-sm-8" ng-class="{ 'has-error': locationTitleForm.$submitted && locationTitleForm.nation.$invalid }">
            <input class="form-control" type="text" name="nation" ng-model="$ctrl.nation" id="bibiscoLocationTitleNationLabel" required autofocus>
          </div>
          <div class="col-sm-8 col-sm-offset-3">
            <validationmessages field="locationTitleForm.nation"></validationmessages>
          </div>
        </div>

        <button type="submit" ng-click="$ctrl.save()" class="btn btn-primary">{{"jsp.common.button.save" | translate}}</button>
        <button type="button" ng-click="$ctrl.back()" class="btn btn-default">{{"jsp.common.button.back" | translate}}</button>
    </div>
    </form>
  </div>
</div>
</div>
