<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li>{{ 'jsp.locations.h1' | translate}}</li>
      <li class="active">{{"jsp.locations.dialog.title.createLocation" | translate}}</li>
    </ol>
  </div>
  <div class="row">
    <pageheader headertitle="jsp.locations.dialog.title.createLocation" cols="12">
    </pageheader>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form name="locationTitleForm" ng-submit="$ctrl.save(locationTitleForm.$valid)" class="form-horizontal" novalidate>
        <textinputfield field="locationTitleForm.nation"
          model="$ctrl.nation" name="nation" autofocus
          typeheadsource="['Italia', 'Spagna', 'Francia', 'Germania', 'Messico']"
          label="jsp.locationsTitleForm.label.nation"
          labelcols="3" inputcols="8">
        </textinputfield>
        <textinputfield field="locationTitleForm.state"
          model="$ctrl.state" name="state"
          typeheadsource="['Lombardia', 'Emilia Romagna', 'Veneto', 'Friuli']"
          label="jsp.locationsTitleForm.label.state"
          labelcols="3" inputcols="8">
        </textinputfield>
        <textinputfield field="locationTitleForm.city"
          model="$ctrl.city" name="city"
          typeheadsource="['Bologna', 'Modena', 'Ferrara', 'Udine']"
          label="jsp.locationsTitleForm.label.city"
          labelcols="3" inputcols="8">
        </textinputfield>
        <textinputfield field="locationTitleForm.location"
          model="$ctrl.location" name="location" required
          label="jsp.locationsTitleForm.label.location"
          labelcols="3" inputcols="8">
        </textinputfield>
        <button type="submit" ng-click="$ctrl.save()" class="btn btn-primary">{{"jsp.common.button.save" | translate}}</button>
        <button type="button" ng-click="$ctrl.back()" class="btn btn-default">{{"jsp.common.button.back" | translate}}</button>
    </div>
    </form>
  </div>
</div>
</div>
