::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 7px;
    -webkit-border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.fullscreen {
  background-color: white;
  border-color: white !important;
}

.exitfullscreenmessage {
	background: black;
	opacity: 0.8;
	color: lightgrey;
}

.btn-unselected {
    background-color: #dddddd !important;
	border-color: #dddddd !important;
}

.input-group-addon > a {
	color: #555;
}

.sidebar-container {
	background-color: #f5f5f5;
}

.comment-box {
    border-right: 3px solid #CAA22B;
}

.comment-box-connector {
	background: repeating-linear-gradient(to right,#CAA22B 0,#CAA22B 10px,transparent 10px,transparent 12px)
}

tree-view ul li .node:hover {
	color: #286090;
}