/* GENERAL */
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top30 { margin-top:30px; }
.top50 { margin-top:50px; }
.top100 { margin-top:100px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom30 { margin-bottom:30px; }
.bottom50 { margin-bottom:50px; }
.bottom100 { margin-bottom:100px; }

/*UI BOOTSTRAP: take a look at this:
https://angular-ui.github.io/bootstrap/#!#getting_started
Original Bootstrap's CSS depends on empty href attributes to style cursors for
several components (pagination, tabs etc.). But in AngularJS adding empty href
attributes to link tags will cause unwanted route changes. This is why we need
to remove empty href attributes from directive templates and as a result styling
is not applied correctly. The remedy is simple, just add the following styling
to your application:
*/
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

html {
  height: 100%;
}

/* BOOTSTRAP - NAVBAR FIXED TO THE TOP; take a look at this:
http://getbootstrap.com/components/#navbar-fixed-top
The fixed navbar will overlay your other content, unless you add padding to the
top of the <body>. Tip: By default, the navbar is 50px high.
*/
body {
	padding-top: 35px;
	overflow: hidden;
}

/* DISABLE SELECTION ON TEXT */
.bibiscoNotSelectableText, .bibiscoSuggestions, .bibiscoTip, h1, h2, h3, h4, h5,
h6, label, th, td, p {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

/* DETAIL ELEMENT HEADER, FOOTER, CONTENT */
.detail-content-with-header-subtitle {
	overflow-y: auto;
	height: calc(100% - 335px);
	width: 100%;
	position: absolute;
	top: 225px;
	left: 0px;
}

.detail-content-no-header-subtitle {
	overflow-y: auto;
	height: calc(100% - 300px);
	width: 100%;
	position: absolute;
	top: 190px;
	left: 0px;
}

.detail-header {
	position: fixed;
	height: 150px;
	top: 70;
	width: 100%;
}

.detail-footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.detail-footer div.row {
    margin-bottom: -10px;
}

.detail-footer span.label {
  font-weight: 500;
	font-size: 80%;
}

.detail-footer-top {
	height: 20px;
}

.project-explorer {
	overflow-y: auto;
	height: calc(100% - 0px);
	margin-bottom: 0px;
}

.project-explorer-select {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-explorer-image {
	max-height: 400px;
	margin-bottom: 25px;
}

.social-media-button {
    margin-top: 5px;
    text-align: center:
}

.social-media-button img {
	cursor: pointer;
}

.social-media-button-facebook {
    margin-left: 2px;
}

.social-media-button-twitter {
    margin-left: 5px;
}

/* RICH TEXT VIEWER */
.richtextviewer-container {
	height: calc(100% - 40px);
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}

/* RICH TEXT EDITOR */
.richtexteditor-toolbar {
	margin-bottom: 10px;
}

.richtexteditor-toolbar-active-button {
	color: #2D6987;
}


.richtexteditor-contenteditable {
	padding: 10px;
}

.richtexteditor-contenteditable:focus {
	outline-style: none !important;
}

.richtexteditor-contenteditable-container {
	border: 2px;
	border-radius: 5px;
	border-color: #2D6987;
	border-style: solid;
	height: calc(100% - 40px);
	overflow-y: auto;
	width: 100%;
}

/* IMAGES VIEWER */
.image-viewer-image {
	max-height: 500px;
}

@media (max-width: 1199px) {
	.richtexteditor-contenteditable-container {
		height: calc(100% - 70px);
	}
}

/* BREADCRUMB */
.breadcrumb {
	margin-bottom: 5px;
}

/* BLOCKQUOTE */
blockquote {
	padding: 5px 15px;
	margin: -10px 0 10px 15px;
}

/* HEADER */
h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

/* PAGE HEADER */
.page-header {
	margin-top: 0px !important;
}

.page-header small {
	font-size: 60%;
}

.page-header-title-button {
	margin-left: 15px;
}

.page-header-truncate-title {
  width: calc(100% - 300px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-header-subtitle {
	 color: #777;
	 font-size: 16px;
}

.page-header-taskstatus-selector {
	margin-left: 5px;
    margin-top: 2px;
}

.page-subheader-truncate-title {
  width: calc(100% - 50px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* DRAG AND DROP */
.drag {
  opacity: 0.5;
}

/* CARD */
.card {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin-bottom: 20px;
	padding: 10px 15px;
	position: relative;
}

.card-normal {
	height: 120px;
}

.card-small {
	height: 80px;
}

.card-hover {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}

.card-heading {
	margin-top: 0px;
	margin-bottom: 5px;
}

.card-heading-title {
	max-width: 195px;
	height: 45px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.card-text {
	font-size: 13px;
	margin-top: -5px;
	margin-bottom: 0px;
	line-height: 1.3;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

/* CARD GRID */
.card-grid-header {
		width: 100%;
		position: absolute;
		left: 0px;
}

.card-grid-header-full {
    top: 60px;
}

.card-grid-header-half-top {
    top: 60px;
}

.card-grid-header-half-bottom {
    top: 375px;
}

.card-grid-header-half-bottom-detail {
    top: 375px;
}

.card-grid-emptyitems {
	position: absolute;
}

.card-grid-emptyitems-with-header-subtitle-full {
	top: 155px;
}

.card-grid-emptyitems-no-header-subtitle-full {
	top: 155px;
}

.card-grid-emptyitems-with-header-subtitle-half-top {
	top: 155px;
}

.card-grid-emptyitems-no-header-subtitle-half-top {
	top: 155px;
}

.card-grid-emptyitems-with-header-subtitle-half-bottom {
	top: 470px;
}

.card-grid-emptyitems-no-header-subtitle-half-bottom {
	top: 420px;
}

.card-grid-emptyitems-no-header-subtitle-half-bottom-detail {
	top: 430px;
}

.card-grid-items {
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    left: 0px;
}

.card-grid-items-with-header-subtitle-full {
    height: calc(100% - 190px);
    top: 185px;
}

.card-grid-items-no-header-subtitle-full {
    height: calc(100% - 150px);
    top: 145px;
}

.card-grid-items-with-header-subtitle-half-top {
    height: 220px;
    top: 185px;
}

.card-grid-items-no-header-subtitle-half-top {
    height: 300px;
    top: 145px;
}

.card-grid-items-with-header-subtitle-half-bottom {
    height: calc(100% - 530px);
    top: 500px;
}

.card-grid-items-no-header-subtitle-half-bottom {
    height: calc(100% - 490px);
    top: 460px;
}

.card-grid-items-no-header-subtitle-half-bottom-detail {
    height: calc(100% - 560px);
    top: 460px;
}

/* BADGE */
.bibiscoBadge {
	font-weight: bold;
	margin-left: 5px;
	padding: .3em .6em .3em;
	vertical-align: .3em;
}

/* TASK STATUS */
.bibiscoTaskStatus {
	display: inline-block;
	border-radius: 9px;
	width: 28px;
}

.task-status-btn-disabled {
	opacity: 1 !important;
}

/* WELCOME */
.bibiscoWelcomeWizardNotes p {
	margin-top: 10px;
	font-size: 16px;
	line-height: 18px;
}


/* OPEN PROJECT */
.bibiscoOpenProject td:first-child {
	padding-left: 15px !important;
}

/* EMPTY LIST BOX */
.bibiscoEmptyListBox {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 150px;
	padding-top: 20px;
	padding-bottom: 35px;
	padding-left: 40px;
}

.bibiscoEmptyListBox button {
	margin-top: 16px;
}

/* MENU */
.navbar {
	border-radius: 0px;
	padding-left: 20px;
	padding-right: 20px;
}
.navbar-inverse {
  background-color: #2d2d2d;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #004000;
}
.navbar .brand:hover {
  text-decoration: none;
	padding: 15px 15px;
}

/* MODAL DIALOG */
.modal-dialog {
  margin: 150px auto;
}

.modal-body {
	padding-bottom: 0px;
	text-align: center;
}

.modal-footer {
	text-align: center;
}

.modal-richtexteditorsettings {
	width: 600px;
	height: 400px;
	margin-top: 100px;
}

/* BUTTON FOCUS BORDER*/
.btn:focus,.btn:active {
   outline: none !important;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	background-color: #fff !important;
	border-color: #ccc !important;
	color: #428bca !important;
}

.btn-default-focus {
	 outline: none !important;
	 box-shadow: none !important;
}

/* REVISION SELECT */
.revision-select {
	width: 200px;
}

/* TAGS */
.scene-tags-section-title {
	margin-top: 35px;
}

.scene-tags-section-subtitle {
	margin-top: 30px;
	margin-left: 30px;
}

.scene-tags-button {
	margin-bottom: 3px;
	margin-right: 3px;
}

/* RICH TEXT EDITOR STYLES */
.bibiscoRichTextEditor-bodyClass-courierbig {
	font-family: courier new, courier, monospace;
	font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-couriermedium {
	font-family: courier new, courier, monospace;
	font-size: 18px;
}

.bibiscoRichTextEditor-bodyClass-couriersmall {
	font-family: courier new, courier, monospace;
	font-size: 16px;
}

.bibiscoRichTextEditor-bodyClass-timesbig {
	font-family: Times New Roman, Times, serif;
	font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-timesmedium {
	font-family: Times New Roman, Times, serif;
	font-size: 18px;
}

.bibiscoRichTextEditor-bodyClass-timessmall {
	font-family: Times New Roman, Times, serif;
	font-size: 16px;
}

.bibiscoRichTextEditor-bodyClass-arialbig {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-arialmedium {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.bibiscoRichTextEditor-bodyClass-arialsmall {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.bibiscoRichTextEditor-bodyClass-indent-true {
	text-indent: 30px;
}

.bibiscoRichTextEditorSettings-arial {
	font-family: Helvetica, Arial, sans-serif;
}

.bibiscoRichTextEditorSettings-courier {
	font-family: courier new, courier, monospace;
}

.bibiscoRichTextEditorSettings-times {
	font-family: Times New Roman, Times, serif;
}

.bibiscoRichTextEditorSettings-arial {
	font-family: Helvetica, Arial, sans-serif;
}

/* PROJECT HOME */
.project-motivational h1 {
	margin-top: 0px;
}

.project-motivational p {
	margin-top: 30px;
	margin-bottom: 0px;
}

/* CHARACTER INFO */

.character-info-question {
	font-style: italic;
	font-weight: bold;
}

.character-info-question-select-item {
	font-style: italic;
}

.character-questions-richtexteditor-container {
	height: calc(100% - 165px);
}

.character-info-answer {
	margin-bottom: 10px;
}

/* ANALYSIS */
.analysis {
    overflow-y: scroll;
    width: 100%;
    position: absolute;
	left: 0px;
	height: calc(100% - 150px);
    top: 145px;
}

.analysis-chapter-length div.analysiscanvasbarcontainer {
	height: 250px;
}

.analysis-items-distribution div.analysistablecontainer {
	overflow-x: auto;
}

.analysis-items-distribution div.analysiscanvasbarcontainer {
	height: 250px;
}

.analysis-items-distribution table {
	table-layout: fixed; 
	font-size: 12px;
}

.analysis-items-distribution table tr th, .analysis-items-distribution table tr td {
	width: 20px; 
	padding-left: 1px; 
	padding-right: 1px; 
	text-align: center;
}

.analysis-items-distribution table tr th:first-child, .analysis-items-distribution table tr td:first-child {
	width: 350px;
	padding-left: 5px; 
	padding-right: 5px; 
	text-align: left;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.analysis-items-row-0 {
    background-color: #0084D1 !important;
}

.analysis-items-row-1 {
	background-color: #004586 !important;
}

.analysis-items-row-2 {
   background-color: #FF420E !important;
}

.analysis-items-row-3 {
    background-color: #FFD320 !important;
}

.analysis-items-row-4 {
    background-color: #579D1C !important;
}

.analysis-items-row-5 {
    background-color: #7E0021 !important;
}

.analysis-items-row-6 {
    background-color: #83CAFF !important;
}

.analysis-items-row-7 {
    background-color: #314004 !important;
}

.analysis-items-row-8 {
    background-color: #AECF00 !important;
}

.analysis-items-row-9 {
    background-color: #4B1F6F !important;
}

.analysis-items-row-10 {
    background-color: #FF950E !important;
}

.analysis-items-row-11 {
    background-color: #C5000B !important;
}

.analysis-character-appearances table {
	table-layout: fixed; 
	font-size: 12px;
	width: 100%;
}

.analysis-character-appearances table tr th, 
.analysis-character-appearances table tr td {
	padding-left: 5px; 
	padding-right: 5px; 
	text-align: left;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.analysis-character-appearances table tr th:nth-child(1) { 
	width: 20%;
 }

 .analysis-character-appearances table tr th:nth-child(2) { 
	width: 40%;
 }

 .analysis-character-appearances table tr th:nth-child(3) { 
	width: 20%;
 }

 .analysis-character-appearances table tr th:nth-child(4) { 
	width: 20%;
 }

@media (max-width: 1000px) {
		.navbar {
			border-radius: 0px;
		}
    .navbar-header {
        float: none;
    }
		.navbar-right {
			float: none!important;
		}
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
				max-height: 380px;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}



/* TIMELINE */

.tips {
	top: 190px;
	position: absolute;
	overflow-y: scroll;
	height: calc(100% - 200px);
	width: 100%;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}


.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}

.timeline > tip > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > tip > li:before,
.timeline > tip > li:after {
	content: " ";
	display: table;
}

.timeline > tip > li:after {
	clear: both;
}

.timeline > tip > li:before,
.timeline > tip > li:after {
	content: " ";
	display: table;
}

.timeline > tip > li:after {
	clear: both;
}

.timeline > tip > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > tip > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > tip > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > tip > li > .timeline-badge {
	color:#fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline > tip > li.timeline-inverted > .timeline-panel {
	float: right;
}

.timeline > tip > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > tip > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.tips-characters {
	background-color: #004586 !important;
}

.tips-conflict {
   background-color: #FF420E !important;
}

.tips-premise {
    background-color: #FFD320 !important;
}

.tips-setting {
    background-color: #579D1C !important;
}

.tips-fabula {
   background-color: #4B1F6F !important;
}

.tips-pointofview {
	background-color: #0084D1 !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > tip > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > tip > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > tip > li > .timeline-panel {
        float: right;
    }

        ul.timeline > tip > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > tip > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}



/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.card {
		height: 130px;
	}

	.card-heading-title {
		max-width: 155px;
		height: 60px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.card {
		height: 115px;
	}

	.card-heading-title {
		max-width: 220px;
		height: 45px;
	}

	.page-header {
		padding-bottom: 50px;
		margin-bottom: 20px;
	}
}
