body {
    font-size: 18px;
}

.btn {
    font-size: 18px;
}

.btn-sm {
    padding: 3px 7px;
}

.form-control {
    font-size: 18px;
    height: 39px;
}

.dropdown-menu {
    font-size: 18px;
}

.scrollable-box-full-height-page-with-header {
    height: calc(100% - 200px);
}

.scrollable-box-full-height-page-with-header-subtitle {
    height: calc(100% - 220px);
}

.scrollable-box-full-height-page-with-breadcrumb-header {
    height: calc(100% - 235px);
}

.scrollable-box-full-height-page-with-breadcrumb-header-footer {
    height: calc(100% - 270px);
}

.scrollable-box-full-height-page-with-breadcrumb-header-subtitle-footer {
    height: calc(100% - 310px);
}

.scrollable-box-full-height-page-with-header-relationsfooter {
    height: calc(100% - 280px);
}

.breadcrumb li span .breadcrumb-span-2-items {
    max-width: 885px;
}

.card-normal {
    height: 210px;
}

.card-left-section-normal {
    height: 208px;
}

.card-normal-notags {
    height: 190px;
}

.card-left-section-normal-notags {
    height: 188px;
}

.card:focus div.card-left-section-normal {
    height: 206px;
}

.card:focus div.card-left-section-normal-notags {
    height: 186px;
}

.card-small {
    height: 114px;
}

.card-left-section-small {
    height: 112px;
}

.card-small-notags {
    height: 90px;
}

.card-left-section-small-notags {
    height: 88px;
}

.card:focus div.card-left-section-small {
    height: 110px;
}

.card:focus div.card-left-section-small-notags {
    height: 86px;
}

.card-heading-title-small {
    height: 70px;
}

.card-text {
    font-size: 17px;
}

.card-text-normal {
    -webkit-line-clamp: 5;
}

.card-no-profile-bg i {
    margin-top: 12px;
}

.card-heading-title {
    margin-bottom: 5px;
}

.card-heading-title-chapter {
    width: 60px;
}

.card-heading-title-normal {
    height: 50px;
}

.card-chapter {
    height: 205px;
}

.card-chapter-notags {
    height: 180px;
}

.card-left-section-chapter {
    height: 203px;
}

.card-left-section-chapter-notags {
    height: 178px;
}

.card:focus div.card-left-section-chapter {
    height: 201px;
}

.card:focus div.card-left-section-chapter-notags {
    height: 176px;
}

.card-text-chapter {
    -webkit-line-clamp: 5;
}

div.card-small div.card-tags {
    top: 84px;
}

div.card-normal div.card-tags {
    top: 180px;
}

div.card-chapter div.card-tags {
    top: 175px;
}


.card-left-section span.bibiscoTaskStatus {
    bottom: 4px;
}

.detail-footer div.row {
    margin-bottom: -7px;
}

.jumbotron .btn {
    margin-bottom: 5px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 29px;
    margin-top: 16px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

.page-header-no-profile-button {
    margin-top: -46px;
}

.page-header-no-profile-bg {
    margin-top: -101px;
}

.page-header-no-profile-icon {
    margin-top: -80px;
}

.page-header-profile img {
    margin-top: -88px;
}

.page-header-subtitle {
    font-size: 20px;
}

.panel-title {
    font-size: 20px;
}

.richtextviewer-container {
    height: calc(100% - 17px);
}

.richtexteditor-contenteditable-container-nofindreplace {
    height: calc(100% - 54px);
}

.richtexteditor-contenteditable-container-findreplace {
    height: calc(100% - 103px);
}

.label {
    padding: 0.3em;
}

div.richtexteditor-find-replace-toolbar button.btn-sm {
    padding: 5px 8px;
}

.richtexteditor-find-counter {
    font-size: 18px;
}

.dropdown-header {
    font-size: 16px;
}

.project-stats-item {
    font-size: 20px;
    font-weight: bold;
}

.project-explorer {
    height: calc(100% - 10px);
}

.search-results-container {
    overflow-y: auto;
    height: calc(100% - 280px);
    width: 100%;
}

.analysis-character-appearances table {
    font-size: 16px;
}

.analysis-items-distribution table {
    font-size: 16px;
}

.analysis-items-distribution table tr th,
.analysis-items-distribution table tr td {
    width: 30px;
}

.bibiscoRichTextEditor-bodyClass-courierbig {
    font-size: 24px;
}

.bibiscoRichTextEditor-bodyClass-couriermedium {
    font-size: 22px;
}

.bibiscoRichTextEditor-bodyClass-couriersmall {
    font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-timesbig {
    font-size: 25px;
}

.bibiscoRichTextEditor-bodyClass-timesmedium {
    font-size: 23px;
}

.bibiscoRichTextEditor-bodyClass-timessmall {
    font-size: 21px;
}

.bibiscoRichTextEditor-bodyClass-arialbig {
    font-size: 24px;
}

.bibiscoRichTextEditor-bodyClass-arialmedium {
    font-size: 22px;
}

.bibiscoRichTextEditor-bodyClass-arialsmall {
    font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-georgiabig {
    font-size: 24px;
}

.bibiscoRichTextEditor-bodyClass-georgiamedium {
    font-size: 22px;
}

.bibiscoRichTextEditor-bodyClass-georgiasmall {
    font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-garamondbig {
    font-size: 26px;
}

.bibiscoRichTextEditor-bodyClass-garamondmedium {
    font-size: 24px;
}

.bibiscoRichTextEditor-bodyClass-garamondsmall {
    font-size: 22px;
}

.bibiscoRichTextEditor-bodyClass-baskervillebig {
    font-size: 25px;
}

.bibiscoRichTextEditor-bodyClass-baskervillemedium {
    font-size: 23px;
}

.bibiscoRichTextEditor-bodyClass-baskervillesmall {
    font-size: 21px;
}

.bibiscoRichTextEditor-bodyClass-palatinobig {
    font-size: 24px;
}

.bibiscoRichTextEditor-bodyClass-palatinomedium {
    font-size: 22px;
}

.bibiscoRichTextEditor-bodyClass-palatinosmall {
    font-size: 20px;
}

.modal-richtexteditorsettings {
    width: 700px;
}

tree-view ul li .node div:first-child span {
    padding: 0.5rem;
}

.questionbuttonbar .btn-lg {
    padding: 8px 12px;
}

.timeline-element>li>.timeline-scene-datetime {
    top: 8px;
}

.read-novel-scenes-separator {
	height: 25px;
}

@media (max-height: 710px) {
    .questionbuttonbar .btn-lg {
        padding: 4px 12px;
        font-size: 18px;
    }
}

@media (max-width: 1424px) {
    .richtexteditor-find-replace-toolbar input {
        width: 160px !important;
    }
}

@media (max-height: 800px) {
    .richtexteditor-settings-sample {
        display: none;
    }
}

@media (max-width: 1424px) {
    .richtexteditor-contenteditable-container-nofindreplace {
        height: calc(100% - 90px);
    }

    .richtexteditor-contenteditable-container-findreplace {
        height: calc(100% - 139px);
    }

    .richtexteditor-find-replace-toolbar input {
        width: 160px !important;
    }
}