.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	background-color: #424242 !important;
	border-color: #424242 !important;
	color: #428bca !important;
}

.btn-unselected {
    background-color: #222 !important;
	border-color: #222 !important;
}

.card {
	border: 1px solid #555;
}

.card-hover {
	background-color: #222222;
	border: 1px solid #888;
}

.ui-select-bootstrap .ui-select-choices-row>span {
    color: #666;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #ddd;
}

h4, .h4 {
    font-size: 18px;
}

h5, .h5 {
    font-size: 14px;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
    color: #ddd;
}

.btn {
    color: #ddd !important;
}

table, .table {
    color: #ddd;
}

.dropdown-menu>li>a {
    color: #ddd;
}

.nav-tabs a, .nav-pills a, .breadcrumb a, .pager a {
    color: #ddd;
}

.datetimepicker .minute:hover, .datetimepicker .hour:hover, .datetimepicker .day:hover, .datetimepicker .switch:hover, .datetimepicker .left:hover, .datetimepicker .right:hover {
    background: #444;
}

.datetimepicker span:hover {
    background: #333;
}

.datetimepicker .current, .datetimepicker .current:hover, .datetimepicker .current.disabled, .datetimepicker .current.disabled:hover {
    background-color: #555;
}

.form-control {
    color: #ddd;
    background-color: #222;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #333;
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    height: 6px;
   border: 4px solid rgba(255, 255, 255, 0);
	background-clip: padding-box;
	border-radius: 7px;
    -webkit-border-radius: 7px;
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.35), inset 1px 1px 0px rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.35), inset 1px 1px 0px rgba(255, 255, 255, 0.35);
}