@font-face {
    font-family: "Garamond";
    src: url("../fonts/EBGaramond-BoldItalic.woff2") format('woff2');
    font-weight: bold;
	font-style: italic, oblique;
}
@font-face {
    font-family: "Garamond";
    src: url("../fonts/EBGaramond-Bold.woff2") format('woff2');
	font-weight: bold;
}
@font-face {
    font-family: "Garamond";
    src: url("../fonts/EBGaramond-Italic.woff2") format('woff2'),;
    font-style: italic, oblique;
}
@font-face {
    font-family: "Garamond";
    src: url("../fonts/EBGaramond-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "Baskerville";
    src: url("../fonts/Baskerville-BoldItalic.woff2") format('woff2');
	font-weight: bold;
	font-style: italic, oblique;
}
@font-face {
    font-family: "Baskerville";
    src: url("../fonts/Baskerville-Bold.woff2") format('woff2');
	font-weight: bold;
}
@font-face {
    font-family: "Baskerville";
    src: url("../fonts/Baskerville-Italic.woff2") format('woff2'),;
    font-style: italic, oblique;
}
@font-face {
    font-family: "Baskerville";
    src: url("../fonts/Baskerville.woff2") format('woff2');
}
@font-face {
    font-family: "Palatino";
    src: url("../fonts/PalatinoLinotype-BoldItalic.woff2") format('woff2');
	font-weight: bold;
	font-style: italic, oblique;
}
@font-face {
    font-family: "Palatino";
    src: url("../fonts/PalatinoLinotype-Bold.woff2") format('woff2');
	font-weight: bold;
}
@font-face {
    font-family: "Palatino";
    src: url("../fonts/PalatinoLinotype-Italic.woff2") format('woff2'),;
    font-style: italic, oblique;
}
@font-face {
    font-family: "Palatino";
    src: url("../fonts/PalatinoLinotype-Roman.woff2") format('woff2');
}

/* GENERAL */
.top0 { margin-top:0px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top50 { margin-top:50px; }
.top100 { margin-top:100px; }
.top200 { margin-top:200px; }
.topminus15 { margin-top:-15px; }
.topminus20 { margin-top:-20px; }
.topminus30 { margin-top:-30px; }

.bottom0 { margin-bottom:0px; }
.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom30 { margin-bottom:30px; }
.bottom50 { margin-bottom:50px; }
.bottom100 { margin-bottom:100px; }

.left5 { margin-left:5px; }
.right5 { margin-right:5px; }

.full-height { height:100%; }
.full-width { width:100%; }

.display-block { display: block; }

[style*="text-align: center"], [style*="text-align:center"] {
	text-indent: initial !important;
}

sub { 
	vertical-align: sub !important; 
	bottom: -0.2em;
}
sup { 
	vertical-align: super !important; 
	top: -0.2em;
}

.scrollable-box-full-height-page {
    overflow-y: auto;
    width: 100%;
	height: 100%;
}

.scrollable-box-full-height-page-with-header {
    overflow-y: auto;
    width: 100%;
	height: calc(100% - 180px);
}

.scrollable-box-full-height-page-with-header-subtitle {
    overflow-y: auto;
    width: 100%;
	height: calc(100% - 220px);
}

.scrollable-box-full-height-page-with-breadcrumb-header {
    overflow-y: auto;
    width: 100%;
	height: calc(100% - 215px);
}

.scrollable-box-full-height-page-with-breadcrumb-header-footer {
    overflow-y: auto;
    width: 100%;
	height: calc(100% - 235px);
}

.scrollable-box-full-height-page-with-breadcrumb-header-subtitle-footer {
    overflow-y: auto;
    width: 100%;
	height: calc(100% - 273.5px);
}

.scrollable-box-full-height-page-with-breadcrumb-header-readnovel {
    overflow-y: auto;
    width: 100%;
	height: calc(100% - 225px);
}

.scrollable-box-full-height-page-with-header-relationsfooter {
	overflow-y: auto;
    width: 100%;
	height: calc(100% - 250px);
}
 
.line-vertical {
	width: 1.5px;
	height: 34px;
	float: left;
	background-color: #ccc;
    margin-left: 5px;
    margin-right: 5px;
  }

.btn-toolbar>.btn-group {
	margin-left: unset;
	margin-right: unset;
}

.button-wrap-text {
	white-space:normal !important;
}

.date-time-select-input {
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}

.input-field-note {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.brand {
	margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    left: 95px;
    height: 50px;
}


/*UI BOOTSTRAP: take a look at this:
https://angular-ui.github.io/bootstrap/#!#getting_started
Original Bootstrap's CSS depends on empty href attributes to style cursors for
several components (pagination, tabs etc.). But in AngularJS adding empty href
attributes to link tags will cause unwanted route changes. This is why we need
to remove empty href attributes from directive templates and as a result styling
is not applied correctly. The remedy is simple, just add the following styling
to your application:
*/
.nav, .pagination, .carousel, .panel-title, a, .editable-title {
	cursor: pointer;
}

html, body {
  height: 100%;
  margin: 0;
}

/* BOOTSTRAP - NAVBAR FIXED TO THE TOP; take a look at this:
http://getbootstrap.com/components/#navbar-fixed-top
The fixed navbar will overlay your other content, unless you add padding to the
top of the <body>. Tip: By default, the navbar is 50px high.
*/
body {
	padding-top: 10px;
	overflow: hidden;
}

.h5, h5 {
    font-weight: 600;
}

/* DISABLE SELECTION ON TEXT */
.bibiscoNotSelectableText, .bibiscoSuggestions, .bibiscoTip, h1, h2, h3, h4, h5,
h6, label, th, td, p {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* SCROLLBAR */
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* JUMBOTRON BUTTONBOX*/

.jumbotron {
	border-radius: 7px;
}

.jumbotron-buttonbox {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: flex-start; 
	column-gap: 5px; 
	row-gap: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

.jumbotron-offset div.jumbotron, .jumbotron-offset div.jumbotronsiblingelementsnavigator {
	margin-left: 30%;
}

.siblingselementnavigator {
	margin-left: 0px;
	margin-right: 0px;
}

/* DETAIL ELEMENT HEADER, FOOTER, CONTENT */
.detail-content-offset {
	margin-left: 14%;
}

.detail-content {
	width: 72%;
	float: left;
}

.detail-content-project-explorer {
	width: 28%;
	float: left;
	padding-right: 10px;
	overflow-wrap: break-word;
}

.detail-footer div.row {
    margin-bottom: -10px;
	margin-left: 0px;
}

.detail-footer {
	position: fixed;
	bottom: 20px;
	width: calc(95% - 270px);
	left: 270px;
}

.detail-footer span.label {
  font-weight: 500;
	font-size: 80%;
}

.detail-footer-top {
	height: 20px;
	padding-top: 4px;
}

.project-explorer {
	overflow-y: auto;
	height: 100%;
	margin-bottom: 0px;
}

.project-explorer-select {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-explorer-image {
	max-height: 400px;
	margin-bottom: 25px;
}

.project-explorer-events ul {
	margin-left: -20px;
}

.project-explorer-events li {
	margin-bottom: 5px;
}

.project-explorer h5, .project-explorer-text p {
	-webkit-touch-callout: text !important;
	-webkit-user-select: text !important;
	-khtml-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
	-o-user-select: text !important;
}

.social-media-button {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	cursor: pointer;
}

/* SUPPORTER EDITION MESSAGE AND SYMBOLS */
.supporter-edition-popup p.heart  {
	color: red;
	margin-top: 10px;
}

.supporter-edition-popup blockquote {
	margin-top: 10px;
	margin-bottom: 15px;
}

.supporter-edition-popup img {
	width: 100px;
	height:100px;
}

.supportersFeaturesSymbol {
	color: red;
}

.btn-primary .supportersFeaturesSymbol {
	color: inherit !important;
}

/* RICH TEXT VIEWER */
.richtextviewer-container {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}

.richtextviewer {
	max-width: 822px;
    margin: 0 auto;
	padding-right: 12px;
}

.richtextviewer p, .richtextviewer ul, .richtextviewer ol, .richtextviewer li {
	-webkit-touch-callout: text !important;
	-webkit-user-select: text !important;
	-khtml-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
	-o-user-select: text !important;
}

/* RICH TEXT EDITOR */
.richtexteditor-toolbar {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 822px; 
	width: 100%;
}

.richtexteditor-toolbar>.btn-group {
	margin-right: 5px;
}

.richtexteditor-toolbar button{
	width: 31px;
	margin-bottom: 5px;
}

.richtexteditor-toolbar-active-button {
	color: #2D6987;
}

.richtexteditor-contenteditable {
	padding: 10px;
}

.richtexteditor-contenteditable:focus {
	outline-style: none !important;
}

.richtexteditor-contenteditable-container {
	border: 1px;
	border-radius: 5px;
	border-color: #DDD;
	border-style: solid;
	overflow-y: auto;
	width: 100%;
	max-width: 822px;
    margin: 0 auto;
}

.richtexteditor-dropdown-select {
	padding-left: 0px !important;
	padding-right: 0px !important;
    width: 20px !important;
}

div.richtexteditor-paste ul.dropdown-menu>li>a {
	padding: 0px 5px;
}

div.richtexteditor-highlight button#highlight-button>span {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	height: 5px;
}

div.richtexteditor-highlight ul.dropdown-menu {
	margin-top: 0px;
}

div.richtexteditor-highlight ul.dropdown-menu>li {
	text-align: center;
}

div.richtexteditor-highlight ul.dropdown-menu>li>a {
	display: inline;
    padding: 0px 2px;
	font-size: 20px;
    line-height: 1;
}

div.richtexteditor-specialcharacters ul.dropdown-menu {
	min-width: 320px;
    padding: 0 0 0 0;
	background-color: unset;
    border: none;
	margin-top: 0px;
}

div.richtexteditor-specialcharacters ul.dropdown-menu div.btn-group {
	float: right;
}

div.richtexteditor-specialcharacters ul.dropdown-menu button {
	margin-bottom: 0px;
}

#richtexteditor-smalltext-btn-icon {
	font-size: smaller;
}

#richtexteditor-addimage-btn-icon {
	margin-left: -2px;
}

#page-header-add-profile-image-se-marker span.se-feature-marker-inside-button {
	font-size: 14px;
	top: 0px;
}

#richtexteditor-largetext-btn i {
	font-size: larger;
}

.richtexteditor-find-replace-toolbar input {
	width: 299px !important;
	margin-top: -10px !important;
}

.richtexteditor-find-replace-toolbar button {
	margin-top: -10px !important;
}

#richtexteditorcasesensitiveicon {
	margin-left: -3px;
}

#richtexteditorwholewordicon {
	margin-left: -5px;
}

.richtexteditor-find-counter {
	position: absolute; 
	right: 75px; 
	top: -5px; 
	z-index: 100; 
	color: #888; 
	font-size: 13px;
}

.richtexteditor-note {
	color: yellow;
	text-indent: 5px;
	cursor: pointer;
}

#richtexteditorcontainer span.comment-enabled, 
#richtextviewercontainer span.comment-enabled,
#interviewviewercontainer span.comment-enabled
 {
    background-color:#f1e4bd;
}

#richtexteditorcontainer span.comment-beginning:before, 
#richtextviewercontainer span.comment-beginning:before,
#interviewviewercontainer span.comment-beginning:before  {
    content: "\f075";
	color: #2a9fd6;
	margin-left:3px;
    margin-right: 2px;
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
	cursor: pointer;
}

.metatext-btn-count {
	width: 47px !important;
}

.metatext-btn-count span {
	margin-left: 2px;
}

#richtexteditorcontainer span.footendnote::before, 
#richtextviewercontainer span.footendnote::before,
#interviewviewercontainer span.footendnote::before
 {
    content: "*";
    color: #2a9fd6;
    margin-left: 1px;
    margin-right: 1px;
    display: inline;
    cursor: pointer;
}

.metatext-box {
	width: 250px;
    height: 150px;
    position: absolute;
    color: #222;
	z-index: 601;
}

.metatext-box-comment, .metatext-box-comment textarea {
	background-color: #ffc;
}

.metatext-box-note, .metatext-box-note textarea {
	background-color: #D6FFFF;
}

.metatext-box i {
	position: relative;
    float: left;
	margin: 3px;
	font-size: 20px;
	width: 20px;
}

.metatext-box-body {
	position: relative;
    float: left;
	margin-left: 5px;
	margin-top: 3px;
	width: 215px;
}

.metatext-box-body textarea {
	resize: none;
    border: none;
    width: 215px;
    height: 110px;
    overflow-y: scroll;
	outline: none;
}

.metatext-box-body textarea::-webkit-scrollbar-thumb {
	background-color: #a6a6a6; 
}

.metatext-box-footer {
	position: absolute;
    left: 23px;
    width: 215px;
    bottom: 0px;
	padding: 10px;
}

.metatext-box-footer a {
	margin-right: 10px;
}

.metatext-box-connector {
	height: 1px;
	position: absolute;
	z-index: 601;
}

.metatext-box-connector-vertical {
	width: 1px;
	height: 5px;
	position: absolute;
	z-index: 601;
}

.metatext-box-connector-edge {
	position:absolute;
	z-index: 601;
	width: 0;
	height: 0;
}

.metatext-box-connector-edge-direct {
	border-top: 5px solid transparent;
	border-left: 10px solid;
	border-bottom: 5px solid transparent;
}

.metatext-box-connector-edge-elbow {
	border-bottom: 8px solid;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.se-feature-marker-inside-button {
	position: absolute; 
	top: -2px; 
	right: 1px;
	font-size: 10px;
}

/* IMAGES VIEWER */
.image-viewer-image {
	max-height: 500px;
}

@media (max-width: 1423px) {
	.richtexteditor-find-replace-toolbar input {
		width: 160px !important;
	}
}


/* BREADCRUMB */
.breadcrumb {
	margin-bottom: 5px;
}

.breadcrumb-img-offset {
	margin-left: 110px;
}

.breadcrumb li span {
	display: inline-block;
    white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

@media (max-width: 1199px) {
	.breadcrumb li span .breadcrumb-span-2-items {
		max-width: 700px;
	}
	.breadcrumb-span-3-items {
		max-width: 400px;
	}
	.breadcrumb-span-4-items {
		max-width: 350px;
	}
}


/* BLOCKQUOTE */
blockquote {
	padding: 5px 15px;
	margin: -10px 0px 10px 0px;
}

/* HEADER */
h1 {
	font-size: 30px;
	margin-bottom: 0px;
}

h2 {
	font-size: 25px;
	margin-top: 10px;
}

h3 {
	font-size: 20px;
}

/* PAGE HEADER */
.page-header {
	margin-top: 0px !important;
	padding-bottom: none;
	height: 55px;
	border-bottom: none;
	margin-bottom: 10px;
}

.page-header h1 {
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

.page-header small {
	font-size: 55%;
}

.page-header-title-button {
	margin-left: 15px;
}

.page-header-truncate-title {
  display: inline-block;	
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1px;
}

.page-header-profile {
	display: inline-block;
}

.page-header-profile img {
    object-fit: cover;
    width: 96px;
    height: 96px;
    margin-top: -70px;
    margin-right: 6px;
}

.page-header-no-profile {
	display: inline-block;
	width: 96px;
	margin-right: 6px;
}

.page-header-no-profile-bg {
    height: 96px;
    width: 96px;
    background-color: #ddd;
    border: 1px solid #ddd; 
	border-radius: 4px;
    margin-top: -90px;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
}

 .page-header-no-profile-icon {
    margin-top: -70px;
    margin-left: 0px;
    position: absolute;
    width: 96px;
    text-align: center;
}

 .page-header-no-profile-icon i {
	font-size: 2.2em;
    line-height: .75em;
    vertical-align: 15%;
    margin-left: auto;
 }
 .page-header-no-profile-button {
    font-size: 30px !important;
    font-weight: bolder;
	margin-top: -35px;
    margin-left: 55px;
    padding-top: 0px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    line-height: 1;
    position: absolute;
}

.page-header-subtitle {
	 color: #777;
	 font-size: 16px;
}

.page-header-taskstatus-selector {
	margin-left: 5px;
    margin-top: 2px;
}

.page-header-buttonbar {
	height: 35px;
    display: flex;
    align-items: center;
    gap: 5px; 
}

.page-subheader {
    border-bottom: 0px;
    margin-bottom: 5px;
}

.page-subheader span.page-header-truncate-title {
	height: 30px;
}

.page-subheader h1 {
	font-size: 25px;
	margin-bottom: 2px;
}

.page-subheader-truncate-title {
	display: inline-block;
	width: calc(100% - 50px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* DRAG AND DROP */
.drag {
  opacity: 0.5;
}

/* CARD */
.card {
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	padding: 10px 15px;
	position: relative;
	width: 255px;
}

.card-normal {
	height: 160px;
}

.card-normal-notags {
	height: 140px;
}

.card-small {
	height: 100px;
}

.card-small-notags {
	height: 90px;
}

.card-chapter {
	height: 150px;
}

.card-chapter-notags {
	height: 125px;
}

.card-hover {
	background-color: #f5f5f5;
	opacity: 0.8; 
}

.card:focus {
	outline: none;
	border: 2px solid #bbb; 
	border-radius: 4px;
}

.card:focus div.card-left-section-normal {
	height: 156px;
}

.card:focus div.card-left-section-normal-notags {
	height: 136px;
}

.card:focus div.card-left-section-small {
	height: 96px;
}

.card:focus div.card-left-section-notags {
	height: 86px;
}

.card:focus div.card-left-section-small-notags {
	height: 86px;
}

.card:focus div.card-left-section-chapter {
	height: 146px;
}

.card:focus div.card-left-section-chapter-notags {
	height: 121px;
}

.card-left-section {
	position: relative;
	float: left;
	background-color: #ddd;
	margin-top: -10px;
	width: 50px;
}

.card-left-section img {
	object-fit: cover;
	width: 45px;
	height: 45px;
}

.card-left-section span.bibiscoTaskStatus {
	position: absolute;
	bottom: 6px;
	left: 5px;
}

.card-left-section-normal {
	height: 158px;
}

.card-left-section-normal-notags {
	height: 138px;
}

.card-left-section-small {
	height: 98px;
}

.card-left-section-small-notags {
	height: 88px;
}

.card-left-section-chapter {
	height: 148px;
}

.card-left-section-chapter-notags {
	height: 123px;
}

.card-no-profile-bg {
	position: absolute;
    top: 10px;
    left: 2px;
	height: 45px;
	width: 45px;
	background-color:#204d74;
	border: 1px solid#204d74;
	text-align: center;
 }

 .card-no-profile-bg i {
	font-size: 1.65em;
    line-height: .75em;
    vertical-align: 15%;
    margin-top: 13px;
	margin-left: auto;
	margin-right: auto;
 }

.card-right-section {
	position: relative; 
	float: left; 
	margin-top: 0px; 
	margin-left: 10px;
}

.card-heading-title {
	display: table;
    margin-top: -5px;
	margin-left: -5px;
}

.card-heading-title span {
	display: table-cell;
    vertical-align: middle;
}

.card-heading-title span strong {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	overflow-wrap: anywhere;
}

.card-heading-title-normal {
	width: 190px;
	height: 45px;
	-webkit-line-clamp: 2;
}

.card-heading-title-small {
	width: 190px;
	height: 60px;
}

.card-heading-title-text-small {
	-webkit-line-clamp: 3;
}

.card-heading-title-text-normal {
	-webkit-line-clamp: 2;
}

.card-heading-title-chapter {
	width: 85px;
	height: 30px;
	-webkit-line-clamp: 1;
}

.card-heading-image {
	position: absolute;
    left: 3px;
    top: 10px;
}

.card-text {
	padding-top: 10px;
    border-top: #ddd 1px solid;
	margin-left: -5px;
	width: 190px;
	font-size: 13px;
	line-height: 1.3;
	overflow : hidden;
	overflow-wrap: anywhere;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.card-text-normal {
	-webkit-line-clamp: 4;
}

.card-text-small {
	-webkit-line-clamp: 2;
}

.card-text-chapter {
	-webkit-line-clamp: 4;
}

/* CARD GRID */
.card-grid-items-box {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: flex-start; 
	column-gap: 20px; 
	row-gap: 20px;
}

/* BADGE */
.bibiscoBadge {
	font-weight: bold;
	padding: .4em .4em .4em;
}

/* TASK STATUS */
.task-status-selector {
	width: 30px; 
	display: inline-block;
}

.bibiscoTaskStatus {
    border-radius: .25em;
    width: 40px;
}

.task-status-btn-disabled {
	opacity: 1 !important;
}

/* TAG BADGE */
div.card-tags {
	position: absolute;
	left: 55px;
	width: 190px;
	height: 29px;
	border-top: 1px solid #DDD;
}

div.card-small div.card-tags {
	top: 69px;
}

div.card-normal div.card-tags {
	top: 129px;
}

div.card-chapter div.card-tags {
	top: 119px;
}

div.card-tags div i {
	font-size: 25px;
	margin-left: -2px;
	margin-top: 2px;
}

.card-tags-10-15 {
	margin-left: -10px !important;
}

.card-tags-16-20 {
	margin-left: -13px !important;
}

span.page-header-tags-10-15 i {
	margin-right: -10px;
}

span.page-header-tags-16-20 i {
	margin-right: -15px;
}
span.page-header-tags-16-20 i:last-child, span.page-header-tags-10-15 i:last-child {
	margin-right: 0px;
}



/* WELCOME */

.welcomeWizardNotes p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 18px;
}

.welcome-form {
    margin-top: 50px;
	width: 95%;
}

.welcome-form form {
	padding-left: 50px;
	margin-top: -30px;
	width: 90%;
}


.welcomeWizardLabel {
	margin-bottom: 5px !important;
}

.welcomeWizardLanguage {
	margin-top: 10px;
}

.welcomeWizardProjectDirectory {
	margin-top: 10px;
}

.welcomeWizardBackupDirectory {
	margin-top: 20px;
}

.welcomeWizardButtons {
	margin-top: 20px;
}

.welcomeBibiscoCantWriteItsOwnDirectory p {
	margin-bottom: 5px;
}

/* LOADING BAR */

.loading-bar-progress {
	height: 10px;
    margin-bottom: 0px;
	width: 400px;
}

.loading-bar p {
	height: 10px;
    margin-bottom: 25px;
	width: 400px;
	font-size: 21px;
    font-weight: 200;
}

/* OPEN PROJECT */

.open-project-container table{
	margin-top: -15px;
}


/* EMPTY LIST BOX */
.bibiscoEmptyListBox {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 150px;
	padding-top: 20px;
	padding-bottom: 35px;
	padding-left: 40px;
}

.bibiscoEmptyListBox button {
	margin-top: 16px;
}

/* MENU */
.sidebar-container{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
    flex-direction: column;
	height: 100%;
	width: 240px;
	padding-top: 30px;
	padding-left: 10px;
}

.menu-container {
	overflow-y: auto;
    width: 230px;
	flex: 1 1 auto;
	margin-bottom: 80px;
}

.menu-container_ce {
	overflow-y: auto;
    width: 230px;
	flex: 1 1 auto;
}

.menu-ce-section {
	flex: 0 1 auto;
    margin-bottom: 80px;
}

.menu-ce-section hr {
	width: 50%; 
	margin-top: 15px; 
	margin-bottom: 10px;
}

.menu-ce-section-text {
	text-align: center; 
	padding-left: 5px; 
	padding-right: 15px;
}

.menu-ce-section-button {
	margin-top: 10px; 
	text-align: center;
	padding-right: 15px;
    padding-left: 5px;
}

.menu-ce-section-button button {
	width: 200px;
	white-space: normal;
}

.btn-download {
	color: #FFF;
	background-color: #bd27c0;
	border-color: #bd27c0; 
}

.btn-download:hover {
	color: #FFF;
	background-color: #961F98;
	border-color: #961F98; 
}

.btn-download:focus, .btn-download:active {
	color: #FFF;
    background-color: #bd27c0;
    border-color: #961F98;
}

/* START */
.start-title {
	padding-left: 30px;
	padding-bottom: 30px;
}
 
/* MODAL DIALOG */
.modal-dialog {
  margin: 150px auto;
}

.modal-body {
	padding-bottom: 0px;
	text-align: center;
}

.modal-footer {
	text-align: center;
	border-top: 1px solid #666;
}
 
.modal-richtexteditorsettings {
	width: 600px;
	height: 400px;
	margin-top: 100px;
}

.modal-waiting-spinner {
    margin-top: 40px;
    margin-bottom: 25px;
}

.modal-waiting-body p {
    height: 25px;
    margin-bottom: 25px;
    font-size: 21px;
    font-weight: 200;
}

.modal-se-cta {
	width: 650px;
    height: 400px;
    margin-top: 100px;
}

/* BUTTON FOCUS BORDER*/
.btn:focus,.btn:active {
   outline: none !important;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	background-color: #fff !important;
	border-color: #ccc !important;
	color: #428bca !important;
}

.btn-default-focus {
	 outline: none !important;
	 box-shadow: none !important;
}

.external-url {
	cursor: pointer;
}

/* INFO */
.info {
    overflow-y: auto;
    width: 100%;
    position: absolute;
	left: 0px;
	height: calc(100% - 150px);
    top: 145px;
}

.info p {
	margin: 0 0 8px;
}

/* LICENSE */
.license {
    overflow-y: auto;
	height: 500px;
	text-align: justify;
}

/* REVISION SELECT */
.revision-select {
	width: 300px;
	margin-top: -1px;
}

/* GROUP FILTER */
.group-filter {
	width: 300px;
	margin-top: -1px;
}

.group-filter-item {
	display: inline-block;
	width: 275px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* TAGS */
.scene-tags-button {
	margin-bottom: 3px;
	margin-right: 3px;
	overflow-wrap: break-word;
    white-space: normal;
    text-align: left;
}

/* RICH TEXT EDITOR STYLES */
.bibiscoRichTextEditor-bodyClass-courierbig {
	font-family: courier new, courier, monospace;
	font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-couriermedium {
	font-family: courier new, courier, monospace;
	font-size: 18px;
}

.bibiscoRichTextEditor-bodyClass-couriersmall {
	font-family: courier new, courier, monospace;
	font-size: 16px;
}

.bibiscoRichTextEditor-bodyClass-timesbig {
	font-family: Times New Roman, Times, serif;
	font-size: 21px;
}

.bibiscoRichTextEditor-bodyClass-timesmedium {
	font-family: Times New Roman, Times, serif;
	font-size: 19px;
}

.bibiscoRichTextEditor-bodyClass-timessmall {
	font-family: Times New Roman, Times, serif;
	font-size: 17px;
}

.bibiscoRichTextEditor-bodyClass-arialbig {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-arialmedium {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.bibiscoRichTextEditor-bodyClass-arialsmall {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.bibiscoRichTextEditor-bodyClass-georgiabig {
	font-family: Georgia, serif;
	font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-georgiamedium {
	font-family: Georgia, serif;
	font-size: 18px;
}

.bibiscoRichTextEditor-bodyClass-georgiasmall {
	font-family: Georgia, serif;
	font-size: 16px;
}

.bibiscoRichTextEditor-bodyClass-garamondbig {
	font-family: Garamond, serif;
	font-size: 22px;
}

.bibiscoRichTextEditor-bodyClass-garamondmedium {
	font-family: Garamond, serif;
	font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-garamondsmall {
	font-family: Garamond, serif;
	font-size: 18px;
}

.bibiscoRichTextEditor-bodyClass-baskervillebig {
	font-family: Baskerville, serif;
	font-size: 21px;
}

.bibiscoRichTextEditor-bodyClass-baskervillemedium {
	font-family: Baskerville, serif;
	font-size: 19px;
}

.bibiscoRichTextEditor-bodyClass-baskervillesmall {
	font-family: Baskerville, serif;
	font-size: 17px;
}

.bibiscoRichTextEditor-bodyClass-palatinobig {
	font-family: Palatino, serif;
	font-size: 20px;
}

.bibiscoRichTextEditor-bodyClass-palatinomedium {
	font-family: Palatino, serif;
	font-size: 18px;
}

.bibiscoRichTextEditor-bodyClass-palatinosmall {
	font-family: Palatino, serif;
	font-size: 16px;
}

.bibiscoRichTextEditor-bodyClass-indent-true {
	text-indent: 30px; 
}

.bibiscoRichTextEditor-bodyClass-indent-true li{
	list-style-position: inside;
}

.bibiscoRichTextEditor-bodyClass-linespacing-10 p {
	line-height: 1;
}

.bibiscoRichTextEditor-bodyClass-linespacing-13 p {
	line-height: 1.3;
}

.bibiscoRichTextEditor-bodyClass-linespacing-14 p {
	line-height: 1.4;
}

.bibiscoRichTextEditor-bodyClass-linespacing-15 p {
	line-height: 1.5;
}

.bibiscoRichTextEditor-bodyClass-linespacing-20 p {
	line-height: 2;
}

.bibiscoRichTextEditor-bodyClass-paragraphspacing-none p {
	margin-bottom: 0em;
}

.bibiscoRichTextEditor-bodyClass-paragraphspacing-small p {
	margin-bottom: 0.25em;
}

.bibiscoRichTextEditor-bodyClass-paragraphspacing-medium p {
	margin-bottom: 0.5em;
}

.bibiscoRichTextEditor-bodyClass-paragraphspacing-large p {
	margin-bottom: 0.75em;
}

.bibiscoRichTextEditor-bodyClass-paragraphspacing-double p {
	margin-bottom: 1em;
}

.bibiscoRichTextEditorSettings-arial {
	font-family: Helvetica, Arial, sans-serif;
}

.bibiscoRichTextEditorSettings-courier {
	font-family: courier new, courier, monospace;
}

.bibiscoRichTextEditorSettings-times {
	font-family: Times New Roman, Times, serif;
}

.bibiscoRichTextEditorSettings-georgia {
	font-family: Georgia, serif;
}

.bibiscoRichTextEditorSettings-garamond {
	font-family: Garamond, serif;
}

.bibiscoRichTextEditorSettings-baskerville {
	font-family: Baskerville, serif;
}

.bibiscoRichTextEditorSettings-palatino {
	font-family: Palatino, serif;
}


/* PROJECT HOME */
.project-motivational {
	padding-left: 50px;
}

.project-motivational h1 {
	margin-top: 0px;
}

.project-motivational p {
	margin-top: 30px;
	margin-bottom: 0px;
}

.project-stats-table table tr td {
	vertical-align: middle;
}

.project-stats-table table tr td span {
	vertical-align: middle;
}

.project-stats-table tr:first-child td {
	border-top: 0px;
}

.project-stats-item {
	font-size: 16px;
	font-weight: bold;
}

.project-stats-number {
	font-size: 30px; 
	font-weight: bold; 
	margin-left: 10px;
}

.project-stats-detail-number {
	font-weight: bold; 
}

.project-stats-progress {
	height: 10px;
    margin-bottom: 0px;
	width: 100px;
}

.words-written-history div.analysiscanvasbarcontainer {
	height: 250px;
}

.goalsOpenCalendarBtn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
  
/* CHARACTERS */

.maincharacter-detail blockquote {
	margin-top: 0px;
	padding: 0px 15px;
}

.character-info-question {
	font-style: italic;
	font-weight: bold;
}

.character-info-question-images-events-groups-block {
	display: inline-block;
}

.character-info-question-images-events-groups-dropdown {
	display: none;
}

.character-info-question-select-item {
	font-style: italic;
}

.character-questions-richtexteditor-container {
	height: calc(100% - 165px);
}

.character-info-answer {
	margin-bottom: 10px;
}

/* PARTS */
.emptypart {
	height: 125px;
}

/* ANALYSIS */
.analysis-chapter-length div.analysiscanvasbarcontainer {
	height: 250px;
}

.analysis-items-distribution div.analysistablecontainer {
	overflow-x: auto;
}

.analysis-items-distribution div.analysiscanvasbarcontainer {
	height: 250px;
}

.analysis-items-distribution table {
	table-layout: fixed; 
	font-size: 12px;
}

.analysis-items-distribution table tr th, .analysis-items-distribution table tr td {
	width: 20px; 
	padding-left: 1px; 
	padding-right: 1px; 
	text-align: center;
}

.analysis-items-distribution table tr th:first-child, .analysis-items-distribution table tr td:first-child {
	width: 350px;
	padding-left: 5px; 
	padding-right: 5px; 
	text-align: left;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.list-item-color-0, .color-bluecola {
    background-color: #0084D1 !important;
}

.list-item-color-1, .color-midnightblue {
	background-color: #004586 !important;
}

.list-item-color-2, .color-redorange {
   background-color: #FF420E !important;
}

.list-item-color-3, .color-ripemango {
    background-color: #FFD320 !important;
}

.list-item-color-4 {
    background-color: #579D1C !important;
}

.list-item-color-5 {
    background-color: #7E0021 !important;
}

.list-item-color-6 {
    background-color: #83CAFF !important;
}

.list-item-color-7 {
    background-color: #314004 !important;
}

.list-item-color-8 {
    background-color: #AECF00 !important;
}

.list-item-color-9 {
    background-color: #4B1F6F !important;
}

.list-item-color-10 {
    background-color: #FF950E !important;
}

.list-item-color-11 {
    background-color: #C5000B !important;
}

.analysis-character-appearances table {
	table-layout: fixed; 
	font-size: 12px;
	width: 100%;
}

.analysis-character-appearances table tr th, 
.analysis-character-appearances table tr td {
	padding-left: 5px; 
	padding-right: 5px; 
	text-align: left;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.analysis-character-appearances table tr th:nth-child(1) { 
	width: 20%;
 }

 .analysis-character-appearances table tr th:nth-child(2) { 
	width: 40%;
 }

 .analysis-character-appearances table tr th:nth-child(3) { 
	width: 20%;
 }

 .analysis-character-appearances table tr th:nth-child(4) { 
	width: 20%;
 }

 .image-external-link {
	 cursor: pointer;
	 margin-left: 4px;
	 margin-right: 4px;
 }

@media (max-width: 1200px) {
	.nav>li>a {
		padding-left: 8px;
		padding-right: 8px;
	}

	.character-info-question-images-events-groups-block {
		display: none;
	}

	.character-info-question-images-events-groups-dropdown {
		display: inline-block;
	}
}

@media (max-width: 1000px) {
	.navbar {
		border-radius: 0px;
	}
    .navbar-header {
        float: none;
    }
	.navbar-right {
		float: none!important;
	}
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
				max-height: 380px;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
	}
}

/* RELATIONS */

.relations-footer {
	position: absolute;
	bottom: 10px;
	width: calc(95% - 270px);
	left: 270px;
}

.relations-footer div.row {
	margin-left: 0px;
}

.relations-footer hr {
	margin-bottom: 10px;
}

.relations-footer div {
	width: 100%;
	float: left;
	position: relative;
    min-height: 1px;
}

.relations-navigation-button {
    border-color: transparent;
    font-size: 26px;
    background-color: transparent;
    padding: 0px 3px;
    color: #777;
	margin-top: -5px;
}

.relations-navigation-button:active, 
.relations-navigation-button:focus,
.relations-navigation-button:hover {
	box-shadow: none;
	color: #777;
}

.relations-tip-container {
	text-align: left;
}

.relations-delete-item-button {
	margin-right: 35px;
}

.vis-network {
	outline-style: none !important;
}

.input-xs {
	height: 30px;
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
	border-radius: 3px;
  }

/* SEARCH */

.search-inline-button {
	margin-left: -15px;
}

.search-results-container {
	overflow-y: auto;
	width: 100%;
}

.search-results-container-no-replace-toolbar {
	height: calc(100% - 260px);
}

.search-results-container-with-replace-toolbar {
	height: calc(100% - 313px);
}

.search-results-container table{
	margin-top: -10px;
}

.search-results-title {
	margin-top: 20px;
	margin-bottom: 0px;
}

.search-results-occurrences {
	font-size: 90% !important;
}

/* TIMELINE */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	margin-left: -1.5px;
}

.timeline-tips:before {
	left: 50%;
}

.timeline-scenes:before {
	left: 41%;
}

.timeline-element > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline-element > li:before,
.timeline-element > li:after {
	content: " ";
	display: table;
}

.timeline-element > li:after {
	clear: both;
}

.timeline-element > li:before,
.timeline-element > li:after {
	content: " ";
	display: table;
}

.timeline-element > li:after {
	clear: both;
}

.timeline-element > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 15px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-element > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline-element > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline-element > li > .timeline-badge {
	color:#fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline-element > li > .timeline-scene-badge {
	color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 28px;
    left: 41%;
    margin-left: -12px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline-element > li > .timeline-scene-datetime {
	position: absolute;
	left: calc(41% - 375px);
	width: 350px;
	top: 13px;
	text-align: right;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.timeline-element > li.timeline-inverted > .timeline-panel-tip {
	float: right;
}

.timeline-element > li.timeline-inverted > .timeline-panel-scene {
	left: 45%;
}

.timeline-element > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline-element > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.tips-characters {
	background-color: #004586 !important;
}

.tips-conflict {
   background-color: #FF420E !important;
}

.tips-premise {
    background-color: #FFD320 !important;
}

.tips-setting {
    background-color: #579D1C !important;
}

.tips-fabula {
   background-color: #4B1F6F !important;
}

.tips-pointofview {
	background-color: #0084D1 !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-heading > p {
	margin-bottom: 5px;
	word-break: normal;
	overflow-wrap: anywhere;
}

.timeline-body > p,
.timeline-body > ul {
	margin-bottom: -5px;
	text-align: justify;
	word-break: normal;
	overflow-wrap: anywhere;
}

.timeline-body > p + p {
	margin-top: 5px;
}

.dropdown-menu {
	float: right;
	left: auto;
	right: 0;
	z-index: 700;
}

.modal-contextualtip {
    width: 400px;
}

.modal-richtexteditortip {
	width: 650px;
}

.modal-relationstip {
	width: 600px;
}

/* SETTINGS */

.settings-note {
	margin-top: -10px;
	margin-bottom: 10px;
}

/* FULLSCREEN */

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	z-index: 600;
	height: 100% !important;
	padding-left: calc((100% - 750px) / 2); 
	padding-right: calc((100% - 750px) / 2); 
	padding-top: 2%;
	padding-bottom: 2%;
	max-width: none !important;
  }
  
.exitfullscreenmessage {
	position: fixed;
	top: 100px;
	left: 200px;
	width: calc(100% - 400px);
	height: 100px;
	z-index: 610;
	text-align: center;
	border-radius: 15px;
}

.exitfullscreenmessage h1 {
	margin-top: 35px;
}

#interviewfreetexttip {
	margin-bottom: 15px;
}

/* TREE VIEW */
tree-view {
    display: block;
	width: 200px;
}

tree-view .collapsing.in {
    overflow: visible;
}

tree-view ul {
    padding-left: 0;
	text-indent: 0px;
}

tree-view ul li {
    display: block;
}

tree-view ul li .node:before, tree-view ul li .node:after {
    display: table;
    content: " ";
}

tree-view ul li .node:after {
    clear: both;
}

tree-view ul li .node {
    cursor: pointer;
    margin-left: -15px;
    margin-right: -15px;
    margin: 0;
    padding: .3745rem;
}

tree-view ul li .node div:first-child i.no-child, tree-view ul li .node div:first-child i.has-child, tree-view ul li .node div:first-child i.has-child-open {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.3475rem;
	width: 14px;
}

tree-view ul li .node div:first-child i.has-child:before {
    content: "\f054";
}

tree-view ul li .node div:first-child i.has-child-open:before {
    content: "\f078";
}

tree-view ul li .node div:first-child span {
    padding: .1475rem;
}

tree-view ul li .node div:first-child span .selected {
    background: #D8ECF6;
}

tree-view tree-view {
    padding-left: 0.75rem;
}

.hr-form-divider {
	margin-top: 0px;
	margin-bottom: 0px;
}

.chapter-title-format-example {
	margin-top: -13px;
	margin-bottom: 15px;
}

/* COLOR SELECTOR */
.color-selector-item {
	cursor: pointer;
	font-size: 2.5em;
	margin: 1px;
}

/* READ NOVEL */
.read-novel-header {
	width: calc(100% - 345px);
}

.read-novel-chapter-title {
	margin-top: 0px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

.read-novel-chapter-selection {
	width: 300px;
	padding-left: 4px;
}

.read-novel-chapter-selection-item {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.read-novel-fullscreen-button {
	width: 35px; 
	margin-right: 3px;
}

.read-novel-scenes-separator {
	height: 15px;
}

/* IMAGES */
.add-images-input-notes {
	text-align: left;
	margin-top: -15px;
    margin-bottom: 10px;
}

.add-images-input-notes p {
	margin-left: -3px;
}

/* ERROR */
.genericoerrordescription {
	margin-top: 30px;
}

.permissionerrordescription {
	margin-top: 30px;
}

.permissionerrordescription p {
	font-size: 115%;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    .timeline-element > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    .timeline-element > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
	}
	
	.timeline-element > li > .timeline-scene-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    .timeline-element > li > .timeline-panel {
        float: right;
    }

	.timeline-element > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}

	.timeline-element > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}

@media (max-width: 1199px) {
	#maxbackupnumber {
		width: 50px;
	}
	
	.revision-select {
		width: 190px;
	}
}

@media (max-width: 1065px) {	
	.revision-select {
		width: 150px;
	}
}

@media (max-height: 710px) {

	.intervieweditor-hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.questionbuttonbar .btn-lg {
		padding: 6px 12px;
    	font-size: 14px;
    	line-height: 1.42857143;
    	border-radius: 4px;
	}

	.character-questions-richtexteditor-container {
		height: calc(100% - 113px);
	}

	.richtexteditor-settings-sample {
		display: none;
	}
}