<breadcrumb items="$ctrl.breadcrumbitems"></breadcrumb>
<pageheader headertitle="{{$ctrl.title}}">
</pageheader>


<div class="scrollable-box-full-height-page-with-breadcrumb-header-footer">
  <div ng-if="$ctrl.images && $ctrl.images.length > 0">
    <div class="col-sm-offset-1 col-sm-10" ng-repeat="image in $ctrl.images track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{image.name}} <span ng-if="$ctrl.selectedimage === image.filename" class="label label-info bibiscoBadge">{{$ctrl.selectedimagebadgelabel | translate}}</span>
          </h3>
        </div>
        <img class="img-responsive center-block image-viewer-image" 
          src="{{$ctrl.fullpath(image.filename)}}" />
        <div class="panel-footer text-right">
          <button class="btn btn-primary btn-xs" 
            ng-click="$ctrl.executeselectfunction({filename: image.filename})"
            ng-if="$ctrl.showselectbutton && $ctrl.selectedimage !== image.filename">{{$ctrl.selectbuttonlabel | translate}}</button>
          <buttonwithconfirm enableconfirm="true" 
            buttonlabel="jsp.carouselImage.a.deleteCurrentImage" 
            buttonfunction="$ctrl.deletefunction({filename: image.filename})"
            buttonstyle="btn-default btn-xs" 
            confirmmessage="jsp.carouselImage.dialog.deleteCurrentImage.confirm">
          </buttonwithconfirm>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!$ctrl.images || $ctrl.images.length == 0">
    <jumbotronbutton text="{{'jsp.carouselImage.bibiscoEmptyThumbnailListBox.text' | translate}}" 
      buttonlabel="{{'jsp.carouselImage.a.addFirstImage' | translate}}" 
      buttonfunction="$ctrl.insertfunction()"
      buttontooltip="{{'images_add_first_image_tooltip'+$root.os | translate}}"></jumbotronbutton>
  </div>
</div>

<pagefooter buttonlabel="jsp.carouselImage.a.addImage"
    buttonfunction="$ctrl.insertfunction()"
    buttonhotkey="$ctrl.hotkeys"
    buttonshow="$ctrl.images && $ctrl.images.length > 0"
    buttonstyle="{{$ctrl.insertbuttonstyle}}"
    buttontooltip="{{'images_add_image_tooltip'+$root.os | translate}}">
</pageheader>