<breadcrumb items="$ctrl.breadcrumbitems"></breadcrumb>
<pageheader headertitle="{{$ctrl.mindmap.name}}" 
    dblclickfunction="$ctrl.changeTitle()" dropdownopen="down" 
    dropdownitems="$ctrl.actionitems" 
    taskstatus="$ctrl.mindmap.status" taskstatuschangefunction="$ctrl.changeStatus(status)"">
</pageheader>

<div ng-show="!$ctrl.editMode && $ctrl.emptyRelations">
    <jumbotronbutton text="{{'relations_emptylist' | translate}}"
        buttonlabel="{{'relations_create_first' | translate}}"
        buttonfunction="$ctrl.edit()"
        buttontooltip="{{'relations_firstcreate_tooltip'+$root.os | translate}}"></jumbotronbutton>
</div>

<div id="mynetwork" class="scrollable-box-full-height-page-with-header-relationsfooter" ng-show="!ctrl.emptyRelations"></div>

<div class="bibiscoNotSelectableText relations-footer">
    <hr>
    <div class="row">
        <span class="pull-left">
            <span ng-if="$ctrl.editMode && $ctrl.autosaveenabled == true" class="label label-primary"
                uib-tooltip="{{'tag.bibiscoRichTextEditor.autosave.enabled' | translate}}"
                tooltip-placement="right">AUTO</span>
            <span ng-if="$ctrl.editMode && $ctrl.autosaveenabled == false" class="label label-default"
                uib-tooltip="{{'tag.bibiscoRichTextEditor.autosave.disabled' | translate}}"
                tooltip-placement="right">AUTO</span>
            <span class="label label-primary" 
                uib-tooltip="{{'tag.bibiscoRichTextEditor.span.lastsave' | translate}}">
                <i class="fa fa-save" aria-hidden="true"></i> {{'timestamp_format' | translate:{date:$ctrl.mindmap.lastsave} }}
            </span>  
        </span>
        <span class="pull-right">
            <span ng-show="$ctrl.editMode || !$ctrl.emptyRelations">
                <button type="button" class="relations-navigation-button invisible">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
                <button type="button" class="relations-navigation-button" ng-click="$ctrl.moveUp()">
                    <i class="fa fa-arrow-circle-up"></i></button>
                <button type="button" class="relations-navigation-button invisible">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
                <button type="button" class="relations-navigation-button invisible">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                <button type="button" class="relations-navigation-button" ng-click="$ctrl.fit()">
                    <i class="fa fa-crosshairs"></i></button>
                <button type="button" class="relations-navigation-button" 
                    ng-if="$ctrl.editMode" ng-click="$ctrl.help()">
                    <i class="fa fa-question-circle"></i></button>
                <button type="button" class="relations-navigation-button invisible" ng-if="!$ctrl.editMode">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            </span>
        
            <span class="pull-right" style="width: {{$ctrl.editsavebackbuttonbarspace}}px;">
                <span class="pull-right"> 
                    <dropdownmenu 
                        buttonlabel="jsp.common.button.more" 
                        items="$ctrl.actionitems" 
                        open="up"
                        visible="true"></dropdownmenu>
                    <button type="button" class="btn btn-default" ng-if="!$ctrl.emptyRelations"
                        ng-click="$ctrl.export()">{{"common_export_button" | translate}}</button>
                    <editsavebackbuttonbar
                        autosaveenabled="$ctrl.autosaveenabled"
                        editbuttonvisible="true"
                        editfunction="$ctrl.edit()"
                        editmode="$ctrl.editMode" 
                        readfunction="$ctrl.read()"
                        savefunction="$ctrl.save()">
                    </editsavebackbuttonbar>
                </span>
            </span>
        </span>
    </div>
    <div>   
        <span class="pull-right">
            <span ng-show="$ctrl.editMode || !$ctrl.emptyRelations">
                <button type="button" class="relations-navigation-button" ng-click="$ctrl.moveLeft()">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
                <button type="button" class="relations-navigation-button" ng-click="$ctrl.moveDown()">
                    <i class="fa fa-arrow-circle-down"></i></button>
                <button type="button" class="relations-navigation-button" ng-click="$ctrl.moveRight()">
                    <i class="fa fa-arrow-circle-right"></i></button>
                <button type="button" class="relations-navigation-button invisible">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
                <button type="button" class="relations-navigation-button" ng-click="$ctrl.zoomIn()">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                <button type="button" class="relations-navigation-button" ng-click="$ctrl.zoomOut()">
                    <i class="fa fa-plus-circle"></i></button>
            </span>

            <span class="pull-right" style="width: {{$ctrl.editsavebackbuttonbarspace}}px;">
            </span>
        </span>
    </div>
</div>


