<pageheader headertitle="{{'relations_title'| translate}}" dropdownopen="down" dropdownitems="$ctrl.actionitems">
</pageheader>

<div ng-show="!$ctrl.editMode && $ctrl.emptyRelations">
    <jumbotronbutton text="{{'relations_emptylist' | translate}}"
        buttonlabel="{{'relations_create_first' | translate}}"
        buttonfunction="$ctrl.edit()"
        buttontooltip="{{'relations_firstcreate_tooltip'+$root.os | translate}}"></jumbotronbutton>
</div>

<div id="mynetwork" class="scrollable-box-full-height-page-with-header-relationsfooter" ng-show="!ctrl.emptyRelations"></div>

<div ng-show="$ctrl.editMode || (!$ctrl.editMode && !$ctrl.emptyRelations)" 
    class="bibiscoNotSelectableText relations-footer">
    <hr>
    <div class="row">
        <span class="pull-left">
            <span ng-if="$ctrl.editMode && $ctrl.autosaveenabled == true" class="label label-primary"
                uib-tooltip="{{'tag.bibiscoRichTextEditor.autosave.enabled' | translate}}"
                tooltip-placement="right">AUTO</span>
            <span ng-if="$ctrl.editMode && $ctrl.autosaveenabled == false" class="label label-default"
                uib-tooltip="{{'tag.bibiscoRichTextEditor.autosave.disabled' | translate}}"
                tooltip-placement="right">AUTO</span>
            <span class="label label-primary" 
                uib-tooltip="{{'tag.bibiscoRichTextEditor.span.lastsave' | translate}}">
                <i class="fa fa-save" aria-hidden="true"></i> {{'timestamp_format' | translate:{date:$ctrl.lastsave} }}
            </span>  
        </span>
        <span class="pull-right">
            <button type="button" class="relations-navigation-button invisible">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            <button type="button" class="relations-navigation-button" ng-click="$ctrl.moveUp()">
                <i class="fa fa-arrow-circle-up"></i></button>
            <button type="button" class="relations-navigation-button invisible">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            <button type="button" class="relations-navigation-button invisible">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            <button type="button" class="relations-navigation-button invisible">
                <i class="fa fa-minus-circle" aria-hidden="true"></i></button>
            <button type="button" class="relations-navigation-button" ng-click="$ctrl.fit()">
                <i class="fa fa-crosshairs"></i></button>
            <button type="button" class="relations-navigation-button" 
                ng-if="$ctrl.editMode" ng-click="$ctrl.help()">
                <i class="fa fa-question-circle"></i></button>
        
            <span class="pull-right" style="width: {{$ctrl.editsavebackbuttonbarspace}}px;">
                <span class="pull-right" ng-if="$ctrl.editMode"> 
                    <editsavebackbuttonbar
                        autosaveenabled="$ctrl.autosaveenabled"
                        editmode="true" 
                        savefunction="$ctrl.save()">
                    </editsavebackbuttonbar>
                </span>
                <span class="pull-right" ng-if="!$ctrl.editMode && !$ctrl.emptyRelations"> 
                    <button type="button" class="btn btn-primary" 
                        uib-tooltip="{{'edit_tooltip'+$root.os | translate}}"
                        ng-click="$ctrl.edit()">{{"jsp.common.button.edit" | translate}}</button>
                    <button type="button" class="btn btn-default" 
                        ng-click="$ctrl.export()">{{"common_export_button" | translate}}</button>
                    <buttonback></buttonback>
                </span>
            </span>
        </span>
    </div>
    <div>   
        <span class="pull-right">
            <button type="button" class="relations-navigation-button" ng-click="$ctrl.moveLeft()">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            <button type="button" class="relations-navigation-button" ng-click="$ctrl.moveDown()">
                <i class="fa fa-arrow-circle-down"></i></button>
            <button type="button" class="relations-navigation-button" ng-click="$ctrl.moveRight()">
                <i class="fa fa-arrow-circle-right"></i></button>
            <button type="button" class="relations-navigation-button invisible">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            <button type="button" class="relations-navigation-button" ng-click="$ctrl.zoomIn()">
                <i class="fa fa-minus-circle" aria-hidden="true"></i></button>
            <button type="button" class="relations-navigation-button" ng-click="$ctrl.zoomOut()">
                <i class="fa fa-plus-circle"></i></button>
            <button type="button" class="relations-navigation-button" 
                ng-if="$ctrl.editMode" ng-click="$ctrl.opensettings()">
                <i class="fa fa-cog"></i></button>

            <span class="pull-right" style="width: {{$ctrl.editsavebackbuttonbarspace}}px;">
            </span>
        </span>
    </div>
</div>


