<modal-component modal-instance="$uibModalInstance" class="ng-scope ng-isolate-scope">
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <form name="$ctrl.relationDetailForm" class="form-horizontal" novalidate>          
          <textinputfield field="$ctrl.relationDetailForm.name" model="$ctrl.name" name="name" maxlength="100"
            typeheadsource="$ctrl.usedrelations" autofocus required label="{{'relations_relation' | translate}}" labelcols="2" inputcols="9">
          </textinputfield>

        </form>
      </div>
    </div>

    <div class="modal-footer bibiscoNotSelectableText">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
          <button class="btn btn-primary" type="button"
            uib-tooltip="{{'jsp.common.button.save.tooltip' | translate}}"
            ng-click="$ctrl.save()">{{"jsp.common.button.save" | translate}}</button>
          <button class="btn btn-default" type="button"
            uib-tooltip="{{'back_button_tooltip'+$root.os | translate}}"
            ng-click="$ctrl.back()"> {{"jsp.common.button.back" | translate}}</button>
        </div>
        <div class="col-sm-3">
          <span class="pull-right">
            <button class="btn btn-default relations-delete-item-button" type="button" ng-if="$ctrl.editMode"
            ng-click="$ctrl.delete()"> {{"jsp.common.button.delete" | translate}}</button>
          </span>
        </div>
      </div>
    </div>
</modal-component>