<modal-component modal-instance="$uibModalInstance" class="ng-scope ng-isolate-scope">
  <div class="modal-body" id="modal-body">
      <p>
        {{$ctrl.message | translate}}
      </p>
  </div>
  <div class="modal-footer bibiscoNotSelectableText">
    <button ng-if="$ctrl.mode == 'confirm'" class="btn btn-danger" type="button"
      id="modalBaseConfirmButton"
      ng-click="$ctrl.ok()">{{"js.bibisco.confirm.ok" | translate}}</button>
    <button ng-if="$ctrl.mode == 'confirm'" class="btn btn-default" type="button"
      ng-click="$ctrl.cancel()">{{"js.bibisco.confirm.cancel" | translate}}</button>
    <button ng-if="$ctrl.mode == 'alert'" class="btn btn-primary" type="button"
      ng-click="$ctrl.cancel()">{{"js.bibisco.alert.ok" | translate}}</button>
  </div>
</modal-component>
