<elementdetail
  breadcrumbitems="$ctrl.breadcrumbitems"
  changetitleenabled="true"
  changetitlefunction="$ctrl.changeTitle()"
  changetitlelabel="note_change_name_label"
  characters="$ctrl.note.characters"
  content="$ctrl.note.description"
  deleteconfirmmessage="note_delete_confirm"
  deleteenabled="true"
  deleteforbidden="$ctrl.deleteforbidden"
  deleteforbiddenmessage="note_delete_ko"
  deletefunction="$ctrl.delete()"
  editmode="$ctrl.mode === 'edit'"
  editfunction="$ctrl.edit()"
  eventsenabled="false"
  headertitle="{{$ctrl.note.name}}"
  imagesenabled="true"
  lastsave="$ctrl.note.lastsave"
  readfunction="$ctrl.read()"
  savefunction="$ctrl.savefunction()"
  showimagesfunction="$ctrl.showimagesfunction()"
  showimageslabel="{{'note_images_tooltip'+$root.os}}"
  taskstatus="$ctrl.note.status"
  taskstatuschangefunction="$ctrl.changeStatus(status)"
  words="$ctrl.note.words"
  wordscharactersenabled="true">
</elementdetail>
