<pageheader headertitle="{{$ctrl.project().name}}" dblclickfunction="$ctrl.editProjectTitle()"></pageheader>

<!-- LOADING DICTIONARY -->
<div class="top200" ng-show="$ctrl.loadingDictionary">
  <loadingbar message="loading_dictionary" onepercentmilliseconds="300" start="$ctrl.loadingDictionary"></loadingbar>
</div>

<!-- PROJECT HOME -->
<div class="scrollable-box-full-height-page-with-header" ng-show="!$ctrl.loadingDictionary">
    <div ng-if="$ctrl.showMotivational">
      <div class="col-sm-9 col-sm-offset-1">
        <div class="jumbotron top50">
          <div class="project-motivational">
            <h1>{{"jsp.project.h1" | translate}}</h1>
            <p>
              <button ng-click="$ctrl.showTips()" type="button"
                class="btn btn-primary">{{"jsp.project.button.bibiscoProjectSuggestions" | translate}}</button>
                <button buttonshow="$ctrl.showMotivational" ng-click="$ctrl.goals()" type="button"
                class="btn btn-default">{{"goals_button" | translate}}</button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-stats-table" ng-if="!$ctrl.showMotivational">
        <div class="col-sm-10 col-sm-offset-1">
          <table class="table">
            <tbody>
              <tr>
                <td class="col-sm-5 text-right">
                  <span class="project-stats-item">{{"common_words" | translate}}</span> <span class="project-stats-number text-primary">{{($ctrl.wordsTotal | number: 0)}}</span>
                </td>
                <td class="col-sm-7 text-left">
                    <span class="project-stats-detail-number">{{($ctrl.charactersTotal | number: 0)}}</span> <span>{{"jsp.common.span.characters" | translate}}, <a ng-click="$ctrl.wordsWrittenHistory()">{{"goals_show_history" | translate}}<sefeaturemarker ng-if="$root.ed==='ce'"></sefeaturemarker></a>.</span>
                </td>
              </tr>
              <tr ng-if="$ctrl.wordsGoal && $ctrl.includeSupporterEditionItems">
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{"goals_total_words_goal" | translate}}</span><span class="project-stats-number text-primary">{{($ctrl.wordsGoal | number: 0)}}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                      <div class="progress project-stats-progress">
                        <div class="progress-bar" 
                          ng-class="{ 'progress-bar-success' : $ctrl.wordsGoalPerc >= 100,
                                      'progress-bar-warning' : $ctrl.wordsGoalPerc > 74 && $ctrl.wordsGoalPerc < 100,
                                      'progress-bar-danger' : $ctrl.wordsGoalPerc < 75}"
                          ng-style="{ 'width': '{{$ctrl.wordsGoalPerc}}%' }">
                        </div>
                      </div>
                      <div>
                        <span class="project-stats-detail-number">{{$ctrl.wordsGoalPerc}}%</span> <span>{{"goals_perc_of_the_goal" | translate}},</span> <span class="project-stats-detail-number">{{($ctrl.wordsRemaining | number: 0)}}</span> <span>{{"goals_words_left" | translate}}</span>
                      </div> 
                    </td>
              </tr>
              <tr ng-if="$ctrl.wordsPerDayGoal && $ctrl.includeSupporterEditionItems">
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{"goals_words_per_day_goal" | translate}}</span><span class="project-stats-number text-primary">{{($ctrl.wordsPerDayGoal | number: 0)}}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                    <span class="project-stats-detail-number">{{($ctrl.wordsWrittenToday | number: 0)}}</span> <span>{{"goals_words_written_today" | translate}},</span> <span class="project-stats-detail-number">{{($ctrl.wordsWrittenYesterday | number: 0)}}</span> <span>{{"goals_words_written_yesterday" | translate}},</span> <span class="project-stats-detail-number">{{($ctrl.averageLastSevenDays | number: 0)}}</span> <span>{{"goals_words_written_average_last_7_days" | translate}}, <a ng-click="$ctrl.wordsWrittenHistory()">{{"goals_show_history" | translate}}<sefeaturemarker ng-if="$root.ed==='ce'"></sefeaturemarker></a>.</span>
                  </td>
              </tr>
              <tr ng-if="$ctrl.deadline && $ctrl.includeSupporterEditionItems">
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{"goals_deadline" | translate}}</span><span class="project-stats-number text-primary">{{'date_format' | translate:{date:$ctrl.deadline} }}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                    <span class="project-stats-detail-number">{{($ctrl.daysLeft | number: 0)}}</span> <span>{{"goals_days_left" | translate}}</span>
                  </td>
              </tr>
              <tr>
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{'common_strands_low' | translate}}</span><span class="project-stats-number text-primary">{{$ctrl.narrativeStrands}}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                      <progressstatsbar 
                      completed="$ctrl.narrativeStrandsCompleted",
                      tocomplete="$ctrl.narrativeStrandsTocomplete",
                      todo="$ctrl.narrativeStrandsTodo",
                      total="$ctrl.narrativeStrands">
                    </progressstatsbar>  
                  </td>
              </tr>
              <tr>
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{'jsp.menu.chapters' | translate}}</span><span class="project-stats-number text-primary">{{$ctrl.chapters}}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                      <progressstatsbar 
                      completed="$ctrl.chaptersCompleted",
                      tocomplete="$ctrl.chaptersTocomplete",
                      todo="$ctrl.chaptersTodo",
                      total="$ctrl.chapters">
                    </progressstatsbar>  
                  </td>
              </tr>
              <tr>
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{'common_scenes_low' | translate}}</span><span class="project-stats-number text-primary">{{$ctrl.scenes}}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                      <progressstatsbar 
                      completed="$ctrl.scenesCompleted",
                      tocomplete="$ctrl.scenesTocomplete",
                      todo="$ctrl.scenesTodo",
                      total="$ctrl.scenes">
                    </progressstatsbar>  
                  </td>
              </tr>
              <tr>
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{'common_main_characters_low' | translate}}</span><span class="project-stats-number text-primary">{{$ctrl.mainCharacters}}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                      <progressstatsbar 
                      completed="$ctrl.mainCharactersCompleted",
                      tocomplete="$ctrl.mainCharactersTocomplete",
                      todo="$ctrl.mainCharactersTodo",
                      total="$ctrl.mainCharacters">
                    </progressstatsbar>
                  </td>
              </tr>
              <tr>
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{'common_secondary_characters_low' | translate}}</span><span class="project-stats-number text-primary">{{$ctrl.secondaryCharacters}}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                      <progressstatsbar 
                      completed="$ctrl.secondaryCharactersCompleted",
                      tocomplete="$ctrl.secondaryCharactersTocomplete",
                      todo="$ctrl.secondaryCharactersTodo",
                      total="$ctrl.secondaryCharacters">
                    </progressstatsbar>
                  </td>
              </tr>
              <tr>
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{'jsp.menu.locations' | translate}}</span><span class="project-stats-number text-primary">{{$ctrl.locations}}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                      <progressstatsbar 
                        completed="$ctrl.locationsCompleted",
                        tocomplete="$ctrl.locationsTocomplete",
                        todo="$ctrl.locationsTodo",
                        total="$ctrl.locations">
                      </progressstatsbar>
                  </td>
              </tr>
              <tr ng-if="$ctrl.includeSupporterEditionItems">
                  <td class="col-sm-5 text-right">
                      <span class="project-stats-item">{{'jsp.menu.objects' | translate}}</span><span class="project-stats-number text-primary">{{$ctrl.objects}}</span>
                  </td>
                  <td class="col-sm-7 text-left">
                      <progressstatsbar 
                      completed="$ctrl.objectsCompleted",
                      tocomplete="$ctrl.objectsTocomplete",
                      todo="$ctrl.objectsTodo",
                      total="$ctrl.objects">
                    </progressstatsbar>
                  </td>
              </tr>
              <tr ng-if="$ctrl.includeSupporterEditionItems">
                <td class="col-sm-5 text-right">
                    <span class="project-stats-item">{{'jsp.menu.groups' | translate}}</span><span class="project-stats-number text-primary">{{$ctrl.groups}}</span>
                </td>
                <td class="col-sm-7 text-left">
                    <progressstatsbar 
                    completed="$ctrl.groupsCompleted",
                    tocomplete="$ctrl.groupsTocomplete",
                    todo="$ctrl.groupsTodo",
                    total="$ctrl.groups">
                  </progressstatsbar>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>

<pagefooter ng-if="!$ctrl.loadingDictionary" buttonlabel="goals_button"
  buttonfunction="$ctrl.goals()" buttonshow="!$ctrl.showMotivational" buttonstyle="primary"
  tipcode="backupTip" tipenabled="!$ctrl.showMotivational && !$ctrl.loadingDictionary" 
  dropdownopen="up" dropdownitems="$ctrl.actionitems" supportersonly="true">
</pagefooter>