<div class="detail-header">
    <div class="container">
        <div class="row">
            <breadcrumb items="$ctrl.breadcrumbitems"></breadcrumb>
        </div>
        <div class="row">
            <pageheader headertitle="jsp.project.dialog.title.suggestions" 
                buttonlabel="jsp.common.button.back" buttonfunction="$ctrl.back()"
                buttonshow="true" buttonstyle="default">
            </pageheader>
        </div>
    </div>
</div>
<div class="tips">
<div class="container">
    <div class="row">
        <ul class="timeline">
            <tip even="false" icon="users"
                type="characters"
                paragraphs="['jsp.suggestions.characters.p1',
                    'jsp.suggestions.characters.p2',
                    'jsp.suggestions.characters.p3',
                    'jsp.suggestions.characters.p4']"></tip>
            <tip even="true" icon="fire"
                type="conflict" 
                paragraphs="['jsp.suggestions.conflict.p1',
                    'jsp.suggestions.conflict.p2',
                    'jsp.suggestions.conflict.p3',
                    'jsp.suggestions.conflict.p4']"></tip>
            <tip even="false" icon="compass"
                type="premise" 
                paragraphs="['jsp.suggestions.premise.p1',
                    'jsp.suggestions.premise.p2',
                    'jsp.suggestions.premise.p3',
                    'jsp.suggestions.premise.p4']"></tip>
            <tip even="true" icon="image"
                type="setting" 
                paragraphs="['jsp.suggestions.setting.p1',
                    'jsp.suggestions.setting.p2',
                    'jsp.suggestions.setting.p3']"></tip>
            <tip even="false" icon="clock-o"
                type="fabula" 
                paragraphs="['jsp.suggestions.fabula.p1',
                    'jsp.suggestions.fabula.p2',
                    'jsp.suggestions.fabula.p3']"></tip>
            <tip even="true" icon="eye"
                type="pointofview" 
                paragraphs="['jsp.suggestions.pointofview.p1',
                    'jsp.suggestions.pointofview.p2',
                    'jsp.suggestions.pointofview.p3',
                    'jsp.suggestions.pointofview.p4', 
                    'jsp.suggestions.pointofview.p5', 
                    'jsp.suggestions.pointofview.p6',
                    'jsp.suggestions.pointofview.p7']"></tip>
        </ul>
    </div>
</div>
</div>