<div class="detail-header">
    <div class="container">
        <div class="row">
            <breadcrumb items="$ctrl.breadcrumbitems"></breadcrumb>
        </div>
        <div class="row">
            <pageheader headertitle="jsp.project.dialog.title.suggestions" 
                buttonlabel="jsp.common.button.back" buttonfunction="$ctrl.back()"
                buttonshow="true" buttonstyle="default">
            </pageheader>
        </div>
    </div>
</div>
<div class="tips">
<div class="container">
    <div class="row">
        <ul class="timeline">
            <tip even="false" icon="users"
                type="characters" paragraphs="4"></tip>
            <tip even="true" icon="fire"
                type="conflict" paragraphs="4"></tip>
            <tip even="false" icon="compass"
                type="premise" paragraphs="4"></tip>
            <tip even="true" icon="image"
                type="setting" paragraphs="3"></tip>
            <tip even="false" icon="clock-o"
                type="fabula" paragraphs="3"></tip>
            <tip even="true" icon="eye"
                type="pointofview" paragraphs="7"></tip>
        </ul>
    </div>
</div>
</div>