<div class="container">
  <cardgrid
    carddimension="normal"
    dndenabled="true"
    dropfunction="$ctrl.move(draggedObjectId, destinationObjectId)"
    jumbotronbuttontext="jsp.chapters.bibiscoEmptyThumbnailListBox.text"
    jumbotronbuttonbuttonlabel="jsp.chapters.a.createFirstChapter"
    jumbotronbuttonbuttonfunction="$ctrl.createChapter()"
    items="$ctrl.cardgriditems"
    pageheaderbuttonlabel="jsp.chapters.a.createChapter"
    pageheaderbuttonfunction="$ctrl.createChapter()"
    pageheadertitle="jsp.chapters.h1"
    type="full"></cardgrid>
</div>
