<elementdetail
  breadcrumbitems="$ctrl.breadcrumbitems"
  changetitleenabled="false"
  characters="$ctrl.chapterinfo.characters"
  content="$ctrl.chapterinfo.text"
  deleteenabled="false"
  editmode="$ctrl.mode === 'edit'"
  editfunction="$ctrl.edit()"
  eventname="SHOW_ELEMENT_DETAIL"
  eventsenabled="false"
  headersubtitle="{{$ctrl.subtitle}}"
  headertitle="{{$ctrl.title}}"
  imagesenabled="false"
  lastsave="$ctrl.chapterinfo.lastsave"  
  readfunction="$ctrl.read()"
  savefunction="$ctrl.savefunction()"
  taskstatus="$ctrl.chapterinfo.status"
  taskstatuschangefunction="$ctrl.changeStatus(status)"
  words="$ctrl.chapterinfo.words"
  wordscharactersenabled="true">
</elementdetail>
