<detailheader
  breadcrumbitems="$ctrl.breadcrumbitems" editmode="false"
  headertitle="{{$ctrl.title}}" taskstatusreadonly="true"
  taskstatus="$ctrl.chapter.status">
</detailheader>

<div class="detail-content-no-header-subtitle">
  <div class="container" style="height: 100%;">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
        <card cardid="$ctrl.chapterreason.$loki" cardtitle="jsp.chapter.thumbnail.reason.title"
          dimension="normal"
          dndenabled="false"
          family="chapterreason"
          selectfunction="$ctrl.selectChapterInfo(id)"
          text="jsp.chapter.thumbnail.reason.description"
          status="$ctrl.chapterreason.status"></card>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-3">
        <card cardid="$ctrl.chapternotes.$loki" cardtitle="jsp.chapter.thumbnail.notes.title"
          dimension="normal"
          dndenabled="false"
          family="chapternote"
          selectfunction="$ctrl.selectChapterInfo(id)"
          text="jsp.chapter.thumbnail.notes.description"></card>
      </div>
    </div>
  </div>
</div>

<!-- SCENES -->
<div class="container">
  <cardgrid
    carddimension="normal"
    dndenabled="true"
    dropfunction="$ctrl.moveScene(draggedObjectId, destinationObjectId)"
    family="scenes"
    emptylisttext="jsp.chapter.bibiscoEmptyThumbnailListBox.text"
    emptylistbuttonlabel="jsp.chapter.a.createFirstScene"
    emptylistbuttonfunction="$ctrl.createScene()"
    items="$ctrl.scenescardgriditems"
    pageheaderbuttonlabel="jsp.chapter.a.createScene"
    pageheaderbuttonfunction="$ctrl.createScene()"
    pageheadertitle="jsp.chapter.scene.h2"
    selectfunction="$ctrl.selectScene(id)"
    type="half-bottom-detail">
  </cardgrid>
</div>

<detailfooter autosaveenabled="false" backfunction="$ctrl.back()"
  changetitleenabled="true" changetitlefunction="$ctrl.changeTitle()"
  changetitlelabel="jsp.chapter.button.updateTitle"
  deleteconfirmmessage="jsp.chapters.delete.confirm" deleteenabled="true"
  deleteforbidden="false" deletefunction="$ctrl.delete()" editmode="false"
  imagesenabled="false" showprojectexplorer="false"
  wordscharactersenabled="true">
</detailfooter>
