<detailheader breadcrumbitems="$ctrl.breadcrumbitems" 
  headertitle="{{$ctrl.title}}" 
  headertipcode="sceneTip"
  headertipenabled="!$ctrl.editmode"
  taskstatus="$ctrl.scene.status" 
  taskstatuschangefunction="$ctrl.changeStatus(status)">
</detailheader>

<detailcontent 
  autosaveenabled="$ctrl.autosaveenabled" 
  characters="$ctrl.scenerevision.characters" 
  content="$ctrl.content" 
  editmode="$ctrl.editmode"
  showprojectexplorer="$ctrl.showprojectexplorer" 
  words="$ctrl.scenerevision.words">
</detailcontent>

<div class="detail-footer bibiscoNotSelectableText">
  <div class="container">
    <detailfootertop 
      autosaveenabled="$ctrl.autosaveenabled" 
      characters="$ctrl.scenerevision.characters" 
      editmode="$ctrl.editmode" 
      lastsave="$ctrl.scene.lastsave" 
      words="$ctrl.scenerevision.words" 
      wordscharactersenabled="true">
    </detailfootertop>
    <div class="row">
      <span class="pull-left">
        <projectexplorerbutton 
          showprojectexplorer="$ctrl.showprojectexplorer" 
          visible="$ctrl.editmode || $ctrl.scenerevision.words > 0">
        </projectexplorerbutton>
        <button ng-if="!$ctrl.editmode" 
          type="button" 
          class="btn btn-default" 
          uib-tooltip="{{'tags_tooltip'+$root.os | translate}}"
          ng-click="$ctrl.tags()">{{'jsp.scene.button.tags' | translate}}</button>
        <revisionselect ng-if="!$ctrl.editmode" 
          class="btn-group" 
          revisionactive="$ctrl.scene.revision" 
          revisioncount="$ctrl.scene.revisions.length" 
          revisionenabled="true" 
          revisionfunction="$ctrl.changerevision(action,revision)">
        </revisionselect>
      </span>
      <span class="pull-right">
        <dropdownmenu 
          buttonlabel="jsp.common.button.more" 
          items="$ctrl.actionitems" 
          open="up"
          visible="!$ctrl.editmode">
        </dropdownmenu>
        <editsavebackbuttonbar 
          autosaveenabled="$ctrl.autosaveenabled" 
          editbuttonvisible="$ctrl.scenerevision.words > 0" 
          editfunction="$ctrl.edit()"
          editmode="$ctrl.editmode" 
          savefunction="$ctrl.save()">
        </editsavebackbuttonbar>
      </span>
    </div>
  </div>
</div>