<detailheader breadcrumbitems="$ctrl.breadcrumbitems"
  editmode="$ctrl.editmode"
  headertitle="{{$ctrl.headertitle}}"
  taskstatus="$ctrl.taskstatus"
  taskstatuschangefunction="$ctrl.taskstatuschangefunction({status})">
</detailheader>

<detailcontent
  autosaveenabled="$ctrl.autosaveenabled"
  characters="$ctrl.characters"
  content="$ctrl.content"
  dirty="$ctrl.dirty"
  editmode="$ctrl.editmode"
  savefunction="$ctrl.savefunction()"
  showprojectexplorer="true"
  words="$ctrl.words">
</detailcontent>

<detailfooter
  autosaveenabled="$ctrl.autosaveenabled"
  backfunction="$ctrl.backfunction()"
  changetitleenabled="true"
  changetitlefunction="$ctrl.changetitlefunction()"
  changetitlelabel="{{$ctrl.changetitlelabel}}"
  deleteconfirmmessage="{{$ctrl.deleteconfirmmessage}}"
  deleteenabled="true"
  deleteforbidden="$ctrl.deleteforbidden"
  deleteforbiddenmessage="{{$ctrl.deleteforbiddenmessage}}"
  deletefunction="$ctrl.deletefunction()"
  dirty="$ctrl.dirty"
  editmode="$ctrl.editmode"
  characters="$ctrl.characters"
  imagesenabled="false"
  lastsave="$ctrl.lastsave"
  savefunction="$ctrl.savefunction()"
  showprojectexplorer="true"
  words="$ctrl.words"
  wordscharactersenabled="true">
</detailfooter>
