<detailheader 
breadcrumbitems="$ctrl.breadcrumbitems" 
  headertitle="jsp.scene.title.tags">
</detailheader>

<div class="scrollable-box-full-height-page-with-breadcrumb-header-footer">

    <!-- POINT OF VIEW -->
    <div class="top15 col-sm-12">
      <blockquote>
        <i class="page-header-subtitle page-subheader-truncate-title bibiscoNotSelectableText">
      {{'jsp.scene.pointOfView.subtitle' | translate}}</i>
      </blockquote>
    </div>
 
    <div class="col-sm-offset-1 col-sm-10">
      <button ng-repeat="pov in $ctrl.povs track by $index" type="button"
        ng-class="{ 'btn-info': pov.selected, 'btn-unselected': !pov.selected }"
        class="btn btn-sm scene-tags-button"
        uib-popover="{{'common_pointOfView_'+pov.id+'.popover' | translate}}"
        popover-placement="bottom" popover-trigger="'mouseenter'"
        ng-click="$ctrl.togglePov(pov.id)">
        {{'common_pointOfView_'+pov.id | translate}}
    </div>
  
    <div class="top30 col-sm-12" ng-if="$ctrl.showpovcharacter">
      <blockquote>
        <i class="page-header-subtitle page-subheader-truncate-title bibiscoNotSelectableText">
      {{'jsp.scene.label.pointOfView.character' | translate}}</i>
      </blockquote>
    </div>

    <div class="col-sm-offset-1 col-sm-10" ng-if="$ctrl.showpovcharacter">
      <button ng-repeat="character in $ctrl.povcharacters track by $index" type="button"
        ng-class="{ 'btn-info': character.selected, 'btn-unselected': !character.selected }"
        class="btn btn-sm scene-tags-button"
        ng-click="$ctrl.togglePovCharacter(character.id)">
        {{character.name}}
      </button>
    </div>
    
    <!-- CHARACTERS -->
    <div class="top30 col-sm-12">
      <blockquote>
        <i class="page-header-subtitle page-subheader-truncate-title bibiscoNotSelectableText">
      {{'jsp.scene.characters.subtitle' | translate}}</i>
      </blockquote>
    </div>
    <div class="col-sm-offset-1 col-sm-10">
      <button ng-repeat="character in $ctrl.scenecharacters track by $index" type="button"
        ng-class="{ 'btn-info': character.selected, 'btn-unselected': !character.selected }"
        class="btn btn-sm scene-tags-button"
        ng-click="$ctrl.toggleSceneCharacter(character.id)">
        {{character.name}}
      </button>
    </div>

    <!-- LOCATION -->
    <div class="top30 col-sm-12">
      <blockquote>
        <i class="page-header-subtitle page-subheader-truncate-title bibiscoNotSelectableText">
      {{'jsp.scene.location.subtitle' | translate}}</i>
      </blockquote>
    </div>
    <div class="col-sm-offset-1 col-sm-10">
      <button ng-repeat="location in $ctrl.locations track by $index" type="button"
        ng-class="{ 'btn-info': location.selected, 'btn-unselected': !location.selected }"
        class="btn btn-sm scene-tags-button" ng-click="$ctrl.toggleLocation(location.id)">
        {{location.name}}
      </button>
    </div>

    <!-- OBJECTS -->
    <div class="top30 col-sm-12">
      <blockquote>
        <i class="page-header-subtitle page-subheader-truncate-title bibiscoNotSelectableText">
          {{'objects' | translate}}</i>
      </blockquote>
    </div>
    <div class="col-sm-offset-1 col-sm-10">
      <button ng-repeat="object in $ctrl.objects track by $index" type="button" 
        ng-class="{ 'btn-info': object.selected, 'btn-unselected': !object.selected }" 
        class="btn btn-sm scene-tags-button"
        ng-click="$ctrl.toggleObject(object.id)">
        {{object.name}}
      </button>
    </div>

    <!-- TIME -->
    <div class="top30 col-sm-12">
      <blockquote>
        <i class="page-header-subtitle page-subheader-truncate-title bibiscoNotSelectableText">
      {{'jsp.scene.time.subtitle' | translate}}</i>
      </blockquote>
    </div>
    <div>
      <datetimeselect 
          buttongroupcols="5"
          inputcols="4"
          lastdatetimeselected="$ctrl.lastscenetime"
          offsetcols="1"
          opencalendardirection="up"
          time="$ctrl.workingscenerevision.time"
          timegregorian="$ctrl.workingscenerevision.timegregorian">
      </datetimeselect>
    </div>

    <!-- STRANDS -->
    <div class="top30 col-sm-12">
      <blockquote>
        <i class="page-header-subtitle page-subheader-truncate-title bibiscoNotSelectableText">
      {{'jsp.scene.strands.subtitle' | translate}}</i>
      </blockquote>
    </div>
    <div class="col-sm-offset-1 col-sm-10">
      <button ng-repeat="strand in $ctrl.strands track by $index" type="button"
        ng-class="{ 'btn-info': strand.selected, 'btn-unselected': !strand.selected}"
        class="btn btn-sm scene-tags-button" ng-click="$ctrl.toggleStrand(strand.id)">
        {{strand.name}}
      </button>
    </div>

</div>

<div class="detail-footer bibiscoNotSelectableText">
  <div class="row">
    <hr />
  </div>
  <div class="row">
    <span class="pull-right">
      <button type="button" class="btn btn-primary" ng-disabled="!$root.dirty"
        uib-tooltip="{{'save_tooltip'+$root.os | translate}}"
        ng-click="$ctrl.save()">
        <span ng-if="$ctrl.saving"><i class="fa fa-circle-o-notch fa-spin"></i></span>
        <span>{{"jsp.common.button.save" | translate}}</span>
      </button>
    <buttonback></buttonback>
    </span>
  </div>
</div>
