<ng-quill-editor ng-model="title" on-editor-created="$ctrl.editorCreated(editor)">
  <ng-quill-toolbar>
    <div>
      <span class="ql-formats">
        <button ng-click="$ctrl.undo()"><i class="fa fa-rotate-left" aria-hidden="true"></i></button>
        <button ng-click="$ctrl.redo()"><i class="fa fa-rotate-right" aria-hidden="true"></i></button>
      </span>
      <span class="ql-formats">
        <button ng-click="$ctrl.copy()"><i class="fa fa-copy" aria-hidden="true"></i></button>
        <button ng-click="$ctrl.cut()"><i class="fa fa-cut" aria-hidden="true"></i></button>
        <button ng-click="$ctrl.paste()"><i class="fa fa-paste" aria-hidden="true"></i></button>
      </span>
      <span class="ql-formats">
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-underline"></button>
          <button class="ql-strike"></button>
          <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"/>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"/>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"/>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"/>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"/>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"/>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"/>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"/>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"/>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"/>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"/>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"/>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"/>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"/>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"/>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"/>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"/>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"/>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"/>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"/>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"/>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"/>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"/>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"/>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"/>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"/>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"/>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"/>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"/>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"/>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"/>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"/>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"/>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"/>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"/>
          </select>
      </span>
      <span class="ql-formats">
        <button ng-click="$ctrl.leftguillemet()"><strong>&laquo;</strong></button>
        <button ng-click="$ctrl.rightguillemet()"><strong>&raquo;</strong></button>
        <button ng-click="$ctrl.emdash()"><strong>&mdash;</strong></button>
      </span>
      <span class="ql-formats">
          <button type="button" class="ql-list" value="ordered"></button>
          <button type="button" class="ql-list" value="bullet"></button>
      </span>
      <span class="ql-formats">
          <select class="ql-align">
              <option selected></option>
              <option value="center"></option>
              <option value="right"></option>
              <option value="justify"></option>
          </select>
      </span>
      <span class="ql-formats">
          <button type="button" class="ql-indent" value="-1"></button>
          <button type="button" class="ql-indent" value="+1"></button>
      </span>
    </div>
  </ng-quill-toolbar>
</ng-quill-editor>
