<div class="container">
  <cardgrid
    carddimension="normal"
    dndenabled="true"
    dropfunction="$ctrl.move(draggedObjectId, destinationObjectId)"
    emptylisttext="jsp.locations.bibiscoEmptyThumbnailListBox.text"
    emptylistbuttonlabel="jsp.locations.a.createFirstLocation"
    emptylistbuttonfunction="$ctrl.create()"
    emptylistbuttontooltip="{{'location_firstcreate_tooltip'+$root.os}}"
    family="locations"
    items="$ctrl.cardgriditems"
    pageheaderbuttonhotkey="$ctrl.hotkeys"
    pageheaderbuttonlabel="jsp.locations.a.createLocation"
    pageheaderbuttonfunction="$ctrl.create()"
    pageheaderbuttontooltip="{{'location_create_tooltip'+$root.os}}"
    pageheadertitle="jsp.locations.h1"
    pageheadertipcode="locationsdndTip"
    selectfunction="$ctrl.select(id)"
    type="full"></cardgrid>
</div>
