<div ng-show="$ctrl.projecthomeActive">
  <projecthome></projecthome>
</div>
<div ng-show="$ctrl.architectureActive">
  <architecture></architecture>
</div>
<div ng-show="$ctrl.charactersActive">
  <characters></characters>
</div>
<div ng-show="$ctrl.locationsActive">
  <locations></locations>
</div>
<div ng-show="$ctrl.objectsActive">
  <objects></objects>
</div>
<div ng-show="$ctrl.chaptersActive">
  <chapters></chapters>
</div>
<div ng-if="$ctrl.timelineActive">
  <timeline></timeline>
</div>
<div ng-show="$ctrl.exportActive">
  <export></export>
</div>
<div ng-if="$ctrl.analysisActive">
  <analysis></analysis>
</div>
