<button ng-if="!$ctrl.editmode && $ctrl.editbuttonvisible" 
    type="button" class="btn btn-primary" 
    uib-tooltip="{{'edit_tooltip'+$root.os | translate}}"
    ng-click="$ctrl.enableeditmode()">{{"jsp.common.button.edit" | translate}}</button>

<button ng-if="$ctrl.editmode" type="button" class="btn btn-primary" 
    uib-tooltip="{{'save_tooltip'+$root.os | translate}}"
    ng-disabled="!$root.dirty" ng-click="$ctrl.save()">
    <span ng-if="$ctrl.saving">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </span>
    <span>{{"jsp.common.button.save" | translate}}</span>
</button>

<buttonback disabled="$ctrl.backdisabled"></buttonback>
