<button ng-if="!$ctrl.editmode && $ctrl.editbuttonvisible" 
    type="button" 
    class="btn btn-primary" 
    ng-click="$ctrl.enableeditmode()">{{"jsp.common.button.edit" | translate}}</button>

<button ng-if="$ctrl.editmode" type="button" class="btn btn-primary" 
    ng-disabled="!$root.dirty" ng-click="$ctrl.save()">
    <span ng-if="$ctrl.saving">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </span>
    <span>{{"jsp.common.button.save" | translate}}</span>
</button>

<button type="button" class="btn btn-default" 
    ng-click="$ctrl.back()">{{"jsp.common.button.back" | translate}}</button>
