<div ng-if="$ctrl.scenes.length > 0" ng-repeat="scene in $ctrl.scenes track by $index">
    <h5>{{scene.title}}</h5>
    <projectexplorersimpletext text="scene.revisions[scene.revision].text">
    </projectexplorersimpletext>
</div>
<div ng-if="$ctrl.scenes.length == 0">
    <i class="bibiscoNotSelectableText">{{ 'common_empty_section' | translate}}</i>
</div>
<hr>
<h5>{{'common_chapter_reason' | translate}}</h5>
<projectexplorersimpletext text="$ctrl.chapter.reason.text">
</projectexplorersimpletext>
<hr>
<h5>{{'common_chapter_notes' | translate}}</h5>
<projectexplorersimpletext text="$ctrl.chapter.notes.text">
</projectexplorersimpletext>