<projectexplorermaincharacterinfo 
    characterid="$ctrl.maincharacter.$loki"
    label="common_characters_personaldata"
    type="'personaldata'"
    info="$ctrl.maincharacter.personaldata">
</projectexplorermaincharacterinfo>

<hr>
<projectexplorermaincharacterinfo 
    characterid="$ctrl.maincharacter.$loki"
    label="common_characters_physionomy"
    type="'physionomy'" 
    info="$ctrl.maincharacter.physionomy">
</projectexplorermaincharacterinfo>

<hr>
<projectexplorermaincharacterinfo 
    characterid="$ctrl.maincharacter.$loki"
    label="common_characters_behaviors"
    type="'behaviors'" 
    info="$ctrl.maincharacter.behaviors">
</projectexplorermaincharacterinfo>

<hr>
<projectexplorermaincharacterinfo 
    characterid="$ctrl.maincharacter.$loki"
    label="common_characters_psychology"
    type="'psychology'" 
    info="$ctrl.maincharacter.psychology">
</projectexplorermaincharacterinfo>

<hr>
<projectexplorermaincharacterinfo 
    characterid="$ctrl.maincharacter.$loki"
    label="common_characters_ideas"
    type="'ideas'" 
    info="$ctrl.maincharacter.ideas">
</projectexplorermaincharacterinfo>

<hr>
<projectexplorermaincharacterinfo 
    characterid="$ctrl.maincharacter.$loki"
    label="common_characters_sociology"
    type="'sociology'" 
    info="$ctrl.maincharacter.sociology">
</projectexplorermaincharacterinfo>

<hr>
<projectexplorersimpletext 
    text="$ctrl.maincharacter.lifebeforestorybeginning.text"
    path="/maincharacters/{{$ctrl.maincharacter.$loki}}/infowithoutquestion/lifebeforestorybeginning/edit"
    sectiontitle="'common_characters_lifebeforestorybeginning'">
</projectexplorersimpletext>

<hr>
<projectexplorersimpletext 
    text="$ctrl.maincharacter.conflict.text"
    path="/maincharacters/{{$ctrl.maincharacter.$loki}}/infowithoutquestion/conflict/edit"
    sectiontitle="'common_characters_conflict'">
</projectexplorersimpletext>

<hr>
<projectexplorersimpletext 
    text="$ctrl.maincharacter.evolutionduringthestory.text" 
    path="/maincharacters/{{$ctrl.maincharacter.$loki}}/infowithoutquestion/evolutionduringthestory/edit"
    sectiontitle="'common_characters_evolutionduringthestory'">
</projectexplorersimpletext>

<hr>
<projectexplorerimages images="$ctrl.images">
</projectexplorerimages>