<h5><a ng-click="$ctrl.gotoElement()">{{ $ctrl.sectiontitle | translate}}</a></h5>
<div ng-if="$ctrl.text" ng-bind-html="$ctrl.text | trusted" class="project-explorer-text"></div>
<div ng-if="!$ctrl.text"><i class="bibiscoNotSelectableText">{{ 'common_empty_section' | translate}}</i></div>
<hr ng-if="$ctrl.images && $ctrl.images.length>0">
<projectexplorerimages images="$ctrl.images"></projectexplorerimages>
<hr ng-if="$ctrl.timeline && $ctrl.timeline.length>0">
<projectexplorerevents timeline="$ctrl.timeline"></projectexplorerevents>
