<h5>{{'common_characters_personaldata' | translate}}</h5>
<projectexplorermaincharacterinfo type="'personaldata'"
    info="$ctrl.maincharacter.personaldata">
</projectexplorermaincharacterinfo>

<hr>
<h5>{{'common_characters_physionomy' | translate}}</h5>
<projectexplorermaincharacterinfo type="'physionomy'" 
    info="$ctrl.maincharacter.physionomy">
</projectexplorermaincharacterinfo>

<hr>
<h5>{{'common_characters_behaviors' | translate}}</h5>
<projectexplorermaincharacterinfo type="'behaviors'" 
    info="$ctrl.maincharacter.behaviors">
</projectexplorermaincharacterinfo>

<hr>
<h5>{{'common_characters_psychology' | translate}}</h5>
<projectexplorermaincharacterinfo type="'psychology'" 
    info="$ctrl.maincharacter.psychology">
</projectexplorermaincharacterinfo>

<hr>
<h5>{{'common_characters_ideas' | translate}}</h5>
<projectexplorermaincharacterinfo type="'ideas'" 
    info="$ctrl.maincharacter.ideas">
</projectexplorermaincharacterinfo>

<hr>
<h5>{{'common_characters_sociology' | translate}}</h5>
<projectexplorermaincharacterinfo type="'sociology'" 
    info="$ctrl.maincharacter.sociology">
</projectexplorermaincharacterinfo>

<hr>
<h5>{{'common_characters_lifebeforestorybeginning' | translate}}</h5>
<projectexplorersimpletext text="$ctrl.maincharacter.lifebeforestorybeginning.text">
</projectexplorersimpletext>

<hr>
<h5>{{'common_characters_conflict' | translate}}</h5>
<projectexplorersimpletext text="$ctrl.maincharacter.conflict.text">
</projectexplorersimpletext>

<hr>
<h5>{{'common_characters_evolutionduringthestory' | translate}}</h5>
<projectexplorersimpletext text="$ctrl.maincharacter.evolutionduringthestory.text">
</projectexplorersimpletext>

<hr>
<projectexplorerimages images="$ctrl.images">
</projectexplorerimages>